.PickerButton
  +sanserif
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease, width $speed $ease
  height: rem(60)
  line-height: rem(60)
  padding: 0 rem(30)
  border: 1px solid
  text-align: center
.PickerButton[disabled]
  pointer-events: none
  opacity: 0.5

.isFollowingAll > .PickerButton
  background-color: black
  border-color: black
  color: white

.no-touch .PickerButton:hover
  background-color: #666
  border-color: #666
  color: white
.no-touch .PickerButton:hover > .SVGIcon g
  stroke: white

