.Navbar
  height: rem(140)
  background-color: rgba(black, 0.1)

.Navbar > a
  color: #aaa
  display: inline-block
  vertical-align: middle

.Navbar > a + a
  margin-left: rem(20)

.Navbar > .active:not(.tmp)
  border-bottom: 2px solid
  color: black

