.OnboardingHeader
  height: rem(240)
  background-color: white

.OnboardingHeader > a
  color: #aaa
  display: inline-block
  vertical-align: middle

.OnboardingHeader > a + a
  margin-left: rem(20)

