@import ../../styles/lib

main[data-pathname^="/onboarding"] .Panel
  padding-top: 0

@media(min-width: #{$break-2})
  main[data-pathname^="/onboarding"]
    margin-top: rem(160)
    padding-bottom: 0

// -------------------------------------

.CommunityPicker .Cards,
.PeoplePicker .Users
  margin-top: rem(20)

.CommunityPicker .PickerButton,
.PeoplePicker .PickerButton
  display: block
  width: 95%
  max-width: rem(640)
  margin: 0 auto

@media(min-width: #{$break-2})
  .CommunityPicker,
  .PeoplePicker
    padding-top: rem(20)
  .CommunityPicker .PickerButton,
  .PeoplePicker .PickerButton
    width: 100%

@media(min-width: #{$break-4})
  .CommunityPicker .StreamComponent,
  .PeoplePicker .StreamComponent
    padding: 0 rem(40) rem(40)

// -------------------------------------

.CoverPicker > .Cover,
.AvatarPicker > .Cover,
.InfoPicker > .Cover
  top: rem(150)

.CoverPicker > .Uploader
  position: fixed
  top: rem(150)
  left: 0
  right: 0
  z-index: 0
  padding-top: rem(20)
  text-align: center
  color: white

// These styles should eventually be applied to Cover
.CoverPicker > .Uploader:before
  content: ''
  transition: background-color $speed ease
  position: absolute
  top: 0
  left: 0
  right: 0
  padding-bottom: 56.25%
  background-color: transparent


@media(min-width: #{$break-2})
  .CoverPicker > .Cover,
  .AvatarPicker > .Cover,
  .InfoPicker > .Cover
    top: rem(110)
  .CoverPicker > .Uploader
    top: rem(320)
    padding-top: rem(40)

// -------------------------------------

.AvatarPicker,
.InfoPicker
  background-color: transparent

.AvatarPickerBody,
.InfoPickerBody
  min-height: calc(100vh - #{rem(270)})
  margin-top: rem(110)
  padding: rem(100) rem(10) rem(10)
  background-color: white


.AvatarPickerBody > .Avatar,
.InfoPickerBody > .Avatar
  pointer-events: none
  position: absolute
  top: rem(180)
  left: rem(20)
  width: rem(160)
  height: rem(160)

.AvatarPickerBody > .Uploader
  position: relative
  padding: rem(10)
  color: #aaa

.InfoPickerBody > .InfoForm
  padding: 0 rem(10)

@media(min-width: #{$break-2})
  .AvatarPickerBody,
  .InfoPickerBody
    min-height: calc(100vh - #{rem(320)})
    padding-top: rem(10)
    margin-top: rem(320)
  .AvatarPickerBody > .Avatar,
  .InfoPickerBody > .Avatar
    top: rem(20)
    left: 0
    margin-top: 0
    margin-left: 15%
  .AvatarPickerBody > .Uploader
    margin-left: 15%
    padding-top: rem(60)
    padding-left: rem(200)
  .InfoPickerBody > .InfoForm
    margin-left: 15%
    padding-left: rem(200)

@media(min-width: #{$break-4})
  .AvatarPickerBody > .Avatar,
  .AvatarPickerBody > .Uploader,
  .InfoPickerBody > .Avatar,
  .InfoPickerBody > .InfoForm
    margin-left: 25%

