@import ../../vendor/lib

.PickerButton
  +sans-typeset
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease, width $speed $ease
  height: rem(60)
  padding: 0 rem(30)
  line-height: rem(60)
  text-align: center
  border: 1px solid
.PickerButton[disabled]
  pointer-events: none
  opacity: 0.5

.isFollowingAll > .PickerButton
  background-color: black
  border-color: black
  color: white

.no-touch .PickerButton:hover
  background-color: #666
  border-color: #666
  color: white

