.Panel
  padding-top: rem(100)
  background-color: white

.Panel.UserDetail
  padding-top: 0
  margin-top: 56.25%

@media(min-width: #{$break-2})
  .Panel
    padding-top: rem(80)
  .Panel.UserDetail
    padding-top: 0

