main[data-pathname^="/onboarding"]
  padding-bottom: rem(80)

@media(min-width: #{$break-2})
  main[data-pathname^="/onboarding"]
    margin-top: rem(120)
    padding-bottom: 0

@media(max-width: #{$break-2-max})
  .CommunityPicker,
  .PeoplePicker,
  .AvatarPicker,
  .CoverPicker,
  .InfoPicker
    min-height: calc(100vh - 90px)

// -------------------------------------

.CommunityPicker .Cards,
.PeoplePicker .Users
  margin-top: rem(20)

.CommunityPicker > .Button,
.PeoplePicker > .Button
  display: block
  width: 95%
  max-width: rem(640)
  margin: 0 auto

.CommunityPicker.isFollowingAll > .Button,
.PeoplePicker.isFollowingAll > .Button
  background-color: black
  border-color: black
  color: white
  .no-touch &:hover
    background-color: #666
    border-color: #666
    color: white
    > .SVGIcon g
      stroke: white

@media(min-width: #{$break-2})
  .CommunityPicker,
  .PeoplePicker
    padding-top: rem(20)
  .CommunityPicker > .Button,
  .PeoplePicker > .Button
    width: 100%

@media(min-width: #{$break-4})
  .CommunityPicker .StreamComponent,
  .PeoplePicker .StreamComponent
    padding: 0 rem(40) rem(40)

// -------------------------------------
.CoverPicker > .Uploader
  position: fixed
  top: rem(120)
  left: 0
  right: 0
  z-index: 0
  text-align: center
  color: white
  // padding-bottom: 56.25%

// These styles should eventually be applied to Cover
.CoverPicker > .Uploader:before
  transition: background-color $speed ease
  content: ''
  position: fixed
  top: 0
  left: 0
  right: 0
  padding-bottom: 56.25%
  background-color: transparent

@media(min-width: #{$break-2})
  .CoverPicker > .Uploader
    top: rem(240)

// -------------------------------------

.AvatarPicker,
.InfoPicker
  padding-top: 0
  height: calc(100vh - 80px)
  background-color: white

.AvatarPicker > .Avatar,
.InfoPicker > .Avatar
  +circle(rem(160))
  margin-bottom: rem(20)
  margin-left: rem(10)
  pointer-events: none

.AvatarPicker > .Uploader
  position: relative
  padding: rem(10)
  color: #aaa

.InfoPicker > .InfoForm
  padding: rem(10)

@media(min-width: #{$break-2})
  .AvatarPicker,
  .InfoPicker
    height: calc(100vh - 240px)
    margin-top: 240px
  .AvatarPicker > .Avatar,
  .InfoPicker > .Avatar
    position: absolute
    top: rem(20)
    left: 0
    margin-bottom: 0
    margin-left: 15%
  .AvatarPicker > .Uploader
    padding-top: rem(60)
    padding-left: rem(200)
    margin-left: 15%
  .InfoPicker > .InfoForm
    padding-top: rem(40)
    padding-left: rem(200)
    margin-left: 15%

@media(min-width: #{$break-4})
  .AvatarPicker,
  .InfoPicker
    height: calc(100vh - 320px)
    margin-top: 320px
  .AvatarPicker > .Avatar,
  .AvatarPicker > .Uploader,
  .InfoPicker > .Avatar,
  .InfoPicker > .InfoForm
    margin-left: 25%

