@import ../../styles/lib

.ContentWarningButton
  +sans-typeset
  transition: color $speed
  padding-top: rem(10)
  padding-bottom: rem(10)
  color: #999

.no-touch .ContentWarningButton:hover
  color: black

.ContentWarningButtonStateLabel
  border-bottom: 1px solid
  margin-left: rem(5)

.PostDetail.View .ContentWarningButton
  display: none

