.Post .BubbleIcon > g,
.Post .FlagIcon > g,
.Post .RepostIcon > g,
.Post .ShareIcon > polyline
  stroke-linejoin: round

// The bubble loading state has some extra parts.
.Post .BubbleIcon > g:nth-child(2)
  fill: black
  stroke: black
  display: none

.Post .PencilIcon > g,
.Post .XBoxIcon > g
  transition-delay: $speed * 0.5, 0s, 0s
  stroke-linecap: square

// -------------------------------------
// PostTools

.no-touch .CommentTool > button:hover > .BubbleIcon > g,
.no-touch .LoveTool > button:hover > .HeartIcon > g
  fill: black

.LoveTool > button.active > .HeartIcon > g
  fill: red
  stroke: red
.no-touch .LoveTool > button.active:hover > .HeartIcon > g
  fill: #ff9999
  stroke: #ff9999

.ViewsTool .EyeIcon > g
  stroke: #535353
.ViewsTool .EyeIcon > circle
  transition: fill $speed ease, stroke $speed ease
  stroke: transparent
  fill: #535353
.no-touch .ViewsTool > a:hover > .EyeIcon > circle
  transition-delay: $speed2, 0s
  stroke: black
  fill: black

.no-touch .FlagTool > button:hover > .FlagIcon > g:nth-of-type(2)
  fill: black
  stroke: black

.no-touch .ShareTool > button:hover > .ShareIcon > g:nth-of-type(2)
  transform: translate3d(0,rem(-1),0)

.no-touch .DeleteTool > button:hover > .XBoxIcon > g:nth-of-type(2)
  transform: rotate(90deg)

