@mixin showTool
  opacity: 1
  pointer-events: auto

@mixin hideTool
  opacity: 0
  pointer-events: none

// -------------------------------------
// @see PostIcons for icon animations and coloring

.PostTools
  +monospace
  transition: transform $speed $ease
  height: rem(60)
  padding-top: rem(20)
  white-space: nowrap
  position: relative

.PostTool
  position: relative
  display: inline-block
  height: rem(20)
  line-height: rem(20)

.PostTool + .PostTool
  margin-left: rem(3)

.PostTool > a,
.PostTool > button
  color: #aaa
  transition: color $speed ease
  padding-left: rem(10)
  padding-right: rem(10)

.PostTool > a
  display: inline-block
  vertical-align: middle

.no-touch .PostTool a:hover,
.no-touch .PostTool button:hover
  color: black

// Specific tools
.ViewsTool
  height: rem(22)
  line-height: rem(22)

.ViewsTool > a
  transition: color $speed ease, background-color $speed ease
  padding-left: rem(11)
  padding-right: rem(11)
  border-radius: rem(11)
  background-color: #e8e8e8
  color: #535353
.no-touch .ViewsTool a:hover
  background-color: #ccc

.no-touch .LoveTool > button.active:hover
  color: #aaa

.TimeAgoTool > a
  padding-left: rem(15)
  padding-right: rem(15)

.PostTool .EyeIcon,
.PostTool .BubbleIcon,
.PostTool .HeartIcon
  margin-top: rem(-2)

.PostTool .RepostIcon,
.PostTool .PencilIcon,
.PostTool .ShareIcon
  margin-top: rem(-4)

.PostTool .XBoxIcon
  padding-left: rem(1)

.PostTool .SVGIcon + .PostToolValue
  margin-left: rem(2)

.ViewsTool .SVGIcon + .PostToolValue
  margin-left: rem(5)

.MoreTool
  transition: transform $speed $ease
  position: absolute
  z-index: 2
.Posts.asList .MoreTool
  right: -7px
.Posts.asGrid .MoreTool
  left: 270px
.MoreTool > button
  padding-right: 0

.ShyTool
  +hideTool
  transition: opacity $speed ease

.PostTools.isMoreToolActive
  transform: translate3d(rem(-120), 0, 0)

.PostTools.isMoreToolActive .MoreTool
  transform: translate3d(rem(120), 0, 0)
.PostTools.isMoreToolActive .MoreTool .SVGIcon g
  stroke: black

.PostTools.isMoreToolActive .ShyTool
  +showTool

.PostToolValue[data-count='0']
  display: none


// MAX width for hiding MOBILE in a GRID.
@media(max-width: #{em(449)})
  .Posts.asGrid .ShareTool
    display: none
@media(max-width: #{$break-2-max})
  .Posts.asGrid .CommentTool
    margin-left: -10px
  .Posts.asGrid .ViewsTool
    display: none

// MIN width
@media(min-width: #{em(375)})
  .PostTools.isMoreToolActive
    transform: translate3d(rem(-70), 0, 0)
  .PostTools.isMoreToolActive .MoreTool
    transform: translate3d(rem(70), 0, 0)
  .Posts.asList .TimeAgoTool.ShyTool
    +showTool

@media(min-width: #{em(450)})
  .Posts .MoreTool,
  .Posts.asGrid .ShyTool
    display: none
  .PostTools.isMoreToolActive,
  .PostTools.isMoreToolActive .MoreTool
    transform: none
  .Posts.asList .ShyTool
    +showTool

@media(min-width: #{$break-2})
  .no-touch .Posts.asList .ShyTool
    +hideTool
  .no-touch .Posts.asList .PostTools:hover .ShyTool
    +showTool
  // .Posts.asGrid .TimeAgoTool.ShyTool
  //   display: inline-block
  //   +showTool

