@import "../../lib/styles/properties.css";

/* stylelint-disable selector-no-qualifying-type, selector-max-specificity, selector-max-compound-selectors */

/* // ------------------------------------- */

.PostTools {
  position: relative;
  height: 60px;
  padding-top: 20px;
  font-size: 14px;
  white-space: nowrap;
  transition: transform var(--speed) var(--ease);
}

.PostTool {
  position: relative;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  transition: transform var(--speed) var(--ease);
}

/* .PostTool + .PostTool { */
/*   margin-left: 3px; */
/* } */

.PostTool > a,
.PostTool > button {
  padding-right: 8px;
  padding-left: 8px;
  color: #aaa;
  transition: color var(--speed) ease;
}

.PostTool:not([data-count="0"]) > button.hasPostToolDrawer {
  padding-right: 5px !important;
}

.PostTool > button.PostToolDrawerButton {
  padding-left: 0 !important;
}

.PostDetailStreamContainer .CommentTool,
.PostDetailStreamContainer .PostToolDrawerButton,
.PostTool[data-count="0"] > button.PostToolDrawerButton {
  display: none;
}

.PostTool > a {
  vertical-align: middle;
}

.no-touch .PostTool a:hover,
.no-touch .PostTool button:hover {
  color: #000;
}

/* // Specific tools */
.ViewsTool {
  margin-left: -8px;
}

.ViewsTool.isPill {
  height: 22px;
  margin-right: 10px;
  margin-left: 0;
  line-height: 22px;
}

.ViewsTool.isPill > a {
  padding-right: 11px;
  padding-left: 11px;
  color: #535353;
  background-color: #e8e8e8;
  border-radius: 11px;
  transition: color var(--speed) ease, background-color var(--speed) ease;
}

.ViewsTool.isPill > a .SVGIcon,
.ViewsTool.isPill > a .PostToolValue {
  position: relative;
  top: 1px;
}

.no-touch .ViewsTool.isPill a:hover {
  background-color: #ccc;
}

.no-touch .LoveTool > button.isActive:hover {
  color: #aaa;
}

.PostTool .SVGIcon + .PostToolValue {
  margin-left: 5px;
}

.ViewsTool .Hint {
  left: 10px;
}

/* This is actually in the PostContainer */
.WatchTool.isPill {
  position: absolute;
  right: 0;
  display: none;
  height: 22px;
  margin-top: 15px;
  line-height: 22px;
  color: #fff;
}

.isCommentsActive ~ .WatchTool.isPill {
  display: inline-block;
}

.isLoggedIn .PostDetail .WatchTool.isPill {
  position: static;
  display: inline-block;
  margin-top: 0;
  margin-left: -7px;
}

.WatchTool.isPill > button > .SVGIcon {
  position: absolute;
  right: 10px;
  z-index: 1;
  transform: scale(0.8);
}

.WatchTool.isPill > button > .SVGIcon > g {
  fill: #fff;
  stroke: #fff;
}

.WatchTool.isPill > button > .Hint {
  position: static;
  display: inline-block;
  padding-right: 20px;
  visibility: visible;
  background-color: #aaa;
  border-color: #aaa;
  opacity: 1;
}

.WatchTool.isPill.isWatchingPost > button > .Hint {
  background-color: #000;
  border-color: #000;
}

.ShareTool {
  position: absolute;
  top: 19px;
  right: -10px;
}

.ShareTool .Hint {
  left: calc(-100% - 2px);
}

.ShareTool.isPill {
  right: 0;
  height: 22px;
  line-height: 22px;
}

.ShareTool.isPill > button {
  padding-right: 11px;
  padding-left: 11px;
  background-color: #e8e8e8;
  border-radius: 11px;
  transition: color var(--speed) ease, background-color var(--speed) ease;
}

.no-touch .ShareTool.isPill > button:hover {
  background-color: #ccc;
}

.ShareTool.isPill > button > .Hint {
  position: static;
  display: inline-block;
  padding: 0;
  color: #535353;
  visibility: visible;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  opacity: 1;
}

.no-touch .ShareTool.isPill > button:hover > .Hint {
  color: #000;
  transition-delay: 0s;
  transition-duration: var(--speed);
}

.ShyTool {
  @apply --hide-tool;
  transition: opacity var(--speed) ease;
}

.Posts .TimeAgoTool {
  display: none;
}

/* // MAX WIDTH for hiding MOBILE in a GRID. 449 / 16 = 28.0625em */
@media (max-width: 28.0625em) {
  .Posts.asGrid .ShareTool {
    display: none;
  }
}

@media (--break-2-max) {
  .Posts.asGrid .CommentTool {
    margin-left: -10px;
  }

  .Posts.asGrid .ViewsTool {
    display: none;
  }

  .Posts.asList .PostTools .EditTool,
  .Posts.asList .PostTools .DeleteTool,
  .PostDetail .Posts.asList .PostTools .ShyTool {
    @apply --show-tool;
  }
}

/* // MIN WIDTH  450 / 16 = 28.125em */
@media (min-width: 28.125em) {
  .Posts.asGrid .ShyTool {
    display: none;
  }

  .Posts.asList .ShyTool {
    @apply --show-tool;
  }
}

@media (--break-2) {
  .no-touch .Posts.asList .ShyTool {
    @apply --hide-tool;
  }

  .no-touch .Posts.asList .PostTools:hover .ShyTool {
    @apply --show-tool;
  }

  .Posts.asList .TimeAgoTool {
    display: inline-block;
  }

  .Posts.asList .ShareTool {
    position: static;
    top: auto;
    right: auto;
  }

  .Posts.asList .ShareTool .Hint {
    left: 0;
  }
}

@media (--break-3) {
  .Posts.asList .PostTool > a,
  .Posts.asList .PostTool > button {
    padding-right: 12px;
    padding-left: 12px;
  }

  .Posts.asList .ViewsTool.isPill {
    margin-right: 15px;
  }
}
/* stylelint-enable selector-no-qualifying-type, selector-max-specificity, selector-max-compound-selectors */

