@import ../../vendor/lib

.PostHeader,
.CategoryHeader,
.RepostHeader
  +sans-typeset
  position: relative
  height: rem(60)
  color: #aaa

.PostHeaderAuthor,
.CategoryHeaderAuthor,
.RepostHeaderAuthor,
.CategoryHeaderCategory,
.RepostHeaderReposter
  position: relative

.PostHeaderAuthor,
.RepostHeaderAuthor,
.CategoryHeaderAuthor,
.PostHeader .RelationshipContainer,
.CategoryHeader .RelationshipContainer,
.RepostHeader .RelationshipContainer
  display: inline-block
  vertical-align: middle

.PostHeaderAuthor,
.CategoryHeaderAuthor,
.RepostHeaderAuthor
  max-width: calc(100% - #{rem(80)})

.PostHeader .RelationshipContainer,
.CategoryHeader .RelationshipContainer,
.RepostHeader .RelationshipContainer
  margin-left: rem(10)
  margin-top: rem(-2)

.PostHeaderLink
  vertical-align: middle
  max-width: 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.PostHeaderAuthor
  padding-left: rem(40)
  line-height: rem(60)

.CategoryHeaderAuthor,
.RepostHeaderAuthor
  padding-left: rem(40)
  line-height: rem(45)

.CategoryHeaderCategory,
.RepostHeaderReposter
  margin-top: rem(-12)
  margin-left: rem(40)
  line-height: rem(15)
  max-width: calc(100% - #{rem(120)})

.CategoryHeaderCategoryName
  text-decoration: underline

.PostHeader .Avatar,
.CategoryHeader .Avatar,
.RepostHeader .Avatar
  position: absolute
  top: rem(15)
  left: 0

.no-touch .PostHeaderLink:hover
  color: #535353

.PostHeaderTimeAgoLink
  position: absolute
  top: rem(20)
  right: 0
.no-touch .PostHeaderTimeAgoLink:hover
  color: #535353

// MIN WIDTH!!!
@media(min-width: #{$break-2})
  .PostHeader,
  .CategoryHeader,
  .RepostHeader
    height: rem(80)
  .PostHeaderAuthor
    padding-left: rem(60)
    line-height: rem(80)
  .CategoryHeaderAuthor,
  .RepostHeaderAuthor
    padding-left: rem(60)
    line-height: rem(60)
  .CategoryHeaderCategory,
  .RepostHeaderReposter
    margin-top: rem(-20)
    margin-left: rem(60)
    line-height: rem(20)
  .PostHeader .Avatar,
  .CategoryHeader .Avatar,
  .RepostHeader .Avatar
    top: rem(20)
  .PostHeaderTimeAgoLink
    top: rem(30)

@media(min-width: #{$break-3})
  .Posts.asList .PostHeaderTimeAgoLink
    display: none


// Don't show the relationship buttons in these specific conditions
.Following.MainView .PostHeader .RelationshipContainer,
.Starred.MainView .PostHeader .RelationshipContainer,
.UserDetail.MainView .PostHeader .RelationshipContainer[data-priority="friend"],
.UserDetail.MainView .PostHeader .RelationshipContainer[data-priority="noise"],
.UserDetail.MainView .PostHeader .RelationshipContainer[data-priority="self"]
  display: none

// MAX WIDTH!!!
@media(max-width: #{$break-2-max})
  .Posts.asGrid .PostHeaderTimeAgoLink,
  .Posts.asGrid .PostHeader .RelationshipContainer,
  .Posts.asGrid .CategoryHeader .RelationshipContainer,
  .Posts.asGrid .RepostHeader .RelationshipContainer
    display: none
  .Posts.asGrid .PostHeaderAuthor,
  .Posts.asGrid .CategoryHeaderAuthor,
  .Posts.asGrid .CategoryHeaderCategory,
  .Posts.asGrid .RepostHeaderAuthor,
  .Posts.asGrid .RepostHeaderReposter
    max-width: 100%

