.TextRegion
  max-width: rem(780)

.TextRegion.asHotRegion
  cursor: pointer

.ImageRegion
  display: block

.ImageRegion + .ImageRegion,
.ImageRegion + .EmbedRegion,
.EmbedRegion + .ImageRegion,
.EmbedRegion + .EmbedRegion
  margin-top: rem(10)

.TextRegion + .TextRegion,
.TextRegion + .ImageRegion,
.TextRegion + .EmbedRegion,
.ImageRegion + .TextRegion,
.EmbedRegion + .TextRegion
  margin-top: rem(20)

// Always get's rid of the first and last child's margin and protect against
// potentially nested elements
.RegionContent > *:first-of-type,
.RegionContent:first-child > *:first-of-type
  margin-top: 0

.RegionContent > *:last-of-type,
.RegionContent:last-child > *:last-of-type
  margin-bottom: 0

.ImageAttachment
  display: block
  background-color: rgba(black, 0.1)
  color: rgba(black, 0)

.TextRegion .hashtag-link
  transition: color $speed
  text-decoration: underline
  cursor: pointer

.no-touch .TextRegion .hashtag-link:hover
  color: #aaa

