.PostHeader,
.RepostHeader
  +monospace
  position: relative
  height: rem(60)

.PostHeaderAuthor,
.RepostHeaderAuthor,
.RepostHeaderReposter
  position: relative
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.PostHeaderAuthor
  padding-left: rem(40)
  line-height: rem(60)

.RepostHeaderAuthor
  padding-left: rem(40)
  line-height: rem(45)

.RepostHeaderReposter
  margin-top: rem(-12)
  margin-left: rem(40)
  line-height: rem(15)

.PostHeader .Avatar,
.RepostHeader .Avatar
  position: absolute
  top: rem(15)
  left: 0

.no-touch .PostHeaderLink
  transition: color $speed ease
.no-touch .PostHeaderLink:hover
  color: #999

@media(min-width: #{$break-2})
  .PostHeader,
  .RepostHeader
    height: rem(80)
  .PostHeaderAuthor
    padding-left: rem(60)
    line-height: rem(80)
  .RepostHeaderAuthor
    padding-left: rem(60)
    line-height: rem(60)
  .RepostHeaderReposter
    margin-top: rem(-20)
    margin-left: rem(60)
    line-height: rem(20)
  .PostHeader .Avatar,
  .RepostHeader .Avatar
    top: rem(20)

