.PostHeader,
.RepostHeader
  +monospace
  position: relative
  height: rem(60)

.PostHeader .Avatar,
.RepostHeader .Avatar
  position: absolute
  +circle(rem(30))
  top: rem(15)

.PostHeaderVitals,
.RepostHeaderVitals
  position: relative
  margin-left: rem(40)

.PostHeaderVitals
  line-height: rem(60)

.RepostHeaderVitals
  top: rem(10)
  line-height: rem(20)

.RepostAuthor,
.RepostReposter,
.PostHeaderVitals
  padding-right: rem(30)
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.no-touch .PostHeader a,
.no-touch .RepostHeader a
  transition: color $speed ease

.no-touch .PostHeader a:hover,
.no-touch .RepostHeader a:hover
  color: #999

@media(min-width: #{$break-2})
  .PostHeader,
  .RepostHeader
    height: rem(80)
  .PostHeader .Avatar,
  .RepostHeader .Avatar
    +circle(rem(40))
    top: rem(20)
  .PostHeaderVitals
    margin-left: rem(60)
    line-height: rem(80)
  .RepostHeaderVitals
    margin-left: rem(60)
    top: rem(20)
  .RepostAuthor,
  .RepostReposter,
  .PostHeaderVitals
    padding-right: rem(40)

