@import ../../styles/lib

@mixin showTool
  pointer-events: auto
  opacity: 1

@mixin hideTool
  pointer-events: none
  opacity: 0

// -------------------------------------
// @see PostIcons for icon animations and coloring

.PostTools
  +sans-typeset
  transition: transform $speed $ease
  position: relative
  height: rem(60)
  padding-top: rem(20)
  white-space: nowrap

.PostTool
  display: inline-block
  position: relative
  height: rem(20)
  line-height: rem(20)

// .PostTool + .PostTool
  margin-left: rem(3)

.PostTool > a,
.PostTool > button
  transition: color $speed ease
  padding-left: rem(8)
  padding-right: rem(8)
  color: #aaa


.PostTool:not([data-count='0']) > button.hasPostToolDrawer
  padding-right: rem(5) !important

.PostTool > button.PostToolDrawerButton
  padding-left: 0 !important

.PostTool[data-count='0'] > button.PostToolDrawerButton
  display: none

.PostTool > a
  vertical-align: middle

.no-touch .PostTool a:hover,
.no-touch .PostTool button:hover
  color: black

// Specific tools
.ViewsTool
  margin-left: rem(-8)
.ViewsTool.asPill
  margin-left: 0
  margin-right: rem(10)
  height: rem(22)
  line-height: rem(22)


.ViewsTool.asPill > a
  transition: color $speed ease, background-color $speed ease
  padding-left: rem(11)
  padding-right: rem(11)
  background-color: #e8e8e8
  border-radius: rem(11)
  color: #535353

.no-touch .ViewsTool.asPill a:hover
  background-color: #ccc

.no-touch .LoveTool > button.active:hover
  color: #aaa

.PostTool .EyeIcon,
.PostTool .BubbleIcon,
.PostTool .HeartIcon
  margin-top: rem(-2)

.PostTool .ShareIcon
  margin-top: rem(-2)

.PostTool .RepostIcon,
.PostTool .PencilIcon
  margin-top: rem(-4)

.PostTool .XBoxIcon
  padding-left: rem(1)

.PostTool .SVGIcon + .PostToolValue
  margin-left: rem(5)

.ViewsTool .Hint
  left: rem(10)

.ShareTool
  position: absolute
  top: rem(19)
  right: rem(10)

.ShareTool .Hint
  left: calc(-100% - 2px)

.ShareTool.asPill
  height: rem(22)
  line-height: rem(22)
  right: 0

.ShareTool.asPill > button
  transition: color $speed ease, background-color $speed ease
  background-color: #e8e8e8
  padding-left: rem(11)
  padding-right: rem(11)
  border-radius: rem(11)

.no-touch .ShareTool.asPill >  button:hover
  background-color: #ccc

.ShareTool.asPill .ShareIcon
  display: none

@media(min-width: #{em(560)})
  .ShareTool.asPill >  button > .Hint
    display: inline-block
    position: static
    padding: 0
    visibility: visible
    opacity: 1
    background-color: transparent
    border-radius: none
    border: 0
    color: #535353

.no-touch .ShareTool.asPill >  button:hover > .Hint
  color: black
  transition-duration: $speed
  transition-delay: 0s

.MoreTool
  transition: transform $speed $ease
  position: absolute
  z-index: 2
.Posts.asList .MoreTool
  right: rem(-7)
.Posts.asGrid .MoreTool
  left: rem(270)
.MoreTool > button
  padding-right: 0

.ShyTool
  +hideTool
  transition: opacity $speed ease

.PostTools.isMoreToolActive
  transform: translate3d(rem(-120), 0, 0)

.PostTools.isMoreToolActive .ShareTool,
.PostTools.isMoreToolActive .MoreTool
  transform: translate3d(rem(120), 0, 0)

.PostTools.isMoreToolActive .MoreTool .SVGIcon > g
  stroke: black

.PostTools.isMoreToolActive .ShyTool
  +showTool

.Posts .TimeAgoTool
  display: none

// MAX WIDTH for hiding MOBILE in a GRID.
@media(max-width: #{em(449)})
  .Posts.asGrid .ShareTool
    display: none
@media(max-width: #{$break-2-max})
  .Posts.asGrid .CommentTool
    margin-left: rem(-10)
  .Posts.asGrid .ViewsTool
    display: none

// MIN WIDTH!!!
@media(min-width: #{em(375)})
  .PostTools.isMoreToolActive
    transform: translate3d(rem(-70), 0, 0)
  .PostTools.isMoreToolActive .ShareTool,
  .PostTools.isMoreToolActive .MoreTool
    transform: translate3d(rem(70), 0, 0)

@media(min-width: #{em(450)})
  .ShareTool
    right: rem(-10)
  .Posts .MoreTool,
  .Posts.asGrid .ShyTool
    display: none
  .PostTools.isMoreToolActive,
  .PostTools.isMoreToolActive .ShareTool,
  .PostTools.isMoreToolActive .MoreTool
    transform: none
  .Posts.asList .ShyTool
    +showTool

@media(min-width: #{$break-2})
  .no-touch .Posts.asList .ShyTool
    +hideTool
  .no-touch .Posts.asList .PostTools:hover .ShyTool
    +showTool
  .Posts.asList .TimeAgoTool
    display: inline-block
  .Posts.asList .ShareTool
    position: static
    top: auto
    right: auto
  .Posts.asList .ShareTool .Hint
    left: 0


@media(min-width: #{$break-3})
  .Posts.asList .PostTool > a,
  .Posts.asList .PostTool > button
    padding-left: rem(12)
    padding-right: rem(12)
  .Posts.asList .ViewsTool.asPill
    margin-right: rem(15)

