@import ../../vendor/lib

.MainView:not(.PostDetail) .ContentWarningButton:not(.isOpen) + .PostBody
  height: 0
  overflow: hidden

.PostBody h1,
.PostBody h2,
.PostBody h3,
.PostBody h4,
.PostBody h5,
.PostBody h6
  +sans-bold-family

.ImageRegion + .ImageRegion,
.ImageRegion + .EmbedRegion,
.EmbedRegion + .ImageRegion,
.EmbedRegion + .EmbedRegion
  margin-top: rem(10)

.PostBody + .PostBody,
.TextRegion + .TextRegion,
.TextRegion + .ImageRegion,
.TextRegion + .EmbedRegion,
.ImageRegion + .TextRegion,
.EmbedRegion + .TextRegion
  margin-top: rem(20)

.TextRegion
  max-width: rem(780)
  word-wrap: break-word

.EmbedRegion
  max-width: rem(1280)
  overflow: hidden

// Todo: We should be able to rip this out when we convert your fake `span`
// elements over to links
.TextRegion .hashtag-link
  transition: color $speed ease
  display: inline
  border-bottom: 1px solid
  cursor: pointer
.no-touch .TextRegion .hashtag-link:hover
  color: #aaa

.RegionContent
  transform-origin: 0 0
  transition: background-color $speed2, transform 300ms ease, margin-bottom 300ms ease
  will-change: transform, margin-bottom

.RegionContent.asHotRegion
  cursor: pointer

.ImageRegion > .RegionContent
  display: inline-block
  color: rgba(black, 0)

.ImageAttachment
  transition: opacity $speed2

.isPending .ImageAttachment,
.isRequesting .ImageAttachment
  opacity: 0

.isPending .ImageRegion > .RegionContent,
.isRequesting .ImageRegion > .RegionContent
  background-color: rgba(black, 0.1)

// Always get's rid of the first and last child's margin and protect against
// potentially nested elements
.RegionContent > *:first-of-type,
.RegionContent:first-child > *:first-of-type
  margin-top: 0

.RegionContent > *:last-of-type,
.RegionContent:last-child > *:last-of-type
  margin-bottom: 0

// -------------------------------------

.RepostedBody
  position: relative
  min-height: rem(30)
  padding-top: rem(5)
  padding-left: rem(40)

.RepostedBody > .Avatar
  position: absolute
  top: 0
  left: 0

@media(min-width: #{$break-2})
  .RepostedBody
    min-height: rem(40)
    padding-top: rem(10)
    padding-left: rem(60)

