@import ../../styles/lib

.Posts.asGrid
  margin-left: rem(-20)

.Post
  position: relative
  overflow: hidden
  margin-bottom: rem(20)

.Column
  display: inline-block
  vertical-align: top
  width: calc(50% - #{rem(20)})
  margin-left: rem(20)

@media(min-width: #{$break-2})
  .no-touch .Posts.asGrid .Post
    overflow: visible


@media(min-width: #{$break-3})
  .Column
    width: calc(33.33333% - #{rem(20)})

@media(min-width: #{$break-4})
  .Posts.asGrid
    margin-left: rem(-40)
  .Post
    margin-bottom: rem(40)
  .Column
    width: calc(25% - #{rem(40)})
    margin-left: rem(40)

@media(min-width: #{$break-5})
  .Column
    width: calc(20% - #{rem(40)})

@media(min-width: #{$break-6})
  .Column
    width: calc(16.66666% - #{rem(40)})

@media(min-width: #{$break-7})
  .Column
    width: calc(14.28571% - #{rem(40)})

