.ImageRegion + .ImageRegion,
.ImageRegion + .EmbedRegion,
.EmbedRegion + .ImageRegion,
.EmbedRegion + .EmbedRegion
  margin-top: rem(10)

.PostBody + .PostBody,
.TextRegion + .TextRegion,
.TextRegion + .ImageRegion,
.TextRegion + .EmbedRegion,
.ImageRegion + .TextRegion,
.EmbedRegion + .TextRegion
  margin-top: rem(20)

.TextRegion
  max-width: rem(780)

// Todo: We should be able to rip this out when we convert your fake `span`
// elements over to links
.TextRegion .hashtag-link
  transition: color $speed ease
  display: inline-block
  border-bottom: 1px solid
  cursor: pointer
.no-touch .TextRegion .hashtag-link:hover
  color: #aaa

.RegionContent
  transform-origin: 0 0
  transition: background-color $speed2, transform $speed, margin-bottom $speed

.RegionContent.asHotRegion
  cursor: pointer

.ImageRegion > .RegionContent
  display: inline-block
  background-color: rgba(black, 0.1)
  color: rgba(black, 0)
.ImageRegion.isFailing > .RegionContent
  background-color: $danger

.ImageAttachment
  transition: opacity $speed2

.isPending .ImageAttachment,
.isRequesting .ImageAttachment
  opacity: 0

// Always get's rid of the first and last child's margin and protect against
// potentially nested elements
.RegionContent > *:first-of-type,
.RegionContent:first-child > *:first-of-type
  margin-top: 0

.RegionContent > *:last-of-type,
.RegionContent:last-child > *:last-of-type
  margin-bottom: 0

