.ZeroStates
  max-width: rem(560)
  padding: rem(10)

.ZeroState
  +sans-typeset
  color: #aaa

.ZeroStates > .ZeroState
  margin-top: rem(60)

.ZeroStateTitle
  font-size: rem(18)
  color: #aaa
  margin-bottom: rem(20)

.ZeroStateUsername
  text-decoration: underline

.ZeroState .RelationshipButton
  color: black


@media(min-width: #{$break-2})
  .ZeroStates
    padding: 0
  .ZeroStateTitle
    font-size: rem(24)
  .UserDetails .ZeroState
    position: relative
    left: rem(240)
  .UserDetails .StreamComponent .ZeroState
    margin-left: rem(-20)

@media(min-width: #{$break-4})
  .UserDetails .ZeroState
    left: rem(260)
  .UserDetails .StreamComponent .ZeroState
    margin-left: rem(-40)

