@import ../../styles/lib

.ZeroStream
  position: relative
  max-width: rem(540)
  margin: 0 auto
  padding: rem(20) rem(10)
  background-color: white

.ZeroStreamHeading
  font-size: rem(18)

.ZeroStreamButton
  +sans-typeset
  transition: color $speed
  color: #aaa
  margin-top: rem(20)

.no-touch .ZeroStreamButton:hover
  color: black

// Deal with the rare case of double zero streams.
.Following.View .ZeroStream + .StreamComponent > .ZeroStream,
.Starred.View .ZeroStream + .StreamComponent > .ZeroStream
  display: none


@media(min-width: #{$break-2})
  .ZeroStreamHeading
    font-size: rem(24)


// -------------------------------------

.ZeroStates
  max-width: rem(560)
  padding: rem(10)

.ZeroState
  +sans-typeset
  color: #aaa

.ZeroStates > .ZeroState
  margin-top: rem(60)

.ZeroStateTitle
  font-size: rem(18)
  color: #aaa
  margin-bottom: rem(20)

.ZeroStateUsername
  text-decoration: underline

.ZeroState .RelationshipButton
  color: black


@media(min-width: #{$break-2})
  .ZeroStates
    padding: 0
  .ZeroStateTitle
    font-size: rem(24)
  .UserDetails .ZeroStates
    max-width: rem( 560 + 240)
  .UserDetails .ZeroState
    position: relative
    padding-left: rem(240)
  .UserDetails .StreamComponent .ZeroState
    margin-left: rem(-20)

@media(min-width: #{$break-4})
  .UserDetails .ZeroStates
    max-width: rem( 560 + 260)
  .UserDetails .ZeroState
    padding-left: rem(260)
  .UserDetails .StreamComponent .ZeroState
    margin-left: rem(-40)

// -------------------------------------
// This should become a `ZeroStateEditor` at some point,
// but waiting for the editor API to settle a little more

.ZeroState .editor
  color: #666

.ZeroState .editor:before
  display: none

.ZeroState .editor-region
  min-height: rem(60)

.ZeroState .editable
  padding: 0
  min-height: 0
  border: 0

.ZeroState .editor.hasMention .editor-region
  background-color: #e5e5e5

.ZeroState .RegionTools
  display: none

.ZeroState .PostActionButton
  color: #aaa
  border: 1px solid currentColor

.ZeroState .PostActionButton:not(.forPost)
  display: none

.ZeroState .PostActionButton.forPost
  width: rem(85)

