@import "../../lib/styles/properties.css";

.MainView {
  background-color: #fff;
}

.PostDetail.MainView {
  padding-bottom: 30px;
}

.DiscoverPageTitle {
  display: inline-block;
  margin: 18px 0 0 10px;
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid;
}

@media (--break-2) {
  .Authentication.MainView {
    padding-top: 0;
  }

  .DiscoverPageTitle {
    margin: 35px 0 0 20px;
    font-size: 24px;
  }
}

@media (--break-3) {
  .isOnboardingView ~ .MainView {
    padding-bottom: 80px;
  }
}

@media (--break-4) {
  .DiscoverPageTitle {
    margin-left: 40px;
  }
}

