@import "../../lib/styles/properties.css";

.MainView {
  background-color: #fff;
}

.PostDetail.MainView {
  padding-bottom: 30px;
}

.RelatedPostsTitle {
  margin: 15px 0 10px 20px;
  font-size: 18px;
  color: #aaa;
}

@media (--break-2-max) {
  .isOnboardingView ~ .MainView {
    margin-top: 120px;
  }
}

@media (--break-2) {
  .Authentication.MainView {
    padding-top: 0;
  }

  .RelatedPostsTitle {
    margin: 20px 0 20px 20px;
  }

  .TabListStreamContainer + .RelatedPostsStreamContainer .RelatedPostsTitle {
    margin-top: 45px;
  }
}

@media (--break-3) {
  .isOnboardingView ~ .MainView {
    padding-bottom: 80px;
  }
}

@media (--break-4) {
  .RelatedPostsTitle {
    margin-left: 40px;
  }
}

