@import ../../vendor/lib

.MainView
  padding-top: rem(85)
  background-color: white

.UserDetail.MainView,
.Settings.MainView
  padding-top: rem(40)
  margin-top: calc(56.25% + #{rem(40)})
  min-height: 100vh

.PostDetail.MainView,
  padding-bottom: rem(30)

.UserDetail.MainView.isCoverInactive
  margin-top: 0

.DiscoverPageTitle
  display: inline-block
  margin: rem(18) 0 0 rem(10)
  font-size: rem(18)
  border-bottom: 1px solid
  color: black

@media(max-width: #{$break-2-max})
  .isLoggedOut .MainView
    padding-top: rem(50)

@media(min-width: #{em(375)})
  .UserDetail.MainView,
  .Settings.MainView
    margin-top: calc(56.25% + #{rem(20)})

@media(min-width: #{$break-2})
  .MainView
    padding-top: rem(80)
  .Authentication.MainView
    padding-top: 0
  .UserDetail.MainView,
  .Settings.MainView
    margin-top: 56.25%
  .DiscoverPageTitle
    font-size: rem(24)
    margin: rem(35) 0 0 rem(20)

@media(min-width: #{$break-3})
  .isOnboardingView ~ .MainView
    padding-top: 0
    padding-bottom: rem(80)

@media(min-width: #{$break-4})
  .DiscoverPageTitle
    margin-left: rem(40)

