main
  margin-top: rem(140)
  padding-bottom: rem(40)

// -------------------------------------
// Onboarding

main[data-pathname^="/onboarding"]
  margin-top: 0

@media(max-width: #{em(599)})
  main[data-pathname^="/onboarding"]
    padding-bottom: rem(120)

@media(min-width: #{em(600)})
  main[data-pathname^="/onboarding"]
    margin-top: rem(120)

@media(min-width: #{em(960)})
  main[data-pathname^="/onboarding"]
    margin-top: rem(240)

