.PeoplePicker > .Button
  display: block
  width: 95%
  max-width: 640px
  margin: 0 auto

.PeoplePicker .PersonGrid .stats dd
  border-bottom: none
  pointer-events: none


@media(min-width: #{$break-2})
  .ChannelPicker .StreamComponent,
  .PeoplePicker
    padding: 0 rem(20)
  .PeoplePicker > .Button
    width: 100%

@media(min-width: #{$break-4})
  .ChannelPicker .StreamComponent,
  .PeoplePicker
    padding: 0 rem(40)


// -------------------------------------

// position may get removed once we define Panel since this is an extension
.HeaderPicker
  position: relative

.HeaderPicker > .HeaderUploader > .Button
  margin-top: rem(120)

.HeaderPicker > .HeaderCarousel > .Paddles
  top: rem(360)
  left: rem(20)
  right: rem(20)

@media(min-width: #{$break-2})
  .HeaderPicker > .HeaderCarousel > .Paddles
    top: rem(120)

@media(min-width: #{$break-4})
  .HeaderPicker > .HeaderUploader > .Button
    margin-top: rem(240)
  .HeaderPicker > .HeaderCarousel > .Paddles
    top: rem(240)
    left: rem(40)
    right: rem(40)

// -------------------------------------

.AvatarPicker > .AvatarUploader
  padding: rem(10)

.AvatarPicker > .AvatarUploader > .Avatar
  margin-bottom: rem(10)

@media(min-width: #{$break-2})
  .AvatarPicker > .AvatarUploader > .Avatar
    position: absolute
    top: 0
    left: 0
  .AvatarPicker > .AvatarUploader
    padding-top: rem(40)
    padding-left: rem(200)
    margin-left: 15%

@media(min-width: #{$break-4})
  .AvatarPicker > .AvatarUploader
    margin-left: 25%

// -------------------------------------

.BioCreator > .BioForm
  padding: rem(10)

@media(min-width: #{$break-2})
  .BioCreator > .BioForm > .Avatar
    position: absolute
    top: 0
    left: 0
  .BioCreator > .BioForm
    padding-top: rem(20)
    padding-left: rem(200)
    margin-left: 15%
@media(min-width: #{$break-4})
  .BioCreator > .BioForm
    margin-left: 25%

