main[data-pathname^="/onboarding"]
  padding-bottom: rem(80)

@media(min-width: #{$break-2})
  main[data-pathname^="/onboarding"]
    margin-top: rem(120)
    padding-bottom: 0

// -------------------------------------

.PeoplePicker > .Button
  display: block
  width: 95%
  max-width: 640px
  margin: 0 auto

// These are eventually going to be links But we'll never want them to appear
// as links within the flow of on-boarding
.PeoplePicker .PersonGrid .stats dd
  border-bottom: none
  pointer-events: none

@media(min-width: #{$break-2})
  .PeoplePicker
    padding-top: (20)
  .ChannelPicker .StreamComponent,
  .PeoplePicker .StreamComponent
    padding: 0 rem(20) rem(20)
  .PeoplePicker > .Button
    width: 100%

@media(min-width: #{$break-4})
  .ChannelPicker .StreamComponent,
  .PeoplePicker .StreamComponent
    padding: 0 rem(40) rem(40)

// -------------------------------------
.CoverPicker > .Uploader
  position: fixed
  top: rem(120)
  left: 0
  right: 0
  z-index: 0
  text-align: center
  color: white
  // padding-bottom: 56.25%

// These styles should eventually be applied to Cover
.CoverPicker > .Uploader:before
  transition: background-color $speed ease
  content: ''
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: transparent
.CoverPicker > .hasDragOver.Uploader:before
  background-color: rgba(black, 0.5)
  z-index: -1

@media(min-width: #{$break-2})
  .CoverPicker > .Uploader
    top: rem(240)

// -------------------------------------

.AvatarPicker,
.InfoPicker
  height: calc(100vh - 80px)
  background-color: white

.AvatarPicker > .Avatar,
.InfoPicker > .Avatar
  +circle(rem(160))
  margin-bottom: rem(20)

.AvatarPicker > .Uploader
  position: relative
  padding: rem(10)
  color: #aaa

.InfoPicker > .InfoForm
  padding: rem(10)

@media(min-width: #{$break-2})
  .AvatarPicker,
  .InfoPicker
    height: calc(100vh - 240px)
    margin-top: 240px
  .AvatarPicker > .Avatar,
  .InfoPicker > .Avatar
    position: absolute
    top: rem(20)
    left: 0
    margin-bottom: 0
    margin-left: 15%
  .AvatarPicker > .Uploader
    padding-top: rem(60)
    padding-left: rem(200)
    margin-left: 15%
  .InfoPicker > .InfoForm
    padding-top: rem(40)
    padding-left: rem(200)
    margin-left: 15%

@media(min-width: #{$break-4})
  .AvatarPicker,
  .InfoPicker
    height: calc(100vh - 320px)
    margin-top: 320px
  .AvatarPicker > .Avatar,
  .AvatarPicker > .Uploader,
  .InfoPicker > .Avatar,
  .InfoPicker > .InfoForm
    margin-left: 25%

