@import ../../styles/lib

.Completer
  +sans-typeset
  position: fixed
  z-index: $z-completer
  width: 100%
  height: rem(153)
  overflow-x: hidden
  overflow-y: auto
  -webkit-overflow-scrolling: touch


@media(min-width: #{$break-2})
  .Completer
    height: rem(320)
    max-width: rem(240)

