.Completion
  transition: background-color $speed
  display: block
  overflow: hidden
  width: 100%
  padding: rem(10)
  text-align: left
  text-overflow: ellipsis
  white-space: nowrap
  background-color: rgba(black, 0.95)
  // background-color: darkgreen
  color: white

.Completion.active,
.no-touch .Completion:hover
  background-color: #4d4d4d

.Completion + .Completion
  border-top: 1px solid white

.CompletionLabel
  margin-left: rem(10)

