@mixin font-face($family, $file-name, $weight:normal, $style:normal, $font-location:'/assets/fonts')
  $font-path: "#{$font-location}/#{$file-name}"
  @font-face
    font-family: $family
    font-weight: $weight
    font-style: $style
    font-stretch: normal
    src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'), url('#{$font-path}.woff') format('woff'), url('#{$font-path}.ttf') format('truetype'), url('#{$font-path}.svg##{$family}') format('svg')

