@import ../../vendor/lib

.InvitationsHeader
  margin: rem(20) rem(10) 0
  max-width: rem(440)

.InvitationsHeading,
.InvitationsStreamHeading
  height: rem(30)
  font-size: rem(18)
  line-height: rem(30)
  white-space: nowrap

.InvitationsForm
  margin: 0 rem(10)
  max-width: rem(440)

.InvitationsStreamHeading
  margin: rem(80) rem(10) 0

.InvitationsForm .FormButton
  min-width: rem(120)
  float: right


.InvitationForm .BatchEmailControlSuggestions
  max-width: calc(100% - #{rem(120)})

@media(min-width: #{$break-2})
  .InvitationsHeader
    margin: rem(40) rem(20) rem(20)
  .InvitationsHeading,
  .InvitationsStreamHeading
    height: rem(40)
    font-size: rem(24)
    line-height: rem(40)
  .InvitationsForm
    margin-top: rem(-3)
    max-width: rem(720)
  .InvitationsForm,
  .InvitationsStreamHeading
    margin-left: rem(20)
    margin-right: rem(20)
  .InvitationForm .BatchEmailControlSuggestions
    max-width: rem(380)


@media(min-width: #{$break-4})
  .InvitationsForm,
  .InvitationsHeader,
  .InvitationsStreamHeading
    margin-left: rem(40)
    margin-right: rem(40)

