@import ../../styles/lib

.editor
  +sans-typeset
  color: black
  position: relative

.editor:before
  transition: border-color $speed ease
  position: absolute
  top: rem(30)
  left: 0
  width: 0
  height: 0
  content: ""
  border-color: transparent
  border-style: solid
  border-width: rem(10)
  border-right-color: #e5e5e5

.editor-region
  transition: background-color $speed ease
  background-color: #e5e5e5
  padding: rem(20)
  min-height: rem(100)

.editor-actions
  margin-top: rem(20)
  height: rem(40)
  line-height: rem(40)
  text-align: right
  background-color: white

.editor-actions .PostActionButton + .PostActionButton
  margin-left: rem(20)

// -------------------------------------

// "Say Ello" placeholder text
.editor:after
  position: absolute
  top: rem(71)
  left: rem(61)
  content: attr(data-placeholder)
  color: #999
  pointer-events: none
.editor.hasContent:after
  display: none


// editor has a mention - turn background yellow
.editor.hasMention .editor-region
  background-color: #ffffcc

.editor.hasMention:before
  border-right-color: #ffffcc

// editor is dragged over with a droppable element - turn background green
.editor-drop-ready .editor-region
  background-color: #ccffcc

.editor-drop-ready:before
  border-right-color: #ccffcc

// -------------------------------------

.editor-block
  position: relative

.editable
  padding: rem(30) rem(20)
  border: 1px dashed #666
  white-space: pre-wrap
  word-break: break-word
  outline: 0
  min-height: rem(60)

// .editor-block.readonly
//   border: 1px solid #aaa

.editor-block [kind="embed"],
.editor-block [kind="image"]
  user-select: none

// .editor-block.reposted-content [contenteditable="false"]
//   border: 0
//   padding: 0

.editor-block + .editor-block
  margin-top: rem(20)

.DragBlock
  position: absolute
  left: rem(40)
  right: rem(40)
  z-index: 2

