@import ../../vendor/lib

.ElloBuyButton
  transition: background-color $speed ease, color $speed ease
  vertical-align: middle
  overflow: hidden
  width: rem(40)
  height: rem(40)
  border-radius: rem(20)
  line-height: rem(39)
  text-align: center
  white-space: nowrap
  background-color: #00d100
  color: white
  position: absolute
  z-index: 2
  top: rem(40)
  right: rem(30)
.ElloBuyButton:before
  +hitarea


.ElloBuyButton > .SVGIcon.MoneyIcon > g
  fill: white
  stroke: white
  stroke-width: 0.5

.editable[contenteditable] + .ElloBuyButton
  display: none

.EmbedRegion .ElloBuyButton,
.RegionContent .ElloBuyButton
  top: rem(10)
  right: rem(10)

.EmbedRegion .embetter a
  line-height: rem(40)

@media(min-width: #{$break-2})
  .no-touch .ElloBuyButton:hover
    color: black
    background-color: #eaeaea
  .no-touch .ElloBuyButton:hover > .SVGIcon.MoneyIcon > g
    fill: black
    stroke: transparent

