@import ../../vendor/lib

.PostActionButton
  transition: width $speed $ease, background-color $speed ease, color $speed ease
  vertical-align: middle
  overflow: hidden
  padding: 0 rem(10) 0 rem(15)
  width: rem(40)
  height: rem(40)
  border-radius: rem(20)
  line-height: rem(40)
  text-align: right
  white-space: nowrap
  background-color: white
  color: rgba(white, 0)

.PostGrid .PostActionButton
  margin-right: rem(-10)

.PostActionButton > .SVGIcon
  margin-top: rem(-2)
  margin-left: rem(-5)

.PostActionButton > .SVGIcon > g
  stroke: #aaa

.PostActionButton > .BrowseIcon > g
  fill: white

.PostActionButtonLabel
  position: absolute
  left: rem(20)

.PostActionButton.forMoney > .SVGIcon.MoneyIcon > g
  fill: #aaa
  stroke: none

.PostActionButton .CheckMark
  position: absolute
  top: rem(7)
  right: 0
  transform: scale(0.6)
  display: none
.PostActionButton .CheckMark g
  stroke: #00d100
  stroke-width: 2
.PostActionButton.isBuyLinked .CheckMark
  display: block
.PostActionButton.isBuyLinked > .SVGIcon.MoneyIcon > g
  fill: black

.PostActionButton[disabled]
  pointer-events: none
  opacity: 0.5

@media(min-width: #{$break-2})
  .no-touch .PostActionButton:hover
    color: white
    background-color: black
  .no-touch .PostActionButton:hover > .SVGIcon > g
    stroke: white
  .no-touch .PostActionButton:hover > .BrowseIcon > g
    fill: black
  .no-touch .PostActionButton.forMoney:hover > .SVGIcon.MoneyIcon > g
    fill: white
    stroke: none


  .no-touch .PostActionButton:hover
    width: rem(105)
  .no-touch .PostActionButton.forUpload:hover
    width: rem(110)
  .no-touch .PostActionButton.forPost:hover,
  .no-touch .PostActionButton.forMoney:hover
    width: rem(85)
  .no-touch .PostActionButton.forComment:hover
    width: rem(125)
  .no-touch .PostActionButton.forReplyAll:hover
    width: rem(115)

  // Don't do it in grid
  .no-touch .PostGrid .PostActionButton:hover
    color: transparent
    width: rem(40)

  // Cancel animation
  .no-touch .PostActionButton > .CancelIcon
    transform-origin: center center
    transition-duration: $speed, $speed, $speed2
  .no-touch .PostActionButton:hover > .CancelIcon
    transition-delay: 0.5s, 0.5s, (0.5s + $speed)
    transform: rotate(360deg)

