.QuickEmoji
  position: absolute
  white-space: nowrap
  color: #999

.QuickEmoji.isActive
  color: #535353

.QuickEmojiButton
  transition: color $speed

.no-touch .QuickEmojiButton:hover
  color: #535353

.QuickEmojiList
  transition: opacity $speed
  position: absolute
  top: 0
  left: rem(-140)
  opacity: 0

.QuickEmoji.isActive .QuickEmojiList
  opacity: 1

.QuickEmojiChoiceButton
  transition: opacity $speed
  margin-top: rem(-5)

.no-touch .QuickEmojiChoiceButton:hover
  opacity: 0.5

.QuickEmojiChoiceButton + .QuickEmojiChoiceButton
  margin-left: rem(20)

.editor.isComment .QuickEmoji
  top: rem(93)
  right: rem(30)

@media(min-width: #{$break-2})
  .editor.isComment .QuickEmoji
    top: rem(53)
    right: rem(30)

