@import "../../lib/styles/properties.css";

.RegionTools {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  color: #aaa;
}

.RegionTools .DragHandler {
  display: none;
  cursor: move;
  transform: rotate(90deg);
}

.no-touch .RegionTools .DragHandler {
  display: inline-block;
}

.editor-region[data-num-blocks="1"] .DragHandler {
  display: none;
}

.BlockPlaceholder > .RegionTools {
  display: none;
}

.editor:not(.hasContent) .BlockRemove {
  display: none;
}

