.RegionTools
  position: absolute
  top: rem(10)
  right: rem(10)

.RegionTools .DragHandler
  transform: rotate(90deg)
  cursor: move

.editor:not(.hasContent) .BlockRemove
  display: none

.editor-region[data-num-blocks="1"] .DragHandler
  display: none

.BlockPlaceholder + .RegionTools
  display: none

