@import ../../vendor/lib

.TextTools
  transition: width $speed $ease, opacity $speed $ease
  position: fixed
  z-index: 2
  overflow: hidden
  width: rem(93)
  margin-left: rem(-1)
  white-space: nowrap

.TextTools.asShowLinkForm
  width: rem(215)

.TextTools.isHidden
  pointer-events: none
  opacity: 0

.TextToolButton
  +sans-typeset
  transition: border-radius $speed $ease, color $speed, width $speed $ease
  position: relative
  width: rem(30)
  height: rem(30)
  border-radius: 50%
  margin-left: rem(1)
  line-height: rem(30)
  text-align: center
  background-color: white
  color: #aaa
  z-index: 1
  vertical-align: middle

.TextToolButton.forItalic > em
  +monospace-family
  font-style: italic
  margin-left: rem(-2)

.TextToolButton.forLink > .SVGIcon
  margin-top: rem(-2)
  margin-left: rem(-1)

.TextTools.asShowLinkForm .TextToolButton.forBold,
.TextTools.asShowLinkForm .TextToolButton.forItalic
  width: 0

.TextTools.asShowLinkForm .TextToolButton.forLink
  border-radius: 50% 0 0 50%

.no-touch .TextToolButton:hover,
.TextToolButton.isActive
  color: black

.TextToolForm
  transition: transform $speed $ease
  display: inline-block
  z-index: 0
  height: rem(30)
  vertical-align: middle

.TextTools.asShowLinkForm .TextToolForm
  transform: translateX(rem(-30))

.TextToolLinkInput
  +sans-typeset
  transition: background-color $speed $ease, color $speed $ease, width $speed $ease, height $speed $ease
  display: inline-block
  vertical-align: baseline
  width: rem(210)
  height: rem(30)
  padding: 0 rem(10) 0 rem(35)
  border-radius: rem(15)
  border: 0
  background-color: white
  color: black
  outline: 0
  &:focus
    outline: 0
  &::placeholder
    color: #aaa

// TODO: We should really disable the tools
@media(max-width: #{$break-2-max})
  .TextTools
    display: none

