@import ../../styles/lib

.RelationshipButton
  font-size: 0.75rem
  transition: background-color $speed $ease, border-color $speed $ease, border-radius $speed $ease, color $speed $ease, width $speed $ease
  width: rem(100)
  height: rem(30)
  padding: 0 rem(10) 0 rem(4)
  overflow: hidden
  line-height: rem(30)
  text-align: center
  white-space: nowrap
  background-color: white
  border: 1px solid black
  border-radius: rem(15)

.no-touch .RelationshipButton:hover
  background-color: #aaa
  border-color: #aaa
  color: white

.RelationshipButton[data-priority="friend"],
.RelationshipButton[data-priority="noise"]
  background-color: black
  border-color: black
  color: white

.RelationshipButton[data-priority="block"],
.RelationshipButton[data-priority="mute"],
.RelationshipButton[data-priority="block"]:hover,
.RelationshipButton[data-priority="mute"]:hover
  background-color: $danger
  border-color: $danger
  color: white

.RelationshipButton > .MiniPlusIcon
  margin-top: rem(-2)

.RelationshipButton > .MiniCheckIcon
  margin-top: rem(-4)

