@import ../../vendor/lib

.RelationshipButton
  font-size: 0.75rem
  transition: background-color $speed $ease, border-color $speed $ease, border-radius $speed $ease, color $speed $ease, width $speed $ease
  width: rem(100)
  height: rem(30)
  padding: 0 rem(10) 0 rem(4)
  overflow: hidden
  border-radius: rem(15)
  line-height: rem(30)
  text-align: center
  white-space: nowrap
  background-color: white
  border: 1px solid black

.no-touch .RelationshipButton:hover
  background-color: #aaa
  border-color: #aaa
  color: white

.RelationshipButton[data-priority="friend"],
.RelationshipButton[data-priority="noise"]
  background-color: black
  border-color: black
  color: white

.RelationshipButton[data-priority="block"],
.RelationshipButton[data-priority="mute"],
.RelationshipButton[data-priority="block"]:hover,
.RelationshipButton[data-priority="mute"]:hover
  background-color: $danger
  border-color: $danger
  color: white !important

.RelationshipButton:not(.isInHeader) > .MiniPlusIcon
  margin-top: rem(-2)

.RelationshipButton:not(.isInHeader) > .MiniCheckIcon
  margin-top: rem(-4)


// -------------------------------------
// Within post and repost headers...
.RelationshipButton.isInHeader
  width: rem(20)
  height: rem(20)
  border-radius: 0
  padding: 0
  font-size: 0
  border: 0
  background-color: transparent
  color: #aaa

.RelationshipButton.isInHeader > .SVGIcon
  vertical-align: top

.no-touch .RelationshipButton.isInHeader:hover
  background-color: transparent
  color: white

.RelationshipButton.isInHeader[data-priority="self"]
  display: none

.RelationshipButton.isInHeader[data-priority="friend"]
  color: white

.RelationshipButton.isInHeader[data-priority="friend"] > .SVGIcon > g:first-child
  fill: #aaa
  stroke: #aaa

.RelationshipButton.isInHeader:hover > .SVGIcon > g:first-of-type
  fill: #535353
  stroke: #535353

@media(min-width: #{$break-2})
  // Hints
  .no-touch .RelationshipButton.isInHeader
    font-size: 0.75rem
    overflow: visible
  .no-touch .RelationshipButton.isInHeader .RelationshipButtonLabel
    transition: opacity $speed ease, visibility 0s ease $speed
    visibility: hidden
    position: absolute
    top: rem(-25)
    left: -50%
    height: rem(22)
    padding: 0 rem(11)
    line-height: rem(22)
    border-radius: rem(11)
    opacity: 0
    white-space: nowrap
    background-color: black
  .no-touch .RelationshipButton.isInHeader:hover .RelationshipButtonLabel
    transition-delay: 0.5s, 0s
    visibility: visible
    opacity: 1

