@import ../../styles/lib

.RelationshipImageButton
  display: block
  width: 100%
  height: 100%
  min-height: rem(80)
  margin-top: rem(1)
  padding: rem(10)
  text-align: center
  background: rgba(black, 0.1) no-repeat 50% 50%
  background-size: cover
.RelationshipImageButton:before
  transition: background-color $speed $ease
  z-index: 1
  background-color: rgba(black, 0.4)
.RelationshipImageButtonUsername
  +heading
  +ellipse
  position: absolute
  top: calc(50% - #{rem(15)})
  left: rem(10)
  right: rem(140)
  z-index: 2
  color: white

.RelationshipImageButtonLabels
  +sans-typeset
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease
  display: inline-block
  vertical-align: middle
  position: absolute
  top: calc(50% - #{rem(15)})
  right: rem(10)
  z-index: 2
  width: rem(110)
  height: rem(30)
  padding: 0 rem(10) 0 rem(5)
  line-height: rem(30)
  background-color: white
  border: 1px solid white

.no-touch .RelationshipImageButton:hover:before
  background-color: transparent
.no-touch .RelationshipImageButton:hover .RelationshipImageButtonLabels
  background-color: #666
  border-color: #666
  color: white

.RelationshipImageButton[data-priority="friend"] .RelationshipImageButtonLabels,
.RelationshipImageButton[data-priority="noise"] .RelationshipImageButtonLabels
  background-color: black
  border-color: black
  color: white

.RelationshipImageButton[data-priority="block"],
.RelationshipImageButton[data-priority="mute"],
.RelationshipImageButton[data-priority="block"]:hover,
.RelationshipImageButton[data-priority="mute"]:hover
  background-color: $danger
  border-color: $danger
  color: white

.RelationshipImageButtonLabels > .MiniPlusIcon
  margin-top: rem(-2)

.RelationshipImageButtonLabels > .MiniCheckIcon
  margin-top: rem(-4)


@media(min-width: #{$break-2})
  .RelationshipImageButtonUsername
    right: rem(10)
  .RelationshipImageButtonLabels
    top: auto
    bottom: rem(10)
    left: rem(10)
    width: calc(100% - #{rem(20)})
    height: rem(50)
    line-height: rem(50)
    text-align: center

