.RelationshipImageButton
  display: block
  width: 100%
  min-height: rem(80)
  height: 100%
  padding: rem(10)
  margin-top: rem(1)
  background: rgba(black, 0.1) no-repeat 50% 50%
  background-size: cover
  text-align: center
.RelationshipImageButton:before
  transition: background-color $speed $ease
  background-color: rgba(black, 0.4)
  z-index: 1
.RelationshipImageButtonUsername
  +heading
  +ellipse
  position: absolute
  top: calc(50% - #{rem(15)})
  left: rem(10)
  right: rem(140)
  z-index: 2
  color: white

.RelationshipImageButtonLabels
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease
  +sans-typeset
  display: inline-block
  vertical-align: middle
  position: absolute
  top: calc(50% - #{rem(15)})
  right: rem(10)
  z-index: 2
  width: rem(110)
  height: rem(30)
  line-height: rem(30)
  padding: 0 rem(10) 0 rem(5)
  background-color: white
  border: 1px solid white

.RelationshipImageButtonLabels > .SVGIcon g
  stroke: black

.no-touch .RelationshipImageButton:hover:before
  background-color: transparent
.no-touch .RelationshipImageButton:hover .RelationshipImageButtonLabels
  background-color: #666
  border-color: #666
  color: white
.no-touch .RelationshipImageButton:hover .RelationshipImageButtonLabels > .SVGIcon g
  stroke: white

.RelationshipImageButton[data-priority="friend"] .RelationshipImageButtonLabels,
.RelationshipImageButton[data-priority="noise"] .RelationshipImageButtonLabels
  background-color: black
  border-color: black
  color: white
.RelationshipImageButton[data-priority="friend"] .RelationshipImageButtonLabels > .SVGIcon g,
.RelationshipImageButton[data-priority="noise"] .RelationshipImageButtonLabels > .SVGIcon g
  stroke: white

.RelationshipImageButtonLabels > .MiniPlusIcon
  margin-top: -2px

.RelationshipImageButtonLabels > .MiniCheckIcon
  margin-top: -4px


@media(min-width: #{$break-2})
  .RelationshipImageButtonUsername
    right: rem(10)
  .RelationshipImageButtonLabels
    top: auto
    left: rem(10)
    bottom: rem(10)
    width: calc(100% - #{rem(20)})
    height: rem(50)
    line-height: rem(50)
    text-align: center

