@import "../../lib/styles/properties.css";

.RelationshipButton {
  width: 100px;
  height: 30px;
  padding: 0 10px 0 4px;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 30px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #00d101;
  border: 1px solid #00d101;
  border-radius: 15px;
  transition:
    background-color var(--speed) var(--ease),
    border-color var(--speed) var(--ease),
    border-radius var(--speed) var(--ease),
    color var(--speed) var(--ease),
    width var(--speed) var(--ease);
}

.no-touch .RelationshipButton:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.RelationshipButton[data-priority="self"] {
  padding: 0 10px;
  background-color: #aaa;
  border: 1px solid #aaa;
}

.RelationshipButton[data-priority="friend"],
.RelationshipButton[data-priority="noise"] {
  color: #fff;
  background-color: #aaa;
  border-color: #aaa;
}

.RelationshipButton[data-priority="block"],
.RelationshipButton[data-priority="mute"],
.RelationshipButton[data-priority="block"]:hover,
.RelationshipButton[data-priority="mute"]:hover {
  color: #fff !important;
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}

.RelationshipButton:not(.isInHeader) > .MiniPlusIcon {
  margin-top: -2px;
}

.RelationshipButton:not(.isInHeader) > .MiniCheckIcon {
  margin-top: -4px;
}

/* -------------------------------------
Within UserProfiles...  */

.RelationshipContainer.inUserProfileCard,
.RelationshipContainer.inUserProfile {
  display: inline-block;
  vertical-align: top;
}

/* -------------------------------------
Within post and repost headers...  */

.RelationshipButton.isInHeader {
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0;
  color: #aaa;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.RelationshipButton.isInHeader > .SVGIcon {
  vertical-align: top;
}

.no-touch .RelationshipButton.isInHeader:hover {
  color: #fff;
  background-color: transparent;
}

.RelationshipButton.isInHeader[data-priority="self"] {
  display: none;
}

.RelationshipButton.isInHeader[data-priority="friend"] {
  color: #fff;
}

/* stylelint-disable selector-max-specificity */
.RelationshipButton.isInHeader[data-priority="friend"] > .SVGIcon > g:first-child {
  fill: #aaa;
  stroke: #aaa;
}

.RelationshipButton.isInHeader:hover > .SVGIcon > g:first-of-type {
  fill: #535353;
  stroke: #535353;
}

@media (--break-2) {
  /* // Hints */
  .no-touch .RelationshipButton.isInHeader {
    overflow: visible;
    font-size: 0.75rem;
  }

  .no-touch .RelationshipButton.isInHeader .RelationshipButtonLabel {
    position: absolute;
    top: -25px;
    left: -50%;
    height: 22px;
    padding: 0 11px;
    line-height: 22px;
    white-space: nowrap;
    visibility: hidden;
    background-color: #000;
    border-radius: 11px;
    opacity: 0;
    transition: opacity var(--speed) ease, visibility 0s ease var(--speed);
  }

  .no-touch .RelationshipButton.isInHeader:hover .RelationshipButtonLabel {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s, 0s;
  }
}
/* stylelint-enable selector-max-specificity */

