.ShareProfileButton
  +sans-typeset
  transition: background-color $speed, color $speed
  padding: rem(1) rem(11) 0
  width: rem(110)
  height: rem(22)
  line-height: rem(22)
  border-radius: rem(11)
  background-color: #e8e8e8
  color: #535353

.no-touch .ShareProfileButton:hover
  background-color: #ccc
  color: black

