@import ../../vendor/lib

@media(min-width: #{$break-2})
  .Cards
    margin-left: rem(-20)
  .Cards .UserCard
    display: inline-block
    width: calc(50% - #{rem(20)})
    height: rem(320)
    margin-top: rem(20)
    margin-left: rem(20)

@media(min-width: #{$break-3})
  .Cards .UserCard
    width: calc(33.33333% - #{rem(20)})

@media(min-width: #{$break-4})
  .Cards
    margin-left: rem(-40)
  .Cards .UserCard
    width: calc(25% - #{rem(40)})
    margin-top: rem(40)
    margin-left: rem(40)

@media(min-width: #{$break-5})
  .Cards .UserCard
    width: calc(20% - #{rem(40)})

@media(min-width: #{$break-6})
  .Cards .UserCard
    width: calc(16.66666% - #{rem(40)})

@media(min-width: #{$break-7})
  .Cards .UserCard
    width: calc(14.28571% - #{rem(40)})

