@import ../../vendor/lib

.UserDrawer
  position: relative
  max-width: rem(780)
  padding-left: rem(20)
  min-height: rem(90)

.UserDrawer > .SVGIcon
  position: absolute
  top: rem(15)
  left: 0

.UserDrawer .UserAvatar
  margin-bottom: rem(10)
  margin-right: rem(10)


@media(min-width: #{$break-2})
  .UserDrawer > .SVGIcon
    top: rem(30)

