// -------------------------------------
// UserStats

.UserStats dl
  display: inline-block
.UserStats dl + dl
  margin-left: 6%

.UserStats dt
  +sans-bold-family

.UserStats dd
  +monospace
  transition: color $speed ease
  display: block
  border-bottom: 1px solid
  color: #999

.UserStatsLink.active dd,
.no-touch .UserStatsLink:hover dd
  color: black

// -------------------------------------
// UserNames

.UserName,
.UserUsername
  +ellipse

.UserUsername
  +sans-bold-family
  font-size: rem(18)

.no-touch .UserUsername > a
  transition: color $speed ease
.no-touch .UserUsername > a:hover
  color: #666

.UserName
  +monospace
  color: #999

// -------------------------------------
// UserInfo

.UserShortBio,
.UserShortBio > *,
.UserExternalLinks
  +monospace

.UserExternalLinks
  color: #999
  margin-left: rem(-10)

.UserExternalLinks > a
  display: inline-block
  margin-left: rem(10)

.no-touch .UserExternalLinks > a:hover
  color: black

