@import ../../vendor/lib

.UserAvatars
  position: relative
  max-width: rem(780)
  padding-left: rem(20)

.UserAvatars > .SVGIcon
  position: absolute
  top: rem(15)
  left: 0

.UserAvatars .UserAvatar
  margin-bottom: rem(10)
  margin-right: rem(10)


@media(min-width: #{$break-2})
  .UserAvatars > .SVGIcon
    top: rem(30)

