.UserList
  overflow: hidden
  position: relative
  max-width: rem(780)
  min-height: rem(220)
  margin-top: rem(10)
  // outline: 1px dotted purple

.UserList > .Avatar
  position: absolute
  top: 0
  left: 0
  z-index: 3

.UserList > .RelationsGroup
  position: relative
  top: rem(45)

.UserList > .RelationsGroup > .BlockMuteButton
  position: absolute
  top: 0
  right: rem(150)

.UserList > .RelationsGroup > .RelationshipButton
  position: absolute
  top: 0
  right: rem(30)

.UserList > .RelationsGroup > .RelationshipButton[data-priority="self"]
  right: 0

.UserList > .RelationsGroup > .StarshipButton
  position: absolute
  top: 0
  right: rem(-5)

.UserList > .UserNames
  width: calc(100% - #{rem(120)})
  margin-top: rem(140)

.UserList > .UserStats
  margin: rem(20) 0

// Special case for the user detail header in mobile land
@media(max-width: #{$break-2-max})
  .UserList.asUserDetailHeader
    margin-top: rem(-70)
  .UserList.asUserDetailHeader > .RelationsGroup
    top: rem(80)
  .UserList.asUserDetailHeader > .UserNames
    margin-top: rem(200)
  .UserList.asUserDetailHeader > .UserStats
    position: absolute
    top: rem(120)
    left: 0
    right: 0

@media(min-width: #{$break-2})
  .UserList
    margin-top: rem(20)

  .UserList > .RelationsGroup
    top: 0

  .UserList > .UserNames
    width: calc(100% - #{rem(370)})
    margin-top: 0
    margin-left: rem(220)

  .UserList > .UserStats
    margin: rem(35) 0 rem(25) rem(220)
    padding-right: rem(20)

  .UserList > .UserInfo
    margin-left: rem(220)
    padding-right: rem(20)

@media(min-width: #{$break-4})
  .UserList > .UserStats,
  .UserList > .UserInfo
    padding-right: rem(40)

main[data-pathname^="/onboarding"]
  .UserList > .RelationsGroup > .StarshipButton
    display: none !important
  .UserList > .RelationsGroup > .RelationshipButton
    right: rem(0)

