@import "../../lib/styles/properties.css";

.UserList {
  position: relative;
  max-width: 780px;
  min-height: 240px;
  margin-top: 10px;
  overflow: hidden;
}

.UserList > .Avatar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.UserList > .RelationshipContainer {
  position: relative;
  top: 45px;
}

.UserList > .RelationshipContainer > .BlockMuteButton {
  position: absolute;
  top: 0;
  right: 150px;
}

.UserList > .RelationshipContainer > .RelationshipButton {
  position: absolute;
  top: 0;
  right: 30px;
}

.UserList > .RelationshipContainer > .RelationshipButton[data-priority="self"] {
  right: 0;
}

.isUserDetailHeader > .RelationshipContainer > .RelationshipButton[data-priority="noise"] {
  padding: 0;
}

/* stylelint-disable selector-max-compound-selectors, selector-max-specificity */
.isUserDetailHeader > .RelationshipContainer > .RelationshipButton[data-priority="noise"] .SVGIcon {
  display: none;
}
/* stylelint-enable selector-max-compound-selectors, selector-max-specificity */

.UserList > .RelationshipContainer > .StarshipButton {
  position: absolute;
  top: 0;
  right: -5px;
}

.UserList > .UserNames {
  width: calc(100% - 120px);
  margin-top: 140px;
}

.UserList > .UserStats {
  margin: 20px 0;
}

.UserList > .ProfileButtons {
  display: none;
}

.UserList.isUserDetailHeader {
  margin-bottom: 20px;
  margin-left: 10px;
}

.UserList.isUserDetailHeader > .ProfileButtons {
  display: block;
}

.ProfileButtonsShareButton {
  margin-top: -2px;
  margin-left: 5px;
  color: #aaa;
}

.no-touch .ProfileButtonsShareButton:hover {
  color: #000;
}

@media (--break-2) {
  .UserList.isUserDetailHeader {
    margin-left: 20px;
  }
}

@media (--break-4) {
  .UserList.isUserDetailHeader {
    margin-left: 40px;
  }
}

/* // Special case for the user detail header in mobile land */
@media (--break-2-max) {
  .UserList.isUserDetailHeader {
    margin-top: -120px;
    margin-bottom: 40px;
  }

  .UserList.isUserDetailHeader > .RelationshipContainer {
    top: 90px;
  }

  .UserList > .RelationshipContainer > .RelationshipButton {
    right: 35px;
  }

  .UserList > .RelationshipContainer > .StarshipButton {
    right: 0;
  }

  .UserList > .RelationshipContainer > .RelationshipButton[data-priority="self"] {
    right: 10px;
  }

  .UserList.isUserDetailHeader > .UserNames {
    margin-top: 200px;
  }

  .UserList.isUserDetailHeader > .UserStats {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
  }
}

@media (--break-2) {
  .UserList {
    margin-top: 20px;
  }

  .UserList > .RelationshipContainer {
    top: 0;
  }

  .UserList > .UserNames {
    width: calc(100% - 370px);
    margin-top: 0;
    margin-left: 220px;
  }

  .UserList > .UserStats {
    padding-right: 20px;
    margin: 20px 0 25px 220px;
  }

  .UserList > .UserInfo {
    padding-right: 20px;
    margin-left: 220px;
  }

  .UserList > .ProfileButtons {
    position: absolute;
    top: 210px;
    left: 35px;
  }
}

@media (--break-4) {
  .UserList > .UserStats,
  .UserList > .UserInfo {
    padding-right: 40px;
  }
}

