@import "../../lib/styles/properties.css";

.UserGrid {
  position: relative;
  height: 260px;
  margin-top: 20px;
  overflow: hidden;
  /* // outline: 1px dotted purple */
}

.UserGrid > .Avatar {
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 3;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.UserGrid > .RelationshipContainer > .RelationshipButton {
  position: absolute;
  top: 90px;
  right: 30px;
}

.UserGrid > .RelationshipContainer > .RelationshipButton[data-priority="self"] {
  right: 0;
}

.UserGrid > .RelationshipContainer > .StarshipButton {
  position: absolute;
  top: 90px;
  right: -5px;
}

.UserGrid > .UserStats,
.UserGrid > .UserNames,
.UserGrid > .UserInfo {
  padding: 0 10px;
}

.UserGrid > .UserStats {
  margin-top: 60px;
}

.UserGrid > .UserNames {
  margin-top: 20px;
}

.UserGrid > .UserInfo {
  display: none;
}

.UserGrid > .UserInfo > .UserShortBio {
  height: 67px;
  overflow: hidden;
  line-height: 1.3;
}

.UserGrid > .UserInfo > .UserExternalLinks {
  margin-top: 15px;
}

@media (--break-2) {
  .UserGrid {
    display: inline-block;
    width: calc(50% - 20px);
    height: 460px;
    margin-top: 20px;
    margin-left: 20px;
    vertical-align: top;
  }

  .UserGrid > .Avatar {
    top: 110px;
    left: 20px;
    width: 120px;
    height: 120px;
  }

  .UserGrid > .RelationshipContainer > .RelationshipButton,
  .UserGrid > .RelationshipContainer > .StarshipButton {
    top: 200px;
  }

  .UserGrid > .UserStats {
    margin-top: 65px;
  }

  /* // override it's default behavior */
  .UserGrid .UserUsername {
    font-size: 18px;
  }

  .UserGrid > .UserInfo {
    display: block;
  }

  /* // Start the grid layout */
  .Users.asGrid {
    margin-left: -20px;
  }
}

@media (--break-3) {
  .UserGrid {
    width: calc(33.33333% - 20px);
  }
}

@media (--break-4) {
  .Users.asGrid {
    margin-left: -40px;
  }

  .UserGrid {
    width: calc(25% - 40px);
    margin-top: 40px;
    margin-left: 40px;
  }
}

@media (--break-5) {
  .UserGrid {
    width: calc(20% - 40px);
  }
}

@media (--break-6) {
  .UserGrid {
    width: calc(16.66666% - 40px);
  }
}

@media (--break-7) {
  .UserGrid {
    width: calc(14.28571% - 40px);
  }
}

