.UserList
  overflow: hidden
  position: relative
  max-width: rem(780)
  min-height: rem(220)
  margin-top: rem(10)
  // outline: 1px dotted purple

.UserList > .Avatar
  overflow: hidden
  position: absolute
  top: 0
  right: 0
  z-index: 3
  width: rem(120)
  height: rem(120)

.UserList > .RelationsGroup > .RelationshipButton
  position: absolute
  top: 0
  left: 0

.UserList > .RelationsGroup > .StarshipButton
  position: absolute
  top: 0
  left: rem(120)

.UserList > .UserNames
  width: calc(100% - #{rem(120)})
  margin-top: rem(80)

.UserList > .UserStats
  margin: rem(20) 0


@media(min-width: #{$break-2})
  .UserList
    margin-top: rem(20)

  .UserList > .Avatar
    left: 0
    right: auto
    width: rem(180)
    height: rem(180)

  .UserList > .RelationsGroup > .RelationshipButton
    left: auto
    right: rem(35)
  .UserList > .RelationsGroup > .StarshipButton
    left: auto
    right: 0

  .UserList > .UserNames
    width: calc(100% - #{rem(370)})
    margin-top: 0
    margin-left: rem(220)

  .UserList > .UserStats
    margin: rem(35) 0 rem(25) rem(220)
    padding-right: rem(20)

  .UserList > .UserInfo
    margin-left: rem(220)
    padding-right: rem(20)

@media(min-width: #{$break-4})
  .UserList > .UserStats,
  .UserList > .UserInfo
    padding-right: rem(40)

main[data-pathname^="/onboarding"]
  .UserList > .RelationsGroup > .StarshipButton
    display: none !important
  .UserList > .RelationsGroup > .RelationshipButton
    right: rem(0)

