@import "../../lib/styles/properties.css";

/* User Stats
------------------------------------- */

.UserStats dl {
  display: inline-block;
}

.UserStats dl + dl {
  margin-left: 8%;
}

.UserStats dt {
  @apply --sanserif-bold;
}

.UserStats dd {
  display: block;
  line-height: 1;
  color: #999;
  transition: color var(--speed) ease;
}

.UserStatsCountLabel {
  display: inline-block;
  border-bottom: 1px solid;
}

.UserStatsLink.isActive dd,
.no-touch .UserStatsLink:not(.asDisabled):hover dd {
  color: #000;
}

/* // Temporary disable a few of these buttons */
.UserStatsLink.asDisabled {
  pointer-events: none !important;
}

/* User Names
------------------------------------- */

.UserUsername {
  font-size: 18px;
}

.no-touch .UserUsername > a:hover {
  color: #666;
}

.UserName {
  color: #999;
}

@media (--break-2) {
  .UserUsername {
    font-size: 24px;
  }
}

/* User Bio
------------------------------------- */

.UserShortBio {
  word-break: break-word; /* stylelint-disable-line */
}

/* User Links
------------------------------------- */

.UserExternalLinks {
  margin-left: -10px;
  color: #999;
  word-wrap: break-word;
}

.UserExternalLinks > a {
  margin-left: 10px;
}

.no-touch .UserExternalLinks > a:hover {
  color: #000;
}

