@import "../../lib/styles/properties.css";

/* -------------------------------------
Users Collections  */

@media (--break-2) {
  .Users.asGrid {
    margin-left: -20px;
  }
}

@media (--break-4) {
  .Users.asGrid {
    margin-left: -40px;
  }
}

/* -------------------------------------
User Avatar  */

.UserAvatar {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

/* -------------------------------------
User Compact  */

.UserCompact {
  position: relative;
  height: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  font-size: 14px;
}

.UserCompactHeader {
  display: inline-block;
  width: calc(100% - 120px);
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}

.UserCompactUserLink {
  display: inline-block;
  max-width: calc(100% - 20px) !important;
  transition: color var(--speed) ease;
}

.no-touch .UserCompactUserLink:hover {
  color: #999;
}

.UserCompactUsername {
  padding-left: 10px;
}

.UserCompact > .RelationshipContainer {
  position: absolute;
  top: 5px;
  right: 0;
}

/* -------------------------------------
User Drawer  */

.UserDrawer {
  position: relative;
  max-width: 780px;
  min-height: 90px;
  padding-left: 20px;
}

.UserDrawer > .SVGIcon {
  position: absolute;
  top: 15px;
  left: 0;
}

.UserDrawer .UserAvatar {
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (--break-2) {
  .UserDrawer > .SVGIcon {
    top: 30px;
  }
}

/* -------------------------------------
User Invitee  */

.UserInvitee {
  position: relative;
  max-width: 440px;
  height: 40px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 14px;
}

/* // WTF? */
.UserInviteeHeader .Avatar {
  margin-top: -1px;
}

.UserInviteeHeader {
  display: inline-block;
  width: calc(100% - 120px);
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}

.UserInviteeUserLink {
  width: 100%;
  transition: color var(--speed) ease;
}

.no-touch .UserInviteeUserLink:hover {
  color: #999;
}

.UserInviteeEmail {
  padding-left: 10px;
}

.UserInviteeUsername {
  padding-left: 10px;
}

.UserInviteeStatusLabel {
  position: absolute;
  top: 5px;
  right: 0;
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
}

.UserInviteeAction {
  position: absolute;
  top: 5px;
  right: 0;
  width: 110px;
  height: 30px;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 30px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 15px;
  transition:
    background-color var(--speed) var(--ease),
    border-color var(--speed) var(--ease),
    color var(--speed) var(--ease);
}

.no-touch .UserInviteeAction:hover {
  color: #fff;
  background-color: #aaa;
  border-color: #aaa;
}

.UserInvitee > .RelationshipContainer {
  position: absolute;
  top: 5px;
  right: -8px;
}

@media (--break-2) {
  /* // Start the grid layout */
  .Users.asInviteeGrid {
    margin-left: -20px;
  }

  .UserInvitee {
    max-width: 720px;
    margin-bottom: 40px;
  }

  .UserInviteeGrid {
    display: inline-block;
    width: calc(50% - 20px);
    margin-left: 20px;
    vertical-align: top;
  }
}

@media (--break-3) {
  .UserInviteeGrid {
    width: calc(33.33333% - 20px);
  }
}

@media (--break-4) {
  .Users.asInviteeGrid {
    margin-left: -40px;
  }

  .UserInviteeGrid {
    width: calc(25% - 40px);
    margin-left: 40px;
  }
}

@media (--break-5) {
  .UserInviteeGrid {
    width: calc(20% - 40px);
  }
}

@media (--break-6) {
  .UserInviteeGrid {
    width: calc(16.66666% - 40px);
  }
}

@media (--break-7) {
  .UserInviteeGrid {
    width: calc(14.28571% - 40px);
  }
}

/* -------------------------------------
User Profile  */

.UserProfile {
  position: relative;
  flex-grow: 1;
  max-width: 600px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  color: #000;
  text-align: center;
}

@media (--break-2) {
  .UserProfile {
    min-height: 360px;
    padding-right: 0;
    padding-left: 0;
    color: #fff;
  }
}

/* -------------------------------------
User Cards  */

.UserProfileCard {
  position: relative;
  height: 250px;
  padding: 20px;
  margin-top: 10px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
}

@media (--break-2) {
  .UserProfileCard {
    display: inline-block;
    width: calc(50% - 20px);
    height: 540px;
    margin-top: 20px;
    margin-left: 20px;
    vertical-align: top;
  }
}

@media (--break-3) {
  .UserProfileCard {
    width: calc(33.33333% - 20px);
  }
}

@media (--break-4) {
  .UserProfileCard {
    width: calc(25% - 40px);
    margin-top: 40px;
    margin-left: 40px;
  }
}

@media (--break-5) {
  .UserProfileCard {
    width: calc(20% - 40px);
  }
}

@media (--break-6) {
  .UserProfileCard {
    width: calc(16.66666% - 40px);
  }
}

@media (--break-7) {
  .UserProfileCard {
    width: calc(14.28571% - 40px);
  }
}

