.UserGrid
  position: relative
  height: rem(220)
  margin-top: rem(20)
  overflow: hidden
  // outline: 1px dotted purple

.UserGrid .CoverImage
  width: 100%
  min-height: rem(80)
  max-height: rem(80)
  background: #e5e5e5 no-repeat 50% 50%
  background-size: cover

.UserGrid .Avatar
  +circle(rem(80))
  position: absolute
  top: 30px
  left: rem(10)

.UserGrid > .RelationshipButton
  position: absolute
  top: rem(22)
  right: rem(10)


// -------------------------------------
.UserGrid .stats
  padding: 0 rem(10)
  margin-top: rem(40)

.UserGrid .stats dl
  display: inline-block
.UserGrid .stats dl + dl
  margin-left: 6%

.UserGrid .stats dt
  +sans-bold-family

.UserGrid .stats dd
  +monospace
  display: block
  border-bottom: 1px solid
  color: #999

// -------------------------------------
.UserGrid .vitals
  padding: 0 rem(10)
  margin-top: rem(10)

.UserGrid h2
  +sans-bold-family
  font-size: rem(18)

.UserGrid h3
  +monospace
  color: #999

.UserGrid .short-bio
  +monospace
  display: none
  height: rem(70)
  overflow: hidden
.UserGrid .short-bio > *
  +monospace-typeset

.UserGrid .external-links
  +monospace
  display: none
  color: #999
  margin-top: rem(4)
.UserGrid .external-links a
  display: inline-block
.no-touch .UserGrid .external-links a:hover
  color: black

.UserGrid .external-links a + a
  margin-left: rem(10)

// -------------------------------------

@media(min-width: #{$break-2})
  .UserGrid
    height: rem(440)
  .UserGrid .CoverImage
    min-height: rem(180)
    max-height: rem(180)
  .UserGrid .Avatar
    +circle(rem(120))
    top: rem(110)
    left: rem(20)
  .UserGrid > .RelationshipButton
    top: rem(200)
  .UserGrid .stats
    margin-top: rem(65)
  .UserGrid .vitals
    margin-top: rem(20)
  .UserGrid .short-bio,
  .UserGrid .external-links
    display: block

  .Users.asGrid
    margin-left: rem(-20)
  .UserGrid
    display: inline-block
    vertical-align: top
    width: calc(50% - #{rem(20)})
    margin-left: rem(20)
    margin-top: rem(20)

@media(min-width: #{$break-3})
  .UserGrid
    width: calc(33.33333% - #{rem(20)})

@media(min-width: #{$break-4})
  .Users.asGrid
    margin-left: rem(-40)
  .UserGrid
    width: calc(25% - #{rem(40)})
    margin-top: rem(40)
    margin-left: rem(40)

@media(min-width: #{$break-5})
  .UserGrid
    width: calc(20% - #{rem(40)})

@media(min-width: #{$break-6})
  .UserGrid
    width: calc(16.66666% - #{rem(40)})

@media(min-width: #{$break-7})
  .UserGrid
    width: calc(14.28571% - #{rem(40)})

