.UserGrid
  overflow: hidden
  position: relative
  height: rem(220)
  margin-top: rem(20)
  // outline: 1px dotted purple

.UserGrid > .Avatar
  overflow: hidden
  position: absolute
  top: rem(30)
  left: rem(10)
  z-index: 3
  width: rem(80)
  height: rem(80)

.UserGrid > .RelationsGroup > .RelationshipButton
  position: absolute
  top: rem(22)
  right: rem(35)

.UserGrid > .RelationsGroup > .StarshipButton
  position: absolute
  top: rem(22)
  right: 0

.UserGrid > .UserStats,
.UserGrid > .UserNames,
.UserGrid > .UserInfo
  padding: 0 rem(10)

.UserGrid > .UserStats
  margin-top: rem(40)

.UserGrid > .UserNames
  margin-top: rem(10)

.UserGrid > .UserInfo
  display: none

.UserGrid > .UserInfo > .UserShortBio
  overflow: hidden
  height: rem(68)

.UserGrid > .UserInfo > .UserExternalLinks
  margin-top: rem(12)


@media(min-width: #{$break-2})
  .UserGrid
    height: rem(440)

  .UserGrid > .Avatar
    top: rem(110)
    left: rem(20)
    width: rem(120)
    height: rem(120)

  .UserGrid > .RelationsGroup > .RelationshipButton,
  .UserGrid > .RelationsGroup > .StarshipButton
    top: rem(200)

  .UserGrid > .UserStats
    margin-top: rem(65)

  .UserGrid > .UserInfo
    display: block

  // Start the grid layout
  .Users.asGrid
    margin-left: rem(-20)
  .UserGrid
    display: inline-block
    vertical-align: top
    width: calc(50% - #{rem(20)})
    margin-top: rem(20)
    margin-left: rem(20)

@media(min-width: #{$break-3})
  .UserGrid
    width: calc(33.33333% - #{rem(20)})

@media(min-width: #{$break-4})
  .Users.asGrid
    margin-left: rem(-40)
  .UserGrid
    width: calc(25% - #{rem(40)})
    margin-top: rem(40)
    margin-left: rem(40)

@media(min-width: #{$break-5})
  .UserGrid
    width: calc(20% - #{rem(40)})

@media(min-width: #{$break-6})
  .UserGrid
    width: calc(16.66666% - #{rem(40)})

@media(min-width: #{$break-7})
  .UserGrid
    width: calc(14.28571% - #{rem(40)})

