@import ../../vendor/lib

.Categories
  margin-left: rem(-20)
  color: white
.Categories .CategoryLink
  display: inline-block
  width: calc(50% - #{rem(20)})
  height: rem(275)
  margin-top: rem(20)
  margin-left: rem(20)
  background-size: cover
.Categories span
  display: block
  width: 100%
  height: 100%
  line-height: rem(275)
  text-align: center
  background: rgba(black, .4)


@media(min-width: #{$break-3})
  .Categories .CategoryLink
    width: calc(33.33333% - #{rem(20)})

@media(min-width: #{$break-4})
  .Categories
    margin-left: rem(-40)
  .Categories .CategoryLink
    width: calc(25% - #{rem(40)})
    margin-top: rem(40)
    margin-left: rem(40)

@media(min-width: #{$break-5})
  .Categories .CategoryLink
    width: calc(20% - #{rem(40)})

@media(min-width: #{$break-6})
  .Categories .CategoryLink
    width: calc(16.66666% - #{rem(40)})

@media(min-width: #{$break-7})
  .Categories .CategoryLink
    width: calc(14.28571% - #{rem(40)})

