@import ../../vendor/lib

.Categories
  margin-left: rem(-20)
  margin-top: rem(10)
  color: white
.Categories .CategoryLink
  position: relative
  display: inline-block
  width: calc(50% - #{rem(20)})
  height: rem(144)
  margin-bottom: rem(20)
  margin-left: rem(20)
  font-size: rem(16)
  text-align: center
  background-size: cover
.Categories .CategoryLink:before
  transition: background-color $speed
  content: ''
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 2
  background-color: rgba(black, 0.4)
.no-touch .Categories .CategoryLink:hover:before
  background-color: rgba(black, 0.6)

.CategoryLink.isActive
  background-color: rgba(black, 0.8)

.CategoryLinkName
  position: relative
  display: inline-block
  z-index: 3
  margin-top: rem(72)
button.CategoryLink .CategoryLinkName
  margin-top: rem(10)

.CategoryLinkName:after
  transition: width $speed $ease
  content: ''
  position: absolute
  top: rem(22)
  left: 0
  width: 0
  height: rem(1)
  background-color: white
.no-touch .Categories .CategoryLink:hover .CategoryLinkName:after
  width: 100%

.CategoryLinkName .CheckMark
  position: absolute
  top: 0
  left: rem(-25)
  transform: scale(0.6)
.CategoryLinkName .CheckMark g
  stroke: #00d100
  stroke-width: 2

@media(min-width: #{$break-2})
  .CategoryLinkName .CheckMark
    top: rem(5)
  .Categories .CategoryLink
    height: rem(275)
    font-size: rem(24)
  .CategoryLinkName
    margin-top: rem(130)
  button.CategoryLink .CategoryLinkName
    margin-top: rem(20)
  .CategoryLinkName:after
    top: rem(32)

@media(min-width: #{$break-3})
  .Categories .CategoryLink
    width: calc(33.33333% - #{rem(20)})

@media(min-width: #{$break-4})
  .Categories
    margin-top: rem(20)
    margin-left: rem(-40)
  .Categories .CategoryLink
    width: calc(25% - #{rem(40)})
    margin-bottom: rem(40)
    margin-left: rem(40)

@media(min-width: #{$break-5})
  .Categories .CategoryLink
    width: calc(20% - #{rem(40)})

@media(min-width: #{$break-6})
  .Categories .CategoryLink
    width: calc(16.66666% - #{rem(40)})

@media(min-width: #{$break-7})
  .Categories .CategoryLink
    width: calc(14.28571% - #{rem(40)})

