@import "../../lib/styles/properties.css";

.CategoryTabBar {
  position: absolute;
  right: 0;
  bottom: -70px;
  left: 0;
  z-index: 2;
  height: 70px;
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
  background-color: #000;
  border-bottom: 1px solid #fff;
}

/* 374 and below */
@media (max-width: 23.375em) {
  .CategoryTabBar {
    bottom: -50px;
    height: 50px;
  }
}

.CategoryTabs {
  position: relative;
  display: inline-block;
  width: calc(100% - 70px);
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  vertical-align: top;
}

.CategoryTabBarUtility {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 100%;
  padding-right: 10px;
  text-align: right;
  vertical-align: top;
  background-color: #000;
}

.CategoryTabBarUtility::before {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 2;
  width: 20px;
  height: 100%;
  content: "";
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%);
}

.CategoryTab {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100%;
  padding: 0 10px;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  vertical-align: top;
  background-color: #000;
  background-size: cover;
  transition: color var(--speed) ease;
}

.CategoryTab::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color var(--speed) ease;
}

.CategoryTab.isActive::before,
.CategoryTab:active::before,
.no-touch .CategoryTab:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
}

.CategoryTab + .CategoryTab {
  border-left: 1px solid #fff;
}

.CategoryTabLabel {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.CategoryUtilTab {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

@media (--break-2) {
  .CategoryTabBar {
    bottom: -80px;
    height: 80px;
    font-size: 14px;
  }

  .CategoryTabs {
    width: calc(100% - 90px);
  }

  .CategoryTabBarUtility {
    width: 90px;
    padding-right: 20px;
  }

  .CategoryTabBarUtility::before {
    left: -30px;
    width: 30px;
  }

  .CategoryTab {
    width: 120px;
  }
}

@media (--break-4) {
  .CategoryTabBarUtility {
    padding-right: 40px;
  }
}

