.IconTab
  transition: background-color $speed ease, color $speed ease
  width: (100% / 6)
  height: rem(30)
  padding-top: rem(6)
  font-size: rem(12)
  text-align: center
  background-color: #e5e5e5
  color: #aaa

.IconTab + .IconTab
  border-left: 1px solid white

.IconTab.active,
.IconTab:active,
.no-touch .IconTab:hover
  background-color: black
  color: white

.IconTab.active .SVGIcon g,
.IconTab:active .SVGIcon g,
.no-touch .IconTab:hover .SVGIcon g
  stroke: white

