.PageTabs
  padding: rem(20) rem(10) 0


@media(min-width: #{$break-2})
  .PageTabs
    padding: rem(40) rem(20) rem(20)

@media(min-width: #{$break-4})
  .PageTabs
    padding-left: rem(40)
    padding-right: rem(40)

