.AppleStoreLink
  display: none
  position: absolute
  bottom: rem(10)
  left: rem(10)

@media(min-width: #{$break-2})
  .AppleStoreLink
    bottom: rem(20)
    left: rem(20)

@media(min-width: #{$break-4})
  .AppleStoreLink
    left: rem(40)

