@import ../../styles/lib

.AppleStoreLink
  display: none
  position: absolute
  bottom: rem(10)
  left: rem(10)

.AppleStoreLink svg
  border-radius: 5px

@media(min-width: #{$break-2})
  .AppleStoreLink
    display: block
    bottom: rem(20)
    left: rem(20)

@media(min-width: #{$break-4})
  .AppleStoreLink
    left: rem(40)

