.SVGIcon g
  transform-origin: center center
  fill: transparent
  stroke: #aaa
  stroke-width: 1.25
  stroke-miterlimit: 10

.SVGIcon > g
  transition: fill $speed ease $speed * 0.5, stroke $speed ease, transform $speed ease

.SVGIcon > g:nth-of-type(2)
  transition-delay: $speed, $speed * 0.5, $speed * 0.5

.SVGIcon > g:nth-of-type(3)
  transition-delay: $speed * 1.5, $speed, $speed

.SVGIcon > g:nth-of-type(4)
  transition-delay: $speed * 2, $speed, $speed

@media(min-width: #{$break-2})
  .no-touch a:hover .SVGIcon > g,
  .no-touch button:hover .SVGIcon > g
    stroke: black

// -------------------------------------
// Fine tune specific icons

.FlagIcon > g,
.StarIcon > g,
.SearchIcon > g,
.BubbleIcon > g,
.RepostIcon > g,
.ShareIcon > polyline,
  stroke-linejoin: round

.BoltIcon > g
  stroke-linejoin: bevel

.PencilIcon > g,
.XBoxIcon > g,
.PlusIcon > g,
.MinusIcon > g
  transition-delay: $speed * 0.5, 0s, 0s
  stroke-linecap: square
.MinusIcon > line:nth-of-type(2)
  display: none

.EyeIcon > circle
  transition: fill $speed ease
  stroke: transparent
  fill: #aaa

button.active .HeartIcon > g
  fill: red
  stroke: red

// The bubble loading state has some extra parts.
.BubbleIcon > g:nth-child(2)
  fill: black
  stroke: black
  display: none


@media(min-width: #{$break-2})
  .no-touch button:hover .BubbleIcon > g,
  .no-touch button:hover .HeartIcon > g
    fill: black

  .no-touch button:hover .FlagIcon > g:nth-of-type(2)
    stroke: black
    fill: black

  .no-touch a:hover .EyeIcon > circle
    transition-delay: $speed * 0.5
    stroke: black
    fill: black

  .no-touch button:hover .ShareIcon > g:nth-of-type(2)
    transform: translate3d(0,rem(-1),0)

  .no-touch button:hover .SVGIcon.XBoxIcon  g:nth-of-type(2)
    transform: rotate(90deg)


// -------------------------------------

.SVGBox path:nth-of-type(1)
  transition: fill $speed ease

.SVGBox path:nth-of-type(n+2)
  fill: white

.SVGBox path:nth-of-type(1)
  transition: fill $speed ease

// -------------------------------------

.SVGShareBox path:nth-of-type(1)
  transition: fill $speed ease

.SVGShareBox path:nth-of-type(n+2),
.SVGShareBox polygon,
.SVGShareBox rect
  fill: white

.SVGShareBox.RedditIcon > *,
.SVGShareBox.RedditIcon > path:nth-of-type(n+3)
  fill: black

.no-touch button:hover > .SVGShareBox path:nth-of-type(1),
.no-touch button:hover > .SVGShareBox.RedditIcon circle
  fill: #666

// ----------------------------------------------------------------------------

.ElloMark,
.ElloDonutMark,
.ElloRainbowMark
  border-radius: rem(40)
  display: inline-block
  overflow: hidden

