body.notificationsAreScrolling
  overflow: hidden

.NotificationsContainer
  position: absolute
  top: 100%
  right: rem(20)
  width: rem(360)
  padding-bottom: rem(10)
  background-color: white
  border: 1px solid #aaa
  border-top: 0
  overflow: hidden

.NotificationsContainer > .Scrollable
  height: rem(300)
  overflow-y: auto
  -webkit-overflow-scrolling: touch

.NotificationsContainerTabs > .IconTab
  width: (100% / 6)

@media(min-width: #{$break-4})
  .NotificationsContainer
    right: rem(40)

// MIN HEIGHTS!
@media(min-height: #{em(660)})
  .NotificationsContainer > .Scrollable
    height: rem(505)

@media(min-height: #{em(760)})
  .NotificationsContainer > .Scrollable
    height: rem(605)

