.ChannelCard
  position: relative
  background: rgba(black, 0.1) no-repeat 50% 50%
  height: 320px
  display: inline-block
  width: 33.33333%
  text-align: center
  padding: rem(10)
  background-size: cover
  margin-bottom: rem(10)


.ChannelCard > a
  position: absolute
  display: inline-block
  left: rem(10)
  right: rem(10)
  bottom: rem(10)
  background-color: white
  text-align: center
  height: rem(50)
  line-height: rem(50)

.ChannelCard > h2
  position: absolute
  top: 50%
  left: 0
  right: 0
  color: white

