@import ../../vendor/lib

.ElloMark,
.ElloDonutMark,
.ElloRainbowMark,
.ElloOutlineMark
  display: inline-block
  overflow: hidden
  border-radius: rem(40)

.ElloRainbowMark path
  fill: white

.ElloNinjaSuit
  position: absolute
  top: 0
  left: 0
  fill: #ed2224

.ElloOutlineMark
  border: 1px solid #aaa
.ElloOutlineMark .FillPath
  fill: transparent
.ElloOutlineMark .SmilePath
  transform: translateX(-2px)
  stroke: #aaa
  fill: transparent !important

