@import "../../lib/styles/properties.css";

.MiniPillButton {
  height: 30px;
  padding: 1px 15px 0;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 15px;
  transition: background-color var(--speed), border-color var(--speed), color var(--speed);
}

.MiniPillButton.isLink {
  display: inline-block;
  padding-top: 0;
}

.MiniPillButton.size58 {
  width: 58px;
  padding-right: 0;
  padding-left: 0;
}

.no-touch .MiniPillButton:hover {
  color: #fff;
  background-color: #00d101;
  border-color: #00d101;
}

.RoundedButton {
  height: 50px;
  padding: 0 30px;
  color: #aaa;
  text-align: center;
  background-color: transparent;
  border: 1px solid;
  transition: background-color var(--speed), border-color var(--speed), color var(--speed);
}

.RoundedButton:active,
.RoundedButton:hover {
  color: #fff;
  background-color: #aaa;
  border-color: #aaa;
}

