.RelationshipImageButton
  height: rem(80)
  padding: rem(10)
  margin-top: rem(1)
  background: rgba(black, 0.1) no-repeat 50% 50%
  background-size: cover
  display: block
  width: 100%
  text-align: center
  &:before
    transition: background-color $speed $ease
    background-color: rgba(black, 0.4)
    z-index: 1

.RelationshipImageButton > span:first-of-type
  position: absolute
  top: calc(50% - #{rem(15)})
  left: rem(10)
  z-index: 2
  +heading
  font-size: rem(24)
  color: white

.RelationshipImageButton > span + span
  +mono-typeset
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease
  display: inline-block
  vertical-align: middle
  position: absolute
  top: calc(50% - #{rem(15)})
  right: rem(10)
  z-index: 2
  width: rem(90)
  height: rem(30)
  padding: 0 rem(10) 0 rem(5)
  line-height: rem(30)
  background-color: white
  border: 1px solid white

.RelationshipImageButton[data-priority="friend"] > span + span,
.RelationshipImageButton[data-priority="noise"] > span + span
  background-color: black
  border-color: black
  color: white
  > .SVGIcon g
    stroke: white

.RelationshipImageButton > span + span > .MiniPlusIcon
  margin-top: -2px

.RelationshipImageButton > span + span > .MiniCheckIcon
  margin-top: -4px

.no-touch .RelationshipImageButton:hover:before
  background-color: transparent

.no-touch .RelationshipImageButton:hover > span + span
  background-color: #666
  border-color: #666
  color: white
  > .SVGIcon g
    stroke: white

@media(min-width: #{$break-2})
  .RelationshipImageButton > span:first-of-type
    right: 0
  .RelationshipImageButton > span + span
    top: auto
    left: rem(10)
    bottom: rem(10)
    width: calc(100% - #{rem(20)})
    height: rem(50)
    line-height: rem(50)
    text-align: center

