.RelationshipButton
  +ButtonBase
  width: rem(90)
  height: rem(30)
  line-height: rem(30)
  padding: 0 rem(10) 0 rem(5)
  background-color: white
  border-color: black
  .no-touch &:hover
    background-color: #666
    border-color: #666
    color: white
    > .SVGIcon g
      stroke: white

.RelationshipButton[data-priority="friend"],
.RelationshipButton[data-priority="noise"]
  background-color: black
  border-color: black
  color: white
  > .SVGIcon g
    stroke: white

.RelationshipButton > .MiniPlusIcon
  margin-top: -2px

.RelationshipButton > .MiniCheckIcon
  margin-top: -4px

