.DT-vertical-grid,
.DT-horizontal-grid
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: transparent 0 0 repeat
  z-index: $z-grid
  opacity: 0.15
  pointer-events: none

.DT-vertical-grid
  background-image: url("/static/images/devtools/grid-vertical.svg")
.DT-horizontal-grid
  background-image: url("/static/images/devtools/grid-horizontal.svg")

// Background Colors

.highlightContainers
  .Navbar
    background-color: rgba(purple, 0.95)
  .SearchBar
    background-color: rgba(lightgreen, 0.95)
  .PostHeader,
  .RepostHeader
    background-color: lightblue
  .PostBody
    background-color: lightyellow
  .PostTools
    background-color: lightgreen
  .UserAvatars
    background-color: lightslategrey
  .UserAvatars + .UserAvatars
    background-color: lightsalmon
  .Comments
    background-color: lightgrey

