@import ../../vendor/lib

$_SVGHeadT: "<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'>"
$_SVGHeadG: "<g fill='none' stroke-miter-limit='10'>"
$_SVGVertL: "<line stroke='rgba(255,0,255,0.5)' stroke-dasharray='8, 2' x1='19.5' y1='0' x2='19.5' y2='40'/><line stroke='rgb(255,0,255)' x1='39.5' y1='0' x2='39.5' y2='40'/>"
$_SVGHorzL: "<line stroke='rgba(255,0,255,0.5)' stroke-dasharray='8, 2' x1='0' y1='19.5' x2='40' y2='19.5'/><line stroke='rgb(255,0,255)' x1='0' y1='39.5' x2='40' y2='39.5'/>"
$_SVGTailG: "</g>"
$_SVGTailT: "</svg>"


.DT-vertical-grid,
.DT-horizontal-grid
  pointer-events: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: $z-grid
  opacity: 0.15
  background: transparent 0 0 repeat

.DT-vertical-grid
  background-image: url('data:image/svg+xml;charset=utf8,#{$_SVGHeadT}#{$_SVGHeadG}#{$_SVGVertL}#{$_SVGTailG}#{$_SVGTailT}')
.DT-horizontal-grid
  background-image: url('data:image/svg+xml;charset=utf8,#{$_SVGHeadT}#{$_SVGHeadG}#{$_SVGHorzL}#{$_SVGTailG}#{$_SVGTailT}')

// -------------------------------------
// Background Colors

.highlightContainers
  .Navbar,
  .OnboardingNavbar
    background-color: rgba(purple, 0.95)
  .SearchBar
    background-color: rgba(lightgreen, 0.95)
  .Footer
    background-color: rgba(cyan, 0.5)
  .PostHeader,
  .RepostHeader
    background-color: lightblue
  .PostBody
    background-color: lightyellow
  .PostTools
    background-color: lightgreen
  .UserDrawer
    background-color: lightslategrey
  .UserDrawer + .UserDrawer
    background-color: lightsalmon
  .Comments
    background-color: lightgrey

