// Grids
.DevTools-VerticalGrid,
.DevTools-HorizontalGrid
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: transparent 0 0 repeat
  z-index: $z-grid
  opacity: 0.15
  pointer-events: none
.DevTools-VerticalGrid
  background-image: asset-data-url("devtools/grid-vertical.svg")
.DevTools-HorizontalGrid
  background-image: asset-data-url("devtools/grid-horizontal.svg")

