@import ../../styles/lib

@keyframes animatePaginatorSpinner
  from
    transform: rotate(0deg) scale(0.5)
  to
    transform: rotate(360deg) scale(0.5)

.Paginator
  +sans-typeset
  transition: transform $speed $ease, height $speed $ease, background-color $speed $ease
  transform: translate3d(0,100%,0)
  overflow: hidden
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 0
  text-align: center
  background-color: transparent
  color: #aaa

.Paginator.isBusy
  transform: translate3d(0,0,0)
  height: rem(40)
  line-height: rem(40)
  background-color: white

.Paginator .ElloMark
  transform: scale(0)

.Paginator.isBusy .ElloMark
  transform: scale(0.5)
  animation: animatePaginatorSpinner 0.3s infinite linear

// Position to the right for Lovers/Reposter drawers
.UserAvatars .Paginator
  transform: translate3d(0,0,0)
  left: auto
  height: auto

// Position bottom left for see more on settings
.BlockedUsers .Paginator,
.MutedUsers .Paginator
  transform: translate3d(0,0,0)
  height: auto
  right: auto
  bottom: rem(-60)

.BlockedUsers,
.MutedUsers
  margin-bottom: rem(80)

