@import "../../lib/styles/properties.css";

.StreamContainer {
  padding: 10px;
}

.StreamContainer.isFullWidth {
  padding-right: 0;
  padding-left: 0;
}

@media (--break-2) {
  .StreamContainer {
    padding: 20px;
  }

  .PostList .TabListStreamContainer {
    padding-top: 0;
  }
}

@media (--break-4) {
  .StreamContainer {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* ------------------------------------- */

.StreamContainer.isBusy {
  min-height: 120px;
  text-align: center;
}

.PostList .TabListStreamContainer.isBusy {
  max-width: 720px;
}

.StreamBusyIndicator {
  position: relative;
  top: 20px;
}

/* ------------------------------------- */

.MainView > .StreamContainer.isError,
.MainView > .UserDetails > .StreamContainer.isError,
.MainView > .PostDetails > .StreamContainer.isError {
  max-width: 780px;
  margin: 0 auto;
}

.MainView > .StreamContainer.isBusy {
  min-height: 180px;
}

.MainView > .StreamContainer .StreamBusyIndicator {
  top: 80px;
}

.MainView > .UserDetails {
  min-height: 100vh;
}

@media (--break-2) {
  .MainView > .StreamContainer.isBusy {
    min-height: 220px;
  }

  .MainView > .StreamContainer .StreamBusyIndicator {
    top: 120px;
  }
}

@media (--break-5) {
  .View > .StreamContainer.isBusy {
    min-height: 340px;
  }

  .View > .StreamContainer .StreamBusyIndicator {
    top: 240px;
  }
}

