@import ../../vendor/lib

@keyframes animateStreamIsBusy
  from
    transform: rotate(0deg)
  to
    transform: rotate(720deg)

.StreamContainer
  padding: rem(10)

.StreamContainer.asFullWidth
  padding-left: 0
  padding-right: 0

@media(min-width: #{$break-2})
  .StreamContainer
    padding: rem(20)
  .PostList .CommentStreamContainer
    padding-top: 0


@media(min-width: #{$break-4})
  .StreamContainer
    padding-left: rem(40)
    padding-right: rem(40)

// -------------------------------------

.StreamContainer.isBusy
  text-align: center

.PostList .CommentStreamContainer.isBusy
  max-width: rem(720)

.StreamBusyIndicator
  position: relative
  top: rem(20)

.StreamBusyIndicator .ElloMark
  animation: animateStreamIsBusy 1.03333s infinite $ease-in-out-cubic

.StreamBusyIndicator .ElloMark .FillPath
  fill: transparent

.StreamBusyIndicator .ElloMark .SmilePath
  fill: #aaa

// -------------------------------------

.MainView > .StreamContainer.hasErrored,
.MainView > .UserDetails > .StreamContainer.hasErrored,
.MainView > .PostDetails > .StreamContainer.hasErrored
  margin: 0 auto
  max-width: rem(780)

.MainView > .StreamContainer .StreamBusyIndicator
  top: rem(80)

@media(min-width: #{$break-2})
  .MainView > .StreamContainer .StreamBusyIndicator
    top: rem(120)

@media(min-width: #{$break-5})
  .View > .StreamContainer .StreamBusyIndicator
    top: rem(240)

