@import ../../styles/lib

@keyframes animateStreamIsBusy
  from
    transform: rotate(0deg)
  to
    transform: rotate(720deg)

.StreamComponent,
.StreamContainer
  padding: rem(10)

.StreamComponent.asFullWidth
  padding-left: 0
  padding-right: 0

@media(min-width: #{$break-2})
  .StreamComponent,
  .StreamContainer
    padding: rem(20)
  .PostList .CommentStreamComponent
    padding-top: 0


@media(min-width: #{$break-4})
  .StreamComponent,
  .StreamContainer
    padding-left: rem(40)
    padding-right: rem(40)

// -------------------------------------

.StreamComponent.isBusy
  text-align: center

.PostList .CommentStreamComponent.isBusy
  max-width: rem(720)

.StreamBusyIndicator
  position: relative
  top: rem(20)

.StreamBusyIndicator .ElloMark
  animation: animateStreamIsBusy 1.03333s infinite $ease-in-out-cubic

.StreamBusyIndicator .ElloMark .FillPath
  fill: transparent

.StreamBusyIndicator .ElloMark .SmilePath
  fill: #aaa

// -------------------------------------

.Panel > .StreamComponent.hasErrored,
.Panel > .UserDetails > .StreamComponent.hasErrored,
.Panel > .PostDetails > .StreamComponent.hasErrored
  margin: 0 auto
  max-width: rem(780)

.Panel > .StreamComponent .StreamBusyIndicator
  top: rem(80)

@media(min-width: #{$break-2})
  .Panel > .StreamComponent .StreamBusyIndicator
    top: rem(120)

@media(min-width: #{$break-5})
  .Panel > .StreamComponent .StreamBusyIndicator
    top: rem(240)

