@import ../../styles/lib

@keyframes animateStreamIsBusy
  from
    transform: rotate(0deg) scale(0.5)
  to
    transform: rotate(360deg) scale(0.5)

.StreamComponent,
.StreamContainer
  padding: rem(10)

.StreamComponent.asFullWidth
  padding-left: 0
  padding-right: 0

// Comments in a post detail
.StreamContainer
  margin-bottom: rem(40)

@media(min-width: #{$break-2})
  .StreamComponent,
  .StreamContainer
    padding: rem(20)

@media(min-width: #{$break-4})
  .StreamComponent,
  .StreamContainer
    padding-left: rem(40)
    padding-right: rem(40)

// -------------------------------------

.StreamComponent.isBusy
  text-align: center

.PostList .CommentStreamComponent.isBusy
  max-width: rem(720)

.StreamBusyIndicator
  position: relative
  top: rem(20)

.StreamBusyIndicator .ElloMark
  transform: scale(0.5)
  animation: animateStreamIsBusy 0.3s infinite linear

// -------------------------------------

.Panel > .StreamComponent.hasErrored,
.Panel > .UserDetails > .StreamComponent.hasErrored,
.Panel > .PostDetails > .StreamComponent.hasErrored
  margin: 0 auto
  max-width: rem(780)

