@keyframes animateStreamIsBusy
  from
    transform: rotate(0deg) scale(0.5)
  to
    transform: rotate(360deg) scale(0.5)

.StreamComponent
  padding: rem(10)


@media(min-width: #{$break-2})
  .StreamComponent
    padding: rem(20)

@media(min-width: #{$break-4})
  .StreamComponent
    padding-left: rem(40)
    padding-right: rem(40)

// -------------------------------------

.StreamComponent.isBusy
  text-align: center

.StreamBusyIndicator
  position: relative
  top: rem(20)

.StreamBusyIndicator .ElloMark
  transform: scale(0.5)
  animation: animateStreamIsBusy 0.3s infinite linear

// -------------------------------------

.StreamComponent.hasErrored
  margin: 0 auto
  max-width: rem(780)

.StreamErrorMessage
  position: relative
  top: rem(30)

.StreamErrorMessage > img
  display: block
  margin: 0 auto rem(75)
  padding-top: rem(5)


@media(max-width: #{$break-2-max})
  .StreamErrorMessage
    padding-left: rem(10)
    padding-right: rem(10)

