@import "../../lib/styles/properties.css";

.ErrorState {
  max-width: 780px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

.ErrorStateImage {
  display: block;
  margin: 0 auto 75px;
}

.UserDrawer .ErrorState {
  position: relative;
  top: 10px;
}

@media (--break-2) {
  .ErrorState {
    padding-right: 0;
    padding-left: 0;
  }
}

