@import "../../lib/styles/properties.css";

.Hero {
  padding-top: 85px;
  background-color: #fff;
}

.isOnboardingView ~ .Hero,
.isAuthenticationView ~ .Hero {
  padding-top: 0 !important;
}

.isDiscoverView ~ .Hero {
  padding-top: 160px !important;
}

.HeroProfile {
  position: relative;
  display: flex;
  overflow: hidden;
}

.HeroPromotion {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 240px;
  overflow: hidden;
  color: #fff;
}

@media (--break-2-max) {
  .isLoggedOut .Hero {
    padding-top: 50px;
  }

  .isDiscoverView ~ .Hero {
    padding-top: 155px !important;
  }

  .isLoggedOut .isDiscoverView ~ .Hero {
    padding-top: 120px !important;
  }

  .HeroPromotionCategory {
    flex-direction: column;
  }
}

/* 374 and below */
@media (max-width: 23.375em) {
  .isDiscoverView ~ .Hero {
    padding-top: 135px !important;
  }

  .isLoggedOut .isDiscoverView ~ .Hero {
    padding-top: 100px !important;
  }
}

@media (--break-2) {
  .Hero {
    padding-top: 80px;
  }

  .HeroProfile {
    height: calc(100vh - 80px);
    min-height: 540px;
  }

  .HeroPromotion {
    min-height: 380px;
  }
}

