@import "../../lib/styles/properties.css";

/* stylelint-disable no-unsupported-browser-features */

.Hero {
  padding-top: 85px;
  background-color: #fff;
}

.HeroImage {
  position: relative;
  display: flex;
  overflow: hidden;
}

.isOnboardingView ~ .Hero,
.isAuthenticationView ~ .Hero {
  padding-top: 0 !important;
}

.ScrollToContentButton {
  position: absolute;
  bottom: 40px;
  left: calc(50% - 20px);
  display: none;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 20px;
}

.ScrollToContentButton .ScrollToContentIcon {
  margin-top: -2px;
}

.ScrollToContentButton .ScrollToContentIcon circle,
.ScrollToContentButton .ScrollToContentIcon g,
.ScrollToContentButton .ScrollToContentIcon polyline {
  fill: none;
  stroke: #fff;
}

.UserFiguresShareHeroButton {
  position: absolute;
  top: 230px;
  right: 10px;
  width: 40px;
  height: 40px;
}

.UserFiguresShareHeroButton .ShareIcon g,
.UserFiguresShareHeroButton .ShareIcon line,
.UserFiguresShareHeroButton .ShareIcon polyline {
  fill: none;
  stroke: #aaa;
}

@media (--break-2-max) {
  .isLoggedOut .Hero {
    padding-top: 50px;
  }
}

@media (--break-2) {
  .ScrollToContentButton {
    display: inline;
  }

  .Hero {
    padding-top: 80px;
  }

  .HeroImage {
    height: calc(100vh - 80px);
    min-height: 540px;
  }

  .UserFiguresShareHeroButton {
    top: 20px;
    right: 20px;
    background-color: #000;
    border-radius: 20px;
  }

  .UserFiguresShareHeroButton .ShareIcon {
    margin-top: -6px;
  }

  .UserFiguresShareHeroButton .ShareIcon g,
  .UserFiguresShareHeroButton .ShareIcon line,
  .UserFiguresShareHeroButton .ShareIcon polyline {
    stroke: #fff;
  }
}

