@import "../../lib/styles/properties.css";

/* stylelint-disable no-unsupported-browser-features */

.Hero {
  padding-top: 85px;
  background-color: #fff;
}

.HeroImage {
  position: relative;
  display: flex;
  overflow: hidden;
}

.isOnboardingView ~ .Hero,
.isAuthenticationView ~ .Hero {
  padding-top: 0 !important;
}

.ScrollToContentButton {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 20px;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 20px);
}

.ScrollToContentIcon circle,
.ScrollToContentIcon g,
.ScrollToContentIcon polyline {
  fill: none;
  stroke: #fff;
}

@media (--break-2-max) {
  .isLoggedOut .Hero {
    padding-top: 50px;
  }
}

@media (--break-2) {
  .Hero {
    padding-top: 80px;
  }

  .HeroImage {
    height: calc(100vh - 80px);
    min-height: 540px;
  }
}

