@import ../../styles/lib

.SVGIcon g
  transform-origin: center center
  fill: transparent
  stroke: currentColor
  stroke-width: 1.25
  stroke-miterlimit: 10

.SVGIcon > g
  transition: fill $speed ease $speed * 0.5, stroke $speed ease, transform $speed ease

.SVGIcon > g:nth-of-type(2)
  transition-delay: $speed, $speed * 0.5, $speed * 0.5

.SVGIcon > g:nth-of-type(3)
  transition-delay: $speed * 1.5, $speed, $speed

.SVGIcon > g:nth-of-type(4)
  transition-delay: $speed * 2, $speed, $speed

// -------------------------------------

.SVGBox path:nth-of-type(1)
  transition: fill $speed ease

.SVGBox path:nth-of-type(n+2)
  fill: white

.SVGBox path:nth-of-type(1)
  transition: fill $speed ease

