@import lib

// -------------------------------------
// Get em loaded.
+font-face('AtlasGroteskRegular', 'AtlasGrotesk-Regular-Web', $weight:400, $style:normal)
+font-face('AtlasGroteskBold', 'AtlasGrotesk-Bold-Web', $weight:700, $style:normal)
+font-face('AtlasTypewriterRegular', 'AtlasTypewriter-Regular-Web', $weight:400, $style:normal)

// -------------------------------------
// Scaffold

*, *:before, *:after
  box-sizing: border-box
  -webkit-font-smoothing: subpixel-antialiased

html
  font: normal 400 100%/1.5 $html-fontface
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  text-size-adjust: 100%

body
  position: relative
  overflow-x: hidden
  margin: 0
  background-color: white

main
  display: block

::selection
  background: black
  color: white
  text-shadow: none

[hidden], template, .hidden
  +hidden

.invisible
  +invisible

[disabled], .disabled
  pointer-events: none
  cursor: default

.unselectable
  user-select: none

// -------------------------------------
// Typography

h1, h2, h3, h4, h5, h6
  +sanserif
  margin: 0

p
  margin: rem(15) 0

p, ol, ul, dl
  +sans-typeset

p:empty
  display: none

ol, ul, dl, dd
  margin: 0

ol, ul
  padding: 0

ol
  margin-left: 2.2em

ul
  margin-left: 1.2em

nav ul,
nav ol
  +unstyled-list

a
  transition: color $speed ease
  display: inline-block
  background: transparent
  color: inherit
  text-decoration: none

a:focus,
a:active,
.no-touch a:hover
  outline: 0

p a,
li a,
dd a,
[contenteditable="true"] a
  border-bottom: 1px solid

p a:focus,
p a:active,
.no-touch p a:hover
  color: #aaa

em, i
  +sans-italic-family

strong, b
  +sans-bold-family

strong em,
em strong,
b i,
i b,
b em,
em b,
strong i,
i strong
  +sans-bold-italic-family

small
  font-size: 0.875em

sub, sup
  position: relative
  vertical-align: baseline
  font-size: 0.75em
  line-height: 0

sup
  top: -0.5em

sub
  bottom: -0.25em

mark
  padding: rem(2) rem(5)
  font-size: 0.75rem
  background-color: #ffffcc
  color: black

code, pre
  +monospace
  background-color: #f1f1f1

code
  display: inline-block
  padding: rem(2) rem(5)

pre
  overflow: hidden
  margin: rem(15) 0
  padding: rem(15)
  white-space: pre-wrap
  word-wrap: break-word

pre code
  padding: 0
  background-color: transparent

hr
  display: block
  height: 1px
  margin: rem(15) 0
  padding: 0
  border: 0
  border-top: 1px solid #f1f1f1

.sanserif
  +sanserif

.heading
  +heading

.monospace
  +monospace

// -------------------------------------
// Elements

audio, canvas, img, svg, video
  vertical-align: middle

audio:not([controls])
  display: none
  height: 0

svg:not(:root)
  overflow: hidden

figure
  margin: 0

img
  max-width: 100%
  font-size: 0.75rem
  border: 0
  outline: 0

table
  +sans-typeset
  width: 100%
  border-collapse: collapse
  border-spacing: 0

tr
  border-bottom: 1px solid #f1f1f1

td, th
  padding: rem(5) 0
  text-align: left

th
  +sans-bold-family
  vertical-align: bottom

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  cursor: pointer
  -webkit-appearance: button

button[disabled],
html input[disabled]
  cursor: default

input::-moz-focus-inner,
button::-moz-focus-inner
  padding: 0
  border: 0

button
  +button-reset
  +button-with-hitarea

input,
textarea
  margin: 0
  padding: 0
  color: inherit
  font: inherit
  border-radius: 0
  -webkit-appearance: none
  -moz-appearance: none

input::-ms-clear
  display: none
  width: 0
  height: 0

textarea
  overflow: auto
  resize: none
  height: 100%

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

// -------------------------------------
// Animations (global)

@keyframes animateLavaLamp
  0%
    background-color: rgba(black, 0.1)
  25%
    background-color: rgba(purple, 0.1)
  50%
    background-color: rgba(green, 0.1)
  75%
    background-color: rgba(purple, 0.1)
  100%
    background-color: rgba(black, 0.1)

