@import ../../styles/lib

.Beacon
  position: relative
  max-width: rem(680)
  margin: 0 auto
  padding: rem(20) rem(10)
  background-color: white

.BeaconHeading
  font-size: rem(18)

.BeaconButton
  +sans-typeset
  color: #aaa
  margin-top: rem(20)

.Beacon > .Emoji
  display: none
  position: absolute
  top: rem(20)
  left: 0


@media(min-width: #{$break-2})
  .Beacon
    padding-left: rem(70)
  .BeaconHeading
    font-size: rem(24)
  .Beacon > .Emoji
    display: block

