@import ../../vendor/lib

.Hint
  pointer-events: none
  display: none
  transition: opacity $speed ease, visibility 0s ease $speed, color $speed ease
  position: absolute
  top: rem(-25)
  left: 0
  height: rem(22)
  padding: 0 rem(11)
  visibility: hidden
  opacity: 0
  line-height: rem(22)
  white-space: nowrap
  background-color: black
  border: 1px solid black
  border-radius: rem(11)
  color: white

.no-touch .Hint
  display: inline-block

.no-touch a:hover > .Hint,
.no-touch button:hover > .Hint
  transition-duration: $speed2, 0s
  transition-delay: 0.5s, 0s
  visibility: visible
  opacity: 1

