@import ../../vendor/lib

.Authentication
  display: flex
  min-width: 100vw
  min-height: 100vh
  background-color: transparent
  color: white

.AuthenticationFormDialog
  width: rem(300)
  margin: 0 auto

.Authentication h1,
.AuthenticationFormDialog h1
  margin-bottom: rem(20)
  padding-top: rem(100)
  font-size: rem(24)
  line-height: 1
  white-space: nowrap

.Authentication h1 > .Emoji
  margin-right: rem(10)

.AuthenticationForm
  max-width: rem(320)

.AuthenticationFormDialog > p
  +sans-typeset
  margin-top: rem(20)
  color: #fff

.AuthenticationError.accessDenied
  padding-top: rem(12)
  color: red

.AuthenticationFormDialog a:focus,
.AuthenticationFormDialog a:active,
.no-touch .AuthenticationFormDialog a:hover
  color: white

.isAuthenticationView.isNavbarFixed.isNavbarHidden ~ .Navbar
  transform: translate3d(0, 0, 0)
  visibility: visible


@media(max-width: #{$break-2-max})
  .Authentication .Cover
    min-width: 100vw
    min-height: 100vh


@media(min-width: #{em(350)})
  .AuthenticationFormDialog
    width: rem(320)

@media(min-width: #{$break-2})
  .AuthenticationFormDialog
    margin: auto
  .Authentication h1,
  .AuthenticationFormDialog h1
    padding-top: 0
    margin-bottom: rem(70)

