.Authentication
  display: flex
  min-width: 100vw
  min-height: 100vh
  background-color: transparent
  color: white

.Authentication h1
  padding-top: rem(40)

.Authentication h1 > .Emoji
  margin-right: rem(10)

@media(min-width: #{$break-2})
  .Authentication h1
    padding-top: 0

