.FilterBar
  +sans-typeset
  color: #aaa

// FilterText
.FilterBar.FilterText
  font-size: rem(24)
  padding: rem(30)

.FilterBar.FilterText > a + a
  margin-left: rem(30)

.FilterBar.FilterText > a.active
  border-bottom: 2px solid black
  color: black

.no-touch .FilterBar.FilterText > a:hover
  color: black

// FilterIcon
.FilterBar.FilterIcon g
  stroke: #aaa

.FilterBar.FilterIcon
  font-size: rem(12)

.FilterBar.FilterIcon > a
  background-color: #e5e5e5
  display: inline-block
  padding-top: rem(6)
  text-align: center
  height: rem(30)
  width: (100%/6)

.FilterBar.FilterIcon > a + a
  border-left: 1px solid white

.FilterBar.FilterIcon > a.active,
.no-touch .FilterBar.FilterIcon > a:hover
  background-color: black
  color: white

.FilterBar.FilterIcon > a.active g,
.no-touch .FilterBar.FilterIcon > a:hover g
  stroke: white

.FilterBar.FilterIcon > a.active .BubbleIcon g,
.FilterBar.FilterIcon > a.active .HeartIcon g,
.no-touch .FilterBar.FilterIcon > a:hover .BubbleIcon g,
.no-touch .FilterBar.FilterIcon > a:hover .HeartIcon g
  fill: white

