.Navbar
  position: fixed
  top: 0
  left: 0
  right: 0
  height: rem(50)
  padding: rem(30) rem(10)
  background-color: white
  z-index: $z-navbar

.NavbarLinks
  position: absolute
  margin-top: rem(-10)
  top: 50%
  right: rem(10)

.NavbarLinks > a
  +sans-family
  +sans-typeset
  transition: color $speed
  color: #ababab
  display: inline-block
  vertical-align: middle
  border-bottom-width: 0

.NavbarLinks > a + a
  margin-left: rem(20)

.no-touch .NavbarLinks > a:not(.active):hover,
.NavbarLinks > .active
  border-bottom: 2px solid
  color: black

@media(max-width: #{$break-2-max})
  // Hide the Ello icon..
  .Navbar > a[href="/"]
    display: none

@media(min-width: #{$break-2})
  .Navbar
    height: rem(120)
    padding-left: rem(20)
    padding-right: rem(20)
  .NavbarLinks
    right: rem(20)


@media(min-width: #{$break-4})
  .Navbar
    padding-left: rem(40)
    padding-right: rem(40)
  .NavbarLinks
    right: rem(40)

// -------------------------------------

[data-pathname^="/onboarding"] + .Navbar
  display: none

