.Navbar
  transition: transform $speed ease
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: $z-navbar
  height: rem(80)
  padding: rem(20) rem(10)
  background-color: rgba(lightblue, 0.95)
  background-color: white

.Navbar.asFixed
  position: fixed
  transform: translate3d(0, -100%, 0)

.Navbar.asFixed.asDocked
  transform: none

.Navbar.skipTransition
  transition: none !important

.NavbarLinks
  position: absolute
  top: 50%
  margin-top: rem(-12)
  right: rem(70)

.NavbarLinks > a
  +sans-family
  +sans-typeset
  transition: color $speed
  color: #aaa
  display: inline-block
  vertical-align: middle
  border-bottom-width: 0

.NavbarLinks > a + a
  margin-left: rem(20)

.NavbarProfile
  position: absolute
  top: rem(20)
  right: rem(10)
  z-index: 3

.NavbarProfile .Avatar
  +circle(rem(40))
  overflow: hidden

.no-touch .NavbarLinks > a:hover,
[data-pathname^="/following"] + .Navbar .NavbarLinks > a[href^="/following"],
[data-pathname^="/starred"] + .Navbar .NavbarLinks > a[href^="/starred"],
[data-pathname^="/discover"] + .Navbar .NavbarLinks > a[href^="/discover"],
[data-pathname^="/search"] + .Navbar .NavbarLinks > a[href^="/search"]
  border-bottom: 2px solid
  color: black

.NavbarMark + h2
  +heading-family
  font-size: rem(18)
  display: inline-block
  margin-left: rem(20)

@media(max-width: #{$break-2-max})
  .NavbarMark
    display: none

@media(min-width: #{$break-2})
  .Navbar
    padding-left: rem(20)
    padding-right: rem(20)
  .NavbarProfile
    right: rem(20)
  .NavbarLinks
    right: rem(80)

@media(min-width: #{$break-4})
  .Navbar
    padding-left: rem(40)
    padding-right: rem(40)
  .NavbarProfile
    right: rem(40)
  .NavbarLinks
    right: rem(100)

// -------------------------------------

[data-pathname^="/onboarding"] + .Navbar
  display: none

