.Navbar
  transition: transform $speed ease
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: $z-navbar
  height: rem(80)
  padding: rem(20) rem(10)
  background-color: rgba(lightblue, 0.95)
  background-color: white

.Navbar.asFixed
  position: fixed
  transform: translate3d(0, -100%, 0)

.Navbar.asFixed.asDocked
  transform: none

.Navbar.skipTransition
  transition: none !important

.NavbarLinks
  position: absolute
  top: 50%
  margin-top: rem(-12)
  right: rem(10)

.NavbarLinks > a
  +sans-family
  +sans-typeset
  transition: color $speed
  color: #aaa
  display: inline-block
  vertical-align: middle
  border-bottom-width: 0

.NavbarLinks > a + a
  margin-left: rem(20)

.no-touch .NavbarLinks > a:not(.active):hover,
.NavbarLinks > .active
  border-bottom: 2px solid
  color: black

@media(max-width: #{$break-2-max})
  .NavbarMark
    display: none

@media(min-width: #{$break-2})
  .Navbar
    padding-left: rem(20)
    padding-right: rem(20)
  .NavbarLinks
    right: rem(20)


@media(min-width: #{$break-4})
  .Navbar
    padding-left: rem(40)
    padding-right: rem(40)
  .NavbarLinks
    right: rem(40)

// -------------------------------------

[data-pathname^="/onboarding"] + .Navbar
  display: none

