@import ../../vendor/lib

.TreeButton
  transition: color $speed
  position: relative
  font-size: rem(18)
  white-space: nowrap
  height: rem(40)
  padding-left: rem(30)
  vertical-align: top
  color: black

.TreeButton:hover
  color: #aaa

.TreeIcon
  transition: transform $speed $ease
  position: absolute
  top: rem(10)
  left: 0

.TreeButton.isCollapsed .TreeIcon
  transform: rotate(90deg)

.TreeButton.isCollapsed .TreeIcon > g
  stroke: #aaa

@media(min-width: #{$break-2})
  .TreeButton
    font-size: rem(24)

@media(min-width: #{$break-3})
  .TreeButton
    padding-left: 0
  .TreeIcon
    left: rem(-30)

