.Omnibar
  display: none
  position: relative
  padding-top: rem(30)
  background-color: white

.Omnibar.isActive
  display: block

.Omnibar > .Avatar
  position: absolute
  top: rem(10)
  left: rem(10)

.Omnibar > .editor
  max-width: rem(840)
  padding: rem(20) rem(10)

.Omnibar .OmnibarRevealNavbar
  position: absolute
  top: rem(15)
  right: rem(5)

.Omnibar .ChevronIcon
  transform: rotate(180deg)

// -------------------------------------
// This is sort of gnarly and should get moved to the
// component level

body.omnibarIsActive .Panel
  padding-top: 0

body.omnibarIsActive .Navbar
  pointer-events: none
  opacity: 0
  background-color: transparent


// MAX-WIDTH!
@media(max-width: #{$break-2-max})
  .Omnibar > .editor:before
    display: none
  .Omnibar > .editor:after
    left: rem(51)

  body.omnibarIsActive .Main,
  body.omnibarIsActive .Footer
    display: none


@media(min-width: #{$break-2})
  .Omnibar
    padding-top: 0
  .Omnibar > .Avatar
    top: rem(20)
    left: rem(20)
  .Omnibar > .editor
    margin-left: rem(60)
    padding-left: rem(20)
    padding-right: rem(20)
  .Omnibar .OmnibarRevealNavbar
    top: rem(25)
    right: rem(10)

  body.omnibarIsActive .Navbar > .NavbarProfile,
  body.omnibarIsActive .Navbar > .NavbarLinks
    position: absolute
    transform: translate3d(#{rem(400)}, 0, 0)

