// This is only part of it
body.omnibarIsActive .Navbar
  display: none

.Omnibar
  position: relative
  display: none
  background-color: rgba(white, 0.95)
  color: white

.Omnibar.isActive
  display: block

.Omnibar > .Avatar
  position: absolute
  top: rem(20)
  left: rem(20)

