@import ../../vendor/lib

.SearchBar
  max-width: rem(680)
  padding: rem(20) rem(10) rem(10)

.Search .FormControl
  max-width: none

.Search .SearchControl .FormControlInput
  +sans-bold-family
  font-size: rem(24)

.Search .SearchControl .FormControlLabel
  display: none

.Search .SearchTabList
  margin-top: rem(20)


@media(min-width: #{$break-2})
  .SearchBar
    margin: 0 auto
    padding: rem(40) rem(20) rem(10)
  .Search .SearchTabList
    margin-top: rem(18)
  .SearchBar + .StreamComponent .Users.asList
    margin: 0 auto
    max-width: rem(680)

@media(min-width: #{$break-4})
  .SearchBar
    padding-left: rem(40)
    padding-right: rem(40)

