.SearchBar
  max-width: rem(680)
  padding: rem(20) rem(10) rem(10)

.Search .FormControlGroup
  max-width: none

.Search .SearchControl
  +sans-bold-family
  font-size: rem(24)

.SearchFilter
  transition: color $speed ease
  display: inline-block
  overflow: hidden
  position: relative
  height: rem(30)
  margin-top: rem(20)
  line-height: rem(30)
  font-size: rem(18)
  color: #aaa
  &:after
    content: ''
    transition: width $speed $ease, background-color $speed ease
    position: absolute
    bottom: 0
    left: 0
    width: 0
    height: rem(2)
    background-color: transparent


.SearchFilter.active,
.SearchFilter:active,
.no-touch .SearchFilter:hover
  color: black
  &:after
    width: 100%
    background-color: black

.SearchFilter + .SearchFilter
  margin-left: rem(20)

@media(min-width: #{$break-2})
  .SearchBar
    margin: 0 auto
    padding: rem(40) rem(20) rem(10)
  .SearchFilter + .SearchFilter
    margin-left: rem(30)
  .SearchBar + .StreamComponent .Users.asList
    margin: 0 auto
    max-width: rem(680)

@media(min-width: #{$break-4})
  .SearchBar
    padding-left: rem(40)
    padding-right: rem(40)

