.SettingsCoverPicker
  position: relative
  z-index: -1

.SettingsCoverPicker > .Uploader
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 0
  padding-top: rem(100)
  text-align: center
  color: white

.SettingsBody
  position: relative
  max-width: rem(780)
  margin-left: rem(20)
  margin-right: rem(20)
  margin-bottom: rem(20)

.SettingsLogoutButton
  +sans-typeset
  transition: color $speed, border-bottom $speed
  position: absolute
  top: rem(20)
  right: rem(20)
  border-bottom: 1px solid #aaa
  color: #aaa

.no-touch .SettingsLogoutButton:hover
  color: black
  border-bottom-color: black

.SettingsAvatarPicker
  position: relative

.SettingsAvatarPicker > .Uploader
  background-color: rgba(black, 0)
  padding-top: rem(140)
.SettingsAvatarPicker > .Uploader p
  color: #aaa

.SettingsAvatarPicker .Avatar
  pointer-events: none
  position: absolute
  top: 0
  left: 0

.SettingsHeader
  margin-top: rem(20)

// @see Forms.sass for SettingsForms

.SettingsPreferences
  margin-top: rem(50)

.SettingsPreferences > .StreamComponent
  padding: 0

.SettingsHeading
  +sans-family
  font-size: rem(18)
  white-space: nowrap
  height: rem(40)

.SettingsHeader > p
  color: #aaa
  margin: 0 0 rem(18)
  max-width: rem(480)

.SettingsLinks
  margin-left: rem(-15)

.SettingsLinks > *
  margin-left: rem(15)


.SettingsCredentialActions
  transition: height $speed ease
  position: relative
  overflow: hidden
  text-align: right
  height: 0
.SettingsCredentialActions.requiresSave
  height: rem(240)
.SettingsCredentialActions p
  text-align: left
.SettingsCredentialActions .FormButton
  width: rem(120)
  margin-bottom: rem(20)

// -------------------------------------

@media(min-width: #{$break-2})
  .SettingsCoverPicker > .Uploader
    padding-top: rem(180)
  .SettingsHeading
    font-size: rem(24)
  .SettingsBody
    margin-left: rem(20)
    margin-right: rem(20)
  .SettingsAvatarPicker > .Uploader
    min-height: rem(180)
    padding-top: rem(40)
    padding-left: rem(220)

@media(min-width: #{$break-3})
  .SettingsBody
    max-width: rem(1000)
    padding-left: rem(220)
  .SettingsAvatarPicker > .Uploader
    margin-left: rem(-220)
  .SettingsAvatarPicker .Avatar
    left: rem(-220)

@media(min-width: #{$break-4})
  .SettingsBody
    margin-left: rem(40)
    margin-right: rem(40)
  .SettingsLogoutButton
    right: rem(40)

// -------------------------------------

// Same as a Preference
.SettingsCell
  position: relative
  padding-top: rem(30)
  padding-bottom: rem(27)

.SettingsButton
  +sans-typeset
  transition: background-color $speed ease, border-color $speed ease, color $speed ease
  display: inline-block
  min-width: rem(80)
  height: rem(30)
  padding: 0 rem(15)
  border-radius: rem(15)
  text-align: center
  line-height: rem(30)
  white-space: nowrap
  background-color: #aaa
  border: 1px solid #aaa
  color: white

.no-touch .SettingsButton:hover
  background-color: white
  border-color: #aaa
  color: #aaa
.no-touch .SettingsButton.asDangerous
  background-color: $danger
  border-color: $danger
  color: white

.SettingsCell .SettingsButton
  position: absolute
  top: rem(30)
  right: 0

// -------------------------------------
.SettingsDataDescription
  color: #aaa
  margin-top: rem(30) !important
  max-width: rem(600)

// -------------------------------------
// Same as a Preference dl
.SettingsDefinition
  width: calc(100% - #{rem(100)})
  max-width: rem(440)

.SettingsDefinition dd
  color: #aaa
  margin-top: rem(20)

.no-touch .SettingsDefinition dd a:hover
  color: #666

// -------------------------------------

.SettingsDefinitionValues
  line-height: rem(40)
  color: #aaa

.SettingsDefinitionValues dt
  float: left
  width: rem(100)
  overflow: hidden
  clear: left
  text-overflow: ellipsis
  white-space: nowrap

.SettingsDefinitionValues dd
  margin-left: rem(120)

.SettingsDefinitionValues a
  text-decoration: underline
  border-bottom: 0

.no-touch .SettingsDefinitionValues a:hover
  color: #666

