$speed:  150ms
$speed1: $speed * 1
$speed2: $speed * 2
$speed3: $speed * 3
$speed4: $speed * 4
$ease:   $ease-ios-panel

$html-fontface: "AtlasTypewriterRegular", "Andale Mono", "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace

// $danger: #ff0000
// $success: #00a550

// $z-popover:        1020
// $z-footer:         1030
$z-navbar:         1040
// $z-editor-tools:   1050
// $z-backdrop:       1060
// $z-modal:          1070
$z-grid:           3000

// There might be a lot of these, but fonts do lazy load.
+font-face("AtlasGroteskRegular", "AtlasGrotesk-Regular-Web", $weight:400, $style:normal)
+font-face("AtlasGroteskBold", "AtlasGrotesk-Bold-Web", $weight:700, $style:normal)
+font-face("AtlasTypewriterRegular", "AtlasTypewriter-Regular-Web", $weight:400, $style:normal)
+font-face("AtlasTypewriterRegularItalic", "AtlasTypewriter-RegularItalic-Web", $weight:400, $style:italic)
+font-face("AtlasTypewriterMedium", "AtlasTypewriter-Medium-Web", $weight:500, $style:normal)
+font-face("AtlasTypewriterMediumItalic", "AtlasTypewriter-MediumItalic-Web", $weight:500, $style:italic)

