$speed:  .2s
$speed1: $speed * 1
$speed2: $speed * 2
$speed3: $speed * 3
$speed4: $speed * 4
$ease:   $ease-ios-panel

$html-fontface: "AtlasGroteskRegular", "AtlasGrotesk-Regular", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif

$danger: #ff0000
// $success: #00a550

// $z-popover:        1020
// $z-footer:         1030
$z-navbar:         1040
// $z-editor-tools:   1050
// $z-backdrop:       1060
$z-modal:          1070
$z-grid:           3000


$break-2: em(640)
$break-3: em(960)
$break-4: em(1360)
$break-5: em(1720)
$break-6: em(2080)
$break-7: em(2440)

$break-2-max: em(639)
$break-3-max: em(959)
$break-4-max: em(1359)


// There might be a lot of these, but fonts do lazy load.
+font-face("AtlasGroteskRegular", "AtlasGrotesk-Regular-Web", $weight:400, $style:normal)
+font-face("AtlasGroteskBold", "AtlasGrotesk-Bold-Web", $weight:700, $style:normal)
+font-face("AtlasTypewriterRegular", "AtlasTypewriter-Regular-Web", $weight:400, $style:normal)
+font-face("AtlasTypewriterRegularItalic", "AtlasTypewriter-RegularItalic-Web", $weight:400, $style:italic)
+font-face("AtlasTypewriterMedium", "AtlasTypewriter-Medium-Web", $weight:500, $style:normal)
+font-face("AtlasTypewriterMediumItalic", "AtlasTypewriter-MediumItalic-Web", $weight:500, $style:italic)

