@mixin sans-family
  font-family: 'AtlasGroteskRegular', 'AtlasGrotesk-Regular', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif
  font-style:   normal
  font-weight:  400

@mixin sans-italic-family
  font-family: 'AtlasGroteskRegular', 'AtlasGrotesk-Regular', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif
  font-style:   italic
  font-weight:  400

@mixin sans-bold-family
  font-family: 'AtlasGroteskBold', 'AtlasGrotesk-Bold', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif
  font-style:   normal
  font-weight:  700

@mixin sans-bold-italic-family
  font-family: 'AtlasGroteskBold', 'AtlasGrotesk-Bold', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif
  font-style:   italic
  font-weight:  700

@mixin monospace-family
  font-family: 'AtlasTypewriterRegular', 'AtlasTypewriter-Regular', 'Andale Mono', 'Consolas', 'Lucida Console', 'Menlo', 'Luxi Mono', monospace
  font-style:   normal
  font-weight:  400

// -------------------------------------

@mixin sans-typeset
  font-size: 0.875rem

@mixin monospace-typeset
  font-size: 0.75rem

@mixin heading
  +sans-bold-family
  font-size: rem(24)
  line-height: 1.35
  color: black
  text-rendering: optimizeLegibility

@mixin sanserif
  +sans-family
  +sans-typeset

@mixin monospace
  +monospace-family
  +monospace-typeset

@mixin unstyled-list
  margin-left: 0
  list-style: none

@mixin ellipse
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

// -------------------------------------

h1, h2, h3, h4, h5, h6
  +sans-bold-family
  +sans-typeset
  margin: 0

p
  margin: rem(15) 0

p, ol, ul, dl
  +sans-typeset

p:empty
  display: none

ol, ul, dl, dd
  margin: 0

ol, ul
  padding: 0

ol
  margin-left: 2.2em

ul
  margin-left: 1.2em

nav ul,
nav ol
  +unstyled-list

// -------------------------------------
// Huh?.. copied from the Mothership
// Todo: Set logical defaults
// dl
  line-height: 2.5
  margin-bottom: rem(30)

// dt
  float: left
  width: rem(90)
  overflow: hidden
  clear: left
  text-overflow: ellipsis
  white-space: nowrap

// dd
  margin-left: rem(120)

a
  transition: color $speed ease
  display: inline-block
  background: transparent
  color: inherit
  text-decoration: none

a:focus,
a:active,
.no-touch a:hover
  outline: 0

p a,
li a,
[contenteditable="true"] a
  border-bottom: 1px solid
  // text-decoration: underline

p a:focus,
p a:active,
.no-touch p a:hover
  color: #aaa

em, i
  +sans-italic-family

strong, b
  +sans-bold-family

strong em,
em strong,
b i,
i b,
b em,
em b,
strong i,
i strong
  +sans-bold-italic-family

small
  font-size: 0.875em

sub, sup
  position: relative
  vertical-align: baseline
  font-size: 0.75em
  line-height: 0

sup
  top: -0.5em

sub
  bottom: -0.25em

mark
  padding: rem(2) rem(5)
  font-size: 0.75rem
  background-color: #ffffcc
  color: black

code, pre
  +monospace
  background-color: #f1f1f1

code
  display: inline-block
  padding: rem(2) rem(5)

pre
  overflow: hidden
  margin: rem(15) 0
  padding: rem(15)
  white-space: pre-wrap
  word-wrap: break-word

pre code
  padding: 0
  background-color: transparent

hr
  display: block
  height: 1px
  margin: rem(15) 0
  padding: 0
  border: 0
  border-top: 1px solid #f1f1f1

// -------------------------------------

.sanserif
  +sanserif

.heading
  +heading

.monospace
  +monospace

