.NavbarMorePostsButton
  +sanserif
  transition: background-color $speed ease, border-color $speed ease, color $speed ease, opacity $speed2 ease
  position: absolute
  top: rem(10)
  left: rem(50)
  width: rem(30)
  height: rem(30)
  line-height: rem(30)
  white-space: nowrap
  background-color: #aaa
  border: 1px solid #aaa
  border-radius: 50%
  color: white

.isLoggedIn .NavbarMorePostsButton
  left: rem(160)

.isLoggedOut .NavbarMorePostsButton
  left: rem(50)

.NavbarMorePostsButton > .ArrowIcon
  transform: rotate(270deg)
  margin-top: rem(-2)

.NavbarMorePostsButton > .ArrowIcon > g
  stroke: white

.NavbarMorePostsButton span
  display: none
  vertical-align: middle

.no-touch .NavbarMorePostsButton:hover
  background-color: #e5e5e5
  border-color: #e5e5e5
  color: #666


@media(min-width: #{$break-2})
  .NavbarMorePostsButton
    top: rem(20)
    width: rem(40)
    height: rem(40)
    line-height: rem(40)
  .isLoggedIn .NavbarMorePostsButton
    left: rem(200)
  .isLoggedOut .NavbarMorePostsButton
    left: rem(120)

@media(min-width: #{$break-3})
  .NavbarMorePostsButton
    width: rem(140)
    padding: 0 rem(20) 0 rem(15)
    border-radius: rem(20)
  .NavbarMorePostsButton span
    display: inline-block

@media(min-width: #{$break-4})
  .isLoggedIn .NavbarMorePostsButton
    left: rem(220)
  .isLoggedOut .NavbarMorePostsButton
    left: rem(140)

