@import ../../styles/lib

.Navbar .BoltIcon > g
  stroke-linejoin: bevel

.Navbar .SearchIcon > g,
.Navbar .StarIcon > g
  stroke-linejoin: round

.Navbar .PencilIcon > g
  transition-delay: $speed * 0.5, 0s, 0s
  stroke-linecap: square

// -------------------------------------
// NavbarLink

.NavbarLink > .SVGIcon g
  stroke: #aaa

.NavbarLink.active > .SVGIcon:not(.SearchIcon) g,
.NavbarLink:active > .SVGIcon:not(.SearchIcon) g,
.no-touch .NavbarLink:hover > .SVGIcon:not(.SearchIcon) g
  fill: black
  stroke: black

.NavbarLink.active > .SearchIcon g
  stroke: black

// Label only (icon is hidden)
.NavbarLink.LabelOnly > .SVGIcon
  transition: width $speed $ease, opacity $speed ease, transform $speed $ease
  width: 0
  opacity: 0

// Icon only (label is hidden)
.NavbarLink.IconOnly
  width: rem(20)


// Show the icon and label when we have enough room for Starred
@media(min-width: #{em(375)})
  .NavbarLink > .StarIcon
    width: rem(20)
    opacity: 1

// Animations once we have room
@media(min-width: #{$break-2})
  // Show the icon on rollover for desktop
  .no-touch .NavbarLink.LabelOnly:hover > .SVGIcon
    transition-delay: 0.5s
    width: rem(20)
    opacity: 1

  // Show the label on rollover for desktop
  .no-touch .NavbarLink.IconOnly
    transition-delay: 0.5s
  .no-touch .NavbarLink.IconOnly:hover > .NavbarLinkLabel:after
    transition-delay: 0.5s + ($speed * 0.5)

  // Specific widths for the labels
  // TODO: will need to figure out how to do this for i18n
  .no-touch .NavbarLink[href^="/notifications"]:hover
    width: rem(110)
  .no-touch .NavbarLink[href^="/find"]:hover,
  .no-touch .NavbarLink[href^="/search"]:hover
    width: rem(72)

  // Circle animation
  .no-touch .NavbarLink > .CircleIcon
    transform: scale(0.5)
    transition-delay: $speed, $speed, 0s
    transform-origin: rem(11.5)
  .no-touch .NavbarLink:hover > .CircleIcon
    transition-delay: 0.5s, 0.5s, (0.5s + $speed)
    transform: none
  .no-touch .NavbarLink > .CircleIcon g
    transition-delay: 0s
  .no-touch .NavbarLink:hover > .CircleIcon g
    transition-delay: 0.5s + $speed

  // Star animation
  .no-touch .NavbarLink > .StarIcon
    transform-origin: center center
    transition-duration: $speed, $speed, $speed2
  .no-touch .NavbarLink:hover > .StarIcon
    transition-delay: 0.5s, 0.5s, (0.5s + $speed)
    transform: rotate(360deg)

  // Sparkles animation
  .no-touch .NavbarLink:hover > .SparklesIcon > g
    transition-delay: 0.5s + ($speed * 0.5)
  .no-touch .NavbarLink:hover > .SparklesIcon > g:nth-of-type(2)
    transition-delay: 0.5s + ($speed * 1)
  .no-touch .NavbarLink:hover > .SparklesIcon > g:nth-of-type(3)
    transition-delay: 0.5s + ($speed * 1.5)

