.NavbarMorePostsButton
  transition: background-color $speed ease, border-color $speed ease, color $speed ease, opacity $speed2 ease
  position: relative
  width: rem(40)
  height: rem(40)
  margin-left: rem(20)
  padding: 0 rem(15)
  font-size: 0.75rem
  line-height: rem(40)
  text-align: left
  white-space: nowrap
  background-color: #aaa
  border: 1px solid #aaa
  border-radius: rem(20)
  color: white
  .no-touch &:hover
    background-color: #e5e5e5
    border-color: #e5e5e5
    color: #666
  &:before
    +hitarea
.NavbarMorePostsButton .svg-icon
  margin-top: rem(-5)
  margin-left: rem(-5)
  margin-right: rem(10)
.NavbarMorePostsButton g
  stroke: white
.NavbarMorePostsButton span
  vertical-align: middle
  margin-top: rem(-3)

.Navbar .NavbarMorePostsButton
  pointer-events: auto
  position: absolute
  top: rem(21)
  z-index: 20

@media(min-width: #{em(800)})
  .Navbar .NavbarMorePostsButton
    width: auto
  .Navbar .NavbarMorePostsButton .svg-icon
    margin-left: 0
  .Navbar .NavbarMorePostsButton span
    display: inline-block

// @media(max-width: #{$max-break-c})
//   .Navbar .NavbarMorePostsButton
//     +circle(rem(30))
//     right: rem(110)
//     padding: 0 rem(9)
//   .NavbarMorePostsButton .svg-icon
//     margin-top: rem(-14)

