.NavbarLinks
  transition: transform $speed $ease

.NavbarLink
  +sans-typeset
  +button-with-hitarea
  transition: width $speed $ease, color $speed ease
  vertical-align: middle
  overflow: hidden
  height: rem(40)
  line-height: rem(40)
  white-space: nowrap
  color: #aaa

.NavbarLink > .SVGIcon
  margin-top: rem(-5)

.NavbarLinkLabel
  position: relative
  display: inline-block
  vertical-align: middle

.NavbarLinkLabel:after
  content: ''
  transition: width $speed $ease, background-color $speed ease
  position: absolute
  bottom: rem(8)
  left: 0
  width: 0
  height: rem(2)
  background-color: transparent

// -------------------------------------
// Active and hover states
// @see NavbarIcons for icon animations and coloring

.NavbarLink.active > .NavbarLinkLabel,
.NavbarLink:active > .NavbarLinkLabel,
.no-touch .NavbarLink:hover > .NavbarLinkLabel
  color: black

.NavbarLink.active > .NavbarLinkLabel:after,
.NavbarLink:active > .NavbarLinkLabel:after,
.no-touch .NavbarLink:hover > .NavbarLinkLabel:after
  background-color: black
  width: 100%

