.NavbarLink
  +sans-typeset
  +button-with-hitarea
  transition: width $speed $ease, color $speed ease
  display: inline-block
  vertical-align: middle
  height: rem(40)
  line-height: rem(40)
  overflow: hidden
  color: #aaa
  white-space: nowrap

.NavbarLink > .SVGIcon
  margin-top: -5px

.NavbarLinkLabel
  position: relative
  display: inline-block
  vertical-align: middle

.NavbarLinkLabel:after
  content: ''
  transition: width $speed $ease, background-color $speed ease
  position: absolute
  width: 0
  left: 0
  bottom: rem(8)
  height: rem(2)
  background-color: transparent

// -------------------------------------
// Active and hover states
// @see NavbarIcons for icon animations and coloring

[data-pathname="/"] + .Navbar .NavbarLink[href^="/discover"] > .NavbarLinkLabel,
[data-pathname^="/discover"] + .Navbar .NavbarLink[href^="/discover"] > .NavbarLinkLabel,
.NavbarLink.active > .NavbarLinkLabel,
.NavbarLink:active > .NavbarLinkLabel,
.no-touch .NavbarLink:hover > .NavbarLinkLabel
  color: black

[data-pathname="/"] + .Navbar .NavbarLink[href^="/discover"] > .NavbarLinkLabel:after,
[data-pathname^="/discover"] + .Navbar .NavbarLink[href^="/discover"] > .NavbarLinkLabel:after,
.NavbarLink.active > .NavbarLinkLabel:after,
.NavbarLink:active > .NavbarLinkLabel:after,
.no-touch .NavbarLink:hover > .NavbarLinkLabel:after
  width: 100%
  background-color: black

