@import "../../lib/styles/properties.css";

/* ------------------------------------- */

.NavbarLabel {
  font-size: 14px;
  line-height: 1;
}

/* ------------------------------------- */

.NavbarLinks {
  transition: transform var(--speed) var(--ease);
}

.NavbarLink {
  position: relative;
  height: 40px;
  overflow: hidden;
  font-size: 14px;
  line-height: 40px;
  color: #aaa;
  white-space: nowrap;
  vertical-align: middle;
  transition: width var(--speed) var(--ease), color var(--speed) ease, background-color var(--speed) ease;
}

.NavbarLink::before {
  @apply --hitarea;
}

.NavbarLink.isSignUp {
  width: 80px;
  color: #fff;
  text-align: center;
  background-color: #00d100;
  border-radius: 5px;
}

.NavbarLink > .SVGIcon {
  margin-top: -5px;
}

.NavbarLinkLabel {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.NavbarLinkLabel::after {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 0;
  height: 2px;
  content: "";
  background-color: transparent;
  transition: width var(--speed) var(--ease), background-color var(--speed) ease;
}

.NavbarLink.isSignUp .NavbarLinkLabel::after {
  display: none;
}

/* Active and hover states
 * @see NavbarIcons for icon animations and coloring
------------------------------------- */

.NavbarLink.isActive > .NavbarLinkLabel,
.NavbarLink:active > .NavbarLinkLabel,
.no-touch .NavbarLink:hover > .NavbarLinkLabel {
  color: #000;
}

.NavbarLink.isSignUp.isActive,
.NavbarLink.isSignUp:active,
.no-touch .NavbarLink.isSignUp:hover {
  background-color: #00b100;
}

/* stylelint-disable selector-max-specificity */
.NavbarLink.isSignUp.isActive > .NavbarLinkLabel,
.NavbarLink.isSignUp:active > .NavbarLinkLabel,
.no-touch .NavbarLink.isSignUp:hover > .NavbarLinkLabel {
  color: #fff;
}

.NavbarLink.isActive > .NavbarLinkLabel::after,
.NavbarLink:active > .NavbarLinkLabel::after,
.no-touch .NavbarLink:hover > .NavbarLinkLabel::after {
  width: 100%;
  background-color: currentColor;
}

.NavbarLink.isNotificationsUnread > .NavbarLinkLabel::before {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 5px;
  height: 5px;
  content: "";
  background-color: var(--color-danger);
  border-radius: 50%;
}

.no-touch .NavbarLink.isNotificationsUnread:hover > .NavbarLinkLabel::before {
  left: -7px;
  width: 7px;
  height: 7px;
}
/* stylelint-enable selector-max-specificity */

/* Stream button has an acceptable Avatar being dragged - turn background yellow */
[data-dragging-priority="noise"] .NavbarLink[href="/following"],
[data-dragging-priority="friend"] .NavbarLink[href="/starred"],
[data-dragging-priority="inactive"] .NavbarLink[href="/following"],
[data-dragging-priority="inactive"] .NavbarLink[href="/starred"] {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #ffc;
}

/* Stream button has an acceptable Avatar being dragged over it - turn background green */
[data-dragging-priority="noise"] .NavbarLink.hasDragOver[href="/following"],
[data-dragging-priority="friend"] .NavbarLink.hasDragOver[href="/starred"],
[data-dragging-priority="inactive"] .NavbarLink.hasDragOver[href="/following"],
[data-dragging-priority="inactive"] .NavbarLink.hasDragOver[href="/starred"] {
  background-color: #cfc;
}

/* ------------------------------------- */

.NavbarMark {
  position: relative;
  transform: scale(0.75);
  transform-origin: top left;
}

@media (--break-2) {
  .NavbarMark {
    transform: none;
    transform-origin: center center;
  }
}

/* ------------------------------------- */

.NavbarMorePostsButton {
  position: absolute;
  top: 10px;
  z-index: 3;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  white-space: nowrap;
  background-color: #aaa;
  border: 1px solid #aaa;
  border-radius: 50%;
  transition:
    background-color var(--speed) ease,
    border-color var(--speed) ease,
    color var(--speed) ease,
    opacity var(--speed2) ease;
}

.isLoggedIn .NavbarMorePostsButton {
  right: 100px;
}

.isLoggedOut .NavbarMorePostsButton {
  left: 50px;
}

.NavbarMorePostsButton > .ArrowIcon {
  margin-top: -2px;
  transform: rotate(270deg);
}

.NavbarMorePostsButton span {
  display: none;
  padding-left: 8px;
  vertical-align: middle;
}

.no-touch .NavbarMorePostsButton:hover {
  color: #666;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

@media (--break-2) {
  .NavbarMorePostsButton {
    top: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .isLoggedIn .NavbarMorePostsButton {
    right: auto;
    left: 200px;
  }

  .isLoggedOut .NavbarMorePostsButton {
    left: 120px;
  }
}

@media (--break-3) {
  .NavbarMorePostsButton {
    width: auto;
    padding: 0 20px 0 15px;
    border-radius: 20px;
  }

  .NavbarMorePostsButton span {
    display: inline-block;
  }
}

@media (--break-4) {
  .isLoggedIn .NavbarMorePostsButton {
    left: 220px;
  }

  .isLoggedOut .NavbarMorePostsButton {
    left: 140px;
  }
}

/* ------------------------------------- */

.NavbarOmniButton {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  padding: 0 15px 0 10px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  background-color: #000;
  border-radius: 15px;
  transition: background-color var(--speed) ease;
}

.NavbarOmniButton .SVGIcon {
  margin-right: 5px;
}

.no-touch .NavbarOmniButton:hover {
  background-color: #666;
}

@media (--break-2) {
  .NavbarOmniButton {
    top: 20px;
    right: auto;
    left: 80px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
  }
}

@media (--break-4) {
  .NavbarOmniButton {
    left: 100px;
  }
}

/* ------------------------------------- */

.NavbarProfile {
  transition: transform var(--speed) var(--ease);
}

.NavbarProfileLinks {
  position: absolute;
  z-index: 2;
  min-width: 140px;
  padding: 5px 10px;
  overflow: hidden;
  color: #aaa;
  pointer-events: none;
  background-color: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  opacity: 0;
  transition: opacity var(--speed) ease;
}

.NavbarProfileLinks.isActive {
  pointer-events: auto;
  opacity: 1;
}

.NavbarProfileLink {
  display: block;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}

.no-touch .NavbarProfileLink:hover {
  color: #000;
}

.NavbarProfileLinkDivider {
  margin: 4px -10px;
  border-color: #ccc;
}

.NavbarProfileLinkDivider ~ .NavbarProfileLink {
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  color: #ccc;
}

.NavbarProfileCloseButton {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

@media (--break-2-max) {
  .isProfileMenuActive ~ .MainView,
  .isProfileMenuActive ~ .Hero,
  .isProfileMenuActive ~ .Footer {
    display: none;
  }

  /* stylelint-disable selector-max-compound-selectors */
  .isProfileMenuActive ~ .Navbar .CategoryTabBar,
  .isProfileMenuActive ~ .Navbar .NavbarMain > *:not(.NavbarProfile) {
    display: none;
  }
  /* stylelint-enable selector-max-compound-selectors */

  .isProfileMenuActive ~ .NavbarProfile > .Avatar {
    pointer-events: none;
  }

  .NavbarProfileLinks {
    top: -10px;
    left: -10px;
    width: 100vw; /* stylelint-disable-line */
    height: 100vh; /* stylelint-disable-line */
    padding: 0;
  }

  .NavbarProfileLink {
    height: 50px;
    line-height: 50px;
    color: #000;
    text-indent: 10px;
    border-bottom: 1px solid;
  }

  .NavbarProfileLinkDivider {
    border-color: transparent;
  }

  .NavbarProfileLinkDivider ~ .NavbarProfileLink {
    height: 30px;
    line-height: 30px;
    border: 0;
  }

  .NavbarProfileCloseButton {
    display: block;
  }
}

@media (--break-2) {
  .NavbarProfileLinks {
    top: 40px;
    right: 0;
    left: auto;
    max-width: 180px;
  }

  /* Give the hover target a bigger footprint */
  .no-touch .NavbarProfile:hover .NavbarProfileLinks {
    pointer-events: auto;
    opacity: 1;
  }

  .no-touch .NavbarProfile:hover::before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    height: 30px;
    content: "";
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
  }
}

