@import ../../styles/lib

.Navbar
  transition: transform 150ms ease, visibility 150ms, background-color $speed ease, height 150ms ease, opacity $speed
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: $z-navbar
  padding: rem(10)
  background-color: white

[data-pathname^="/onboarding"] + .Navbar
  display: none

.Navbar.asFixed,
.Navbar.asLocked
  position: fixed

.Navbar.asFixed.asHidden
  transform: translate3d(0, -100%, 0)
  transition-delay: 0s $speed 0s
  visibility: hidden

.Navbar.skipTransition:not(.asLocked)
  transition: none !important

.isLoggedIn .Navbar
  height: rem(85)

.isLoggedOut .Navbar
  height: rem(50)

.isLoggedIn .NavbarMark
  display: none

.isLoggedOut .NavbarMark
  display: inline-block

.NavbarMark + .NavbarLabel
  display: none
  position: relative
  top: rem(2)
  margin-left: rem(20)

.NavbarLinks
  position: absolute
  top: rem(7)
  white-space: nowrap

.isLoggedIn .NavbarLinks
  left: rem(10)

.isLoggedOut .NavbarLinks
  right: rem(10)

.NavbarLinks > .NavbarLink + .NavbarLink
  margin-left: rem(30)

.NavbarProfile
  position: absolute
  top: rem(10)
  left: rem(10)
  z-index: 3

.NavbarLayoutTool
  position: absolute
  top: rem(15)
  left: rem(155)
  color: #aaa

// MAX-WIDTH!
@media(max-width: #{$break-2-max})
  .isLoggedIn .NavbarLink
    margin-top: rem(40)
  .isLoggedIn .NavbarLink[href^="/notifications"]
    position: absolute
    top: 0
    left: rem(55)
    margin: 0
  .isLoggedIn .NavbarLink[href="/search"]
    position: absolute
    top: 0
    left: rem(100)
    margin: 0


@media(min-width: #{$break-2})
  .Navbar
    padding: rem(20)
  .isLoggedIn .Navbar
    height: rem(80)
  .isLoggedOut .Navbar
    height: rem(80)
  .isLoggedIn .NavbarMark
    display: inline-block
  .NavbarMark + .NavbarLabel
    display: inline-block
  .isLoggedIn .NavbarLinks,
  .isLoggedOut .NavbarLinks
    top: 50%
    margin-top: rem(-20)
  .isLoggedIn .NavbarLinks
    left: auto
    right: rem(80)
  .isLoggedOut .NavbarLinks
    right: rem(20)
  .NavbarProfile
    top: rem(20)
    left: auto
    right: rem(20)

@media(min-width: #{$break-4})
  .Navbar
    padding-left: rem(40)
    padding-right: rem(40)
  .isLoggedIn .NavbarLinks
    right: rem(100)
  .isLoggedOut .NavbarLinks
    right: rem(40)
  .NavbarProfile
    right: rem(40)

