@import "../../lib/styles/properties.css";

.Navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-navbar);
  padding: 10px;
  background-color: #fff;
  transition:
    transform 150ms ease,
    visibility 150ms,
    background-color var(--speed) ease,
    height 150ms ease,
    opacity var(--speed);
}

.isOnboardingView ~ .Navbar {
  display: none;
}

.isNavbarFixed ~ .Navbar {
  position: fixed;
}

.isNavbarFixed.isNavbarHidden ~ .Navbar {
  visibility: hidden;
  transition-delay: 0s var(--speed) 0s;
  transform: translate3d(0, -100%, 0);
}

.isNavbarSkippingTransition ~ .Navbar {
  transition: none !important;
}

.isLoggedIn .Navbar {
  height: 85px;
}

.isLoggedOut .Navbar {
  height: 50px;
}

.isLoggedIn .NavbarMark {
  display: none;
}

.isLoggedOut .NavbarMark {
  display: inline-block;
}

.NavbarMark + .NavbarLabel {
  position: relative;
  top: 2px;
  display: none;
  margin-left: 20px;
}

.NavbarLinks {
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.isLoggedIn .NavbarLinks {
  left: 10px;
}

.isLoggedOut .NavbarLinks {
  right: 10px;
}

.NavbarLinks > .NavbarLink + .NavbarLink {
  margin-left: 30px;
}

.NavbarProfile {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

.NavbarLayoutTool {
  position: absolute;
  top: 12px;
  left: 155px;
  color: #aaa;
}

/* // MAX-WIDTH! */
@media (--break-2-max) {
  .isLoggedIn .NavbarLink {
    margin-top: 40px;
  }

  .isLoggedIn .NavbarLink[href^="/notifications"] {
    position: absolute;
    top: 0;
    left: 55px;
    margin: 0;
  }

  .isLoggedIn .NavbarLink[href="/search"] {
    position: absolute;
    top: 0;
    left: 100px;
    margin: 0;
  }
}

@media (--break-2) {
  .Navbar {
    padding: 20px;
  }

  .isLoggedIn .Navbar {
    height: 80px;
  }

  .isLoggedOut .Navbar {
    height: 80px;
  }

  .isLoggedIn .NavbarMark {
    display: inline-block;
  }

  .NavbarMark + .NavbarLabel {
    display: inline-block;
  }

  .isLoggedIn .NavbarLinks,
  .isLoggedOut .NavbarLinks {
    top: 50%;
    margin-top: -20px;
  }

  .isLoggedIn .NavbarLinks {
    right: 80px;
    left: auto;
  }

  .isLoggedOut .NavbarLinks {
    right: 20px;
  }

  .NavbarProfile {
    top: 20px;
    right: 20px;
    left: auto;
  }
}

@media (--break-4) {
  .Navbar {
    padding-right: 40px;
    padding-left: 40px;
  }

  .isLoggedIn .NavbarLinks {
    right: 100px;
  }

  .isLoggedOut .NavbarLinks {
    right: 40px;
  }

  .NavbarProfile {
    right: 40px;
  }
}

