.more-btn
  transition: background-color $speed ease, border-color $speed ease, color $speed ease, opacity $speed2 ease
  position: relative
  padding: 0 rem(15)
  height: rem(40)
  line-height: rem(40)
  border-radius: 20px
  border: 1px solid
  font-size: 0.75rem
  text-align: left
  background-color: #aaa
  border-color: #aaa
  color: white
  white-space: nowrap
  width: rem(40)
  margin-left: rem(20)
  .no-touch &:hover
    background-color: #e5e5e5
    border-color: #e5e5e5
    color: #666
  &:before
    +hitarea
.more-btn .svg-icon
  margin-top: rem(-5)
  margin-right: rem(10)
  margin-left: rem(-5)
.more-btn g
  stroke: white
.more-btn span
  vertical-align: middle
  margin-top: rem(-3)

.Navbar .more-btn
  pointer-events: auto
  position: absolute
  top: rem(21)
  z-index: 20

@media(min-width: #{em(800)})
  .Navbar .more-btn
    width: auto
  .Navbar .more-btn .svg-icon
    margin-left: 0
  .Navbar .more-btn span
    display: inline-block

// @media(max-width: #{$max-break-c})
//   .Navbar .more-btn
//     +circle(rem(30))
//     right: 110px
//     padding: 0 rem(9)
//   .more-btn .svg-icon
//     margin-top: rem(-14)
