@import ../../styles/lib

.NavbarOmniButton
  +sans-typeset
  transition: background-color $speed ease
  position: absolute
  top: rem(10)
  right: rem(10)
  height: rem(30)
  padding: 0 rem(15) 0 rem(10)
  line-height: rem(30)
  background-color: black
  border-radius: rem(15)
  color: white

.NavbarOmniButton .SVGIcon
  margin-right: rem(5)

.no-touch .NavbarOmniButton:hover
  background-color: #666

.NavbarOmniButton .SVGIcon g
  stroke: white

.no-touch .NavbarOmniButton:hover .SVGIcon g
  stroke: white


@media(min-width: #{$break-2})
  .NavbarOmniButton
    top: rem(20)
    left: rem(80)
    right: auto
    width: rem(100)
    height: rem(40)
    line-height: rem(40)
    border-radius: rem(20)

@media(min-width: #{$break-4})
  .NavbarOmniButton
    left: rem(100)

