@import ../../vendor/lib

.NavbarMark
  position: relative
  transform: scale(0.75)
  transform-origin: top left

@media(min-width: #{$break-2})
  .NavbarMark
    transform-origin: center center
    transform: none

