.Navbar
  transition: transform 150ms ease, visibility 150ms, background-color 150ms ease
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: $z-navbar
  height: rem(100)
  padding: rem(20) rem(10)
  background-color: white

[data-pathname^="/onboarding"] + .Navbar
  display: none
[data-pathname="/forgot-password"] + .Navbar,
[data-pathname="/enter"] + .Navbar,
[data-pathname="/join"] + .Navbar
  background-color: transparent

.Navbar.asFixed,
.Navbar.asLocked
  position: fixed

.Navbar.asFixed.asHidden
  transform: translate3d(0, -100%, 0)
  transition-delay: 0s $speed 0s
  visibility: hidden

.Navbar.skipTransition:not(.asLocked)
  transition: none !important

.NavbarLinks
  position: absolute
  bottom: rem(12)
  left: rem(10)
  white-space: nowrap

.NavbarLinks > .NavbarLink + .NavbarLink
  margin-left: rem(20)

.NavbarProfile
  position: absolute
  top: rem(10)
  left: rem(10)
  z-index: 3

.NavbarMark
  display: none

.NavbarMark + .NavbarLabel
  display: none
  position: relative
  top: rem(2)
  margin-left: rem(20)


@media(min-width: #{$break-2})
  .Navbar
    height: rem(80)
    padding-left: rem(20)
    padding-right: rem(20)
  .NavbarMark,
  .NavbarMark + .NavbarLabel
    display: inline-block
  .NavbarProfile
    top: rem(20)
    left: auto
    right: rem(20)
  .NavbarLinks
    top: 50%
    bottom: auto
    left: auto
    right: rem(80)
    margin-top: rem(-20)
  .Navbar.isLoggedOut .NavbarLinks
    right: rem(20)

@media(min-width: #{$break-4})
  .Navbar
    padding-left: rem(40)
    padding-right: rem(40)
  .NavbarProfile
    right: rem(40)
  .NavbarLinks
    right: rem(100)
  .Navbar.isLoggedOut .NavbarLinks
    right: rem(40)

