@import ../../vendor/lib

.NavbarLinks
  transition: transform $speed $ease

.NavbarLink
  +sans-typeset
  +button-with-hitarea
  transition: width $speed $ease, color $speed ease, background-color $speed ease
  vertical-align: middle
  overflow: hidden
  height: rem(40)
  line-height: rem(40)
  white-space: nowrap
  color: #aaa

.NavbarLink > .SVGIcon
  margin-top: rem(-5)

.NavbarLinkLabel
  position: relative
  display: inline-block
  vertical-align: middle

.NavbarLinkLabel:after
  content: ''
  transition: width $speed $ease, background-color $speed ease
  position: absolute
  bottom: rem(8)
  left: 0
  width: 0
  height: rem(2)
  background-color: transparent

// -------------------------------------
// Active and hover states
// @see NavbarIcons for icon animations and coloring

.NavbarLink.isActive > .NavbarLinkLabel,
.NavbarLink:active > .NavbarLinkLabel,
.no-touch .NavbarLink:hover > .NavbarLinkLabel
  color: black

.NavbarLink.isActive > .NavbarLinkLabel:after,
.NavbarLink:active > .NavbarLinkLabel:after,
.no-touch .NavbarLink:hover > .NavbarLinkLabel:after
  background-color: currentColor
  width: 100%

.NavbarLink.isNotificationsUnread > .NavbarLinkLabel:before
  content: ''
  width: rem(5)
  height: rem(5)
  border-radius: 50%
  background-color: $danger
  position: absolute
  top: rem(5)
  left: rem(-5)

.no-touch .NavbarLink.isNotificationsUnread:hover > .NavbarLinkLabel:before
  width: rem(7)
  height: rem(7)
  left: rem(-7)

// Stream button has an acceptable Avatar being dragged - turn background yellow
[data-dragging-priority="noise"] .NavbarLink[href="/following"],
[data-dragging-priority="friend"] .NavbarLink[href="/starred"],
[data-dragging-priority="inactive"] .NavbarLink[href="/following"],
[data-dragging-priority="inactive"] .NavbarLink[href="/starred"]
  padding-left: rem(10)
  padding-right: rem(10)
  background-color: #ffffcc

// Stream button has an acceptable Avatar being dragged over it - turn background green
[data-dragging-priority="noise"] .NavbarLink.hasDragOver[href="/following"],
[data-dragging-priority="friend"] .NavbarLink.hasDragOver[href="/starred"],
[data-dragging-priority="inactive"] .NavbarLink.hasDragOver[href="/following"],
[data-dragging-priority="inactive"] .NavbarLink.hasDragOver[href="/starred"]
  background-color: #ccffcc

