.Cover
  display: none
  transition: background-color $speed ease, opacity $speed ease
  position: fixed
  top: 0
  left: 0
  right: 0
  padding-bottom: 56.25%
  z-index: -1
  text-align: center
  background: #999 no-repeat 50% 50%
  background-size: cover

main[data-pathname^="/onboarding/profile-"] ~ .Cover
  display: block

