@import ../../vendor/lib

.Notification
  position: relative
  overflow: hidden
  padding: rem(10) rem(10) rem(5) rem(60)
  line-height: rem(18)

.Notification + .Notification
  border-top: 1px solid #e5e5e5

.NotificationHeader
  position: absolute
  top: rem(10)
  left: rem(10)

.NotificationBody
  margin-bottom: rem(15)
  word-wrap: break-word

.NotificationFooter
  color: #aaa

.NotificationBody + .NotificationFooter
  margin-top: rem(-10)

.NotificationFooter
  +sans-typeset

.NotificationFooterTimestamp + *
  margin-top: rem(15)
  margin-bottom: rem(5)

.Notification .RelationshipContainer
  color: black

.NotificationBody > p
  margin-top: 0
  margin-bottom: rem(5)
  color: #aaa

.NotificationBody a
  word-wrap: break-word
  max-width: 100%

.NotificationBody > p a,
.NotificationFooter > a
  transition: color $speed

.no-touch .NotificationBody > p a:hover,
.no-touch .NotificationFooter > a:hover
  color: black

.Notification.hasAsset .NotificationBody
  display: inline-block
  vertical-align: top
  width: calc(100% - #{rem(90)})
  margin-right: rem(10)

.Notification .NotificationBody > p a
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  max-width: rem(150)
  display: inline-block
  vertical-align: middle
  line-height: 1.2

.NotificationAsset
  width: rem(80)
  max-height: rem(80)
  overflow: hidden
  float: right
  margin-bottom: rem(4)

.NotificationAsset > *
  display: inline-block
  vertical-align: top

.NotificationSummaryTexts > .TextRegion img:not(.emoji)
  display: none


// Hidden <hr>
.NotificationRule
  margin: rem(6) 0
  border: 0

.Notification .Avatar
  width: rem(30)
  height: rem(30)

