@import ../../styles/lib

.Notification
  position: relative
  min-height: rem(80)
  background-color: white
  padding: rem(20) rem(10) rem(10) rem(50)
  overflow: hidden

.NotificationHeader
  position: absolute
  top: rem(20)
  left: rem(10)

.NotificationBody
  margin-bottom: rem(20)
  word-wrap: break-word

.NotificationFooter
  color: #aaa

.NotificationBody + .NotificationFooter
  margin-top: rem(-15)

.NotificationFooter
  +sans-typeset

.NotificationFooterTimestamp + *
  margin-top: rem(20)

.Notification .RelationsGroup
  color: black

.NotificationBody > p
  margin-top: 0
  color: #aaa

.NotificationBody a
  word-wrap: break-word
  max-width: 100%

.NotificationBody > p a,
.NotificationFooter > a
  transition: color $speed

.no-touch .NotificationBody > p a:hover,
.no-touch .NotificationFooter > a:hover
  color: black

.Notification.hasAsset .NotificationBody
  display: inline-block
  vertical-align: top
  width: calc(100% - #{rem(100)})
  margin-right: rem(10)

.Notification .NotificationBody > p a
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  max-width: rem(150)
  display: inline-block
  vertical-align: middle
  line-height: 1.2

.NotificationAsset
  display: inline-block
  vertical-align: top
  width: rem(80)
  max-height: rem(80)
  overflow: hidden
  text-align: right

.NotificationAsset > *
  display: inline-block
  vertical-align: top

.NotificationSummaryTexts > .TextRegion img:not(.emoji)
  display: none

// Hidden <hr>
.CommentNotificationDivider
  border: 0

.Notification .Avatar
  width: rem(30)
  height: rem(30)

@media(min-width: #{$break-2})
  .Notification
    padding-left: rem(60)

