@import "../../lib/styles/properties.css";

.Notification {
  position: relative;
  padding: 10px 10px 5px 60px;
  overflow: hidden;
  line-height: 18px;
}

.Notification + .Notification {
  border-top: 1px solid #e5e5e5;
}

.NotificationHeader {
  position: absolute;
  top: 10px;
  left: 10px;
}

.NotificationBody {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.NotificationFooter {
  font-size: 14px;
  color: #aaa;
}

.NotificationBody + .NotificationFooter {
  margin-top: -10px;
}

.NotificationFooterTimestamp + * {
  margin-top: 15px;
  margin-bottom: 5px;
}

.Notification .RelationshipContainer {
  color: #000;
}

.NotificationBody > p {
  margin-top: 0;
  margin-bottom: 5px;
  color: #aaa;
}

.NotificationBody a {
  max-width: 100%;
  word-wrap: break-word;
}

.NotificationBody > p a,
.NotificationFooter > a {
  transition: color var(--speed);
}

/* stylelint-disable selector-max-compound-selectors */
.no-touch .NotificationBody > p a:hover,
.no-touch .NotificationFooter > a:hover {
  color: #000;
}

.Notification.hasAsset .NotificationBody {
  display: inline-block;
  width: calc(100% - 90px);
  margin-right: 10px;
  vertical-align: top;
}

.Notification .NotificationBody > p a {
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
/* stylelint-enable selector-max-compound-selectors */

.NotificationAsset {
  float: right;
  width: 80px;
  max-height: 80px;
  margin-bottom: 4px;
  overflow: hidden;
}

.NotificationAsset > * {
  display: inline-block;
  vertical-align: top;
}

.NotificationAsset .embetter {
  pointer-events: none;
}

.NotificationAsset .EmbedRegionContent {
  pointer-events: auto;
}

.NotificationSummaryTexts > .TextRegion img:not(.emoji) {
  display: none;
}

/* Hidden <hr> */
.NotificationRule {
  margin: 6px 0;
  border: 0;
}

.Notification .Avatar {
  width: 30px;
  height: 30px;
}

