@import "../../lib/styles/properties.css";

/* ------------------------------------- */

.FooterLink {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  border-bottom: 0;
}

.FooterLink > span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  transition: width var(--speed) var(--ease);
}

.no-touch .FooterLink:hover {
  color: #000;
}

/* ------------------------------------- */

.FooterTool {
  font-size: 0.75rem;
  text-align: left;
}

.FooterTool > span {
  display: inline-block;
  width: 0;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  transition: width var(--speed) var(--ease), color var(--speed);
}

.FooterTool.LayoutTool > .SVGIcon {
  margin-top: -2px;
}

.no-touch .FooterTool:hover {
  color: #000;
}

/* stylelint-disable selector-max-compound-selectors, selector-max-specificity */
.no-touch .FooterTool.TopTool:hover > span {
  width: 30px;
}

.no-touch .FooterTool.LayoutTool:hover > span {
  width: 66px;
}
/* stylelint-enable selector-max-compound-selectors, selector-max-specificity */

/* ------------------------------------- */

.FooterForm {
  display: flex;
  align-items: center;
  text-align: left;
}

