@import ../../styles/lib

.Footer
  transition: transform 150ms ease
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: $z-footer
  height: rem(30)
  padding: 0 rem(10)
  line-height: rem(30)
  background-color: white
  color: #aaa

// Hide it when the Paginator is visible
.Footer.isPaginatoring
  transform: translate3d(0, 100%, 0)

// Piggy back off of the Navbar for the moment
.Navbar.asFixed.asHidden + .Footer
  transform: translate3d(0, 100%, 0)

.FooterTools
  position: absolute
  top: 0
  right: rem(10)

.FooterLinks > .FooterLink,
.FooterTools > .FooterTool
  margin-left: rem(10)

.FooterTools > .FooterTool:last-child
  margin-right: rem(-8)

@media(min-width: #{$break-2})
  .Footer
    padding: 0 rem(20)
  .FooterTools
    right: rem(20)
  .FooterLinks > .FooterLink
    margin-left: rem(20)

@media(min-width: #{$break-4})
  .Footer
    padding: 0 rem(40)
  .FooterTools
    right: rem(40)
  .FooterLinks > .FooterLink
    margin-left: rem(40)

body.hideFooter .Footer,
[data-pathname="/forgot-password"] ~ .Footer,
[data-pathname="/signup"] ~ .Footer,
[data-pathname="/enter"] ~ .Footer,
[data-pathname^="/join"] ~ .Footer
  display: none

