@import "../../lib/styles/properties.css";

.Footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-footer);
  display: flex;
  justify-content: space-between;
  height: 54px;
  padding: 0 10px;
  line-height: 54px;
  color: #aaa;
  background-color: #f2f2f2;
  transition: transform 150ms ease;
}

.isAuthenticationView ~ .Footer,
.isOnboardingView ~ .Footer {
  display: none;
}

/* Hide it when the Paginator is visible */
.Footer.isPaginatoring {
  transform: translate3d(0, 100%, 0) !important;
}

.isNavbarHidden ~ .Footer {
  transform: translate3d(0, 100%, 0);
}

/* 374 and below */
@media (max-width: 23.375em) {
  .Footer {
    height: 40px;
    line-height: 40px;
  }
}

.FooterLinks {
  position: relative;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.FooterLinks > .FooterLink {
  margin-right: 15px;
}

.FooterTools {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.FooterTools::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  z-index: 2;
  width: 20px;
  content: "";
  background: linear-gradient(to right, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 1) 90%);
}

.FooterTools > .LayoutTool {
  margin-right: -8px;
  margin-left: 5px;
}

/* MAX-WIDTH! */
@media (--break-2-max) {
  .isEditorFocused .Footer {
    display: none;
  }
}

@media (--break-2) {
  .Footer {
    padding: 0 20px;
  }

  .no-touch .isNavbarHidden ~ .Footer:hover {
    transform: none;
  }

  .no-touch .isNavbarHidden ~ .Footer::before {
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    height: 15px;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }

  .FooterLinks > .FooterLink {
    margin-right: 20px;
  }
}

@media (--break-4) {
  .Footer {
    padding: 0 40px;
  }

  .FooterTools::before {
    display: none;
  }
}

