.Avatar
  position: relative
  background: #e5e5e5 no-repeat 50% 50%
  background-size: cover

.AvatarUploader .Avatar
  +circle(rem(160))

.AvatarUploader
  position: relative
  color: #aaa

.AvatarUploader > .Button
  +ButtonPrimary
  min-width: rem(280)

.AvatarUploader > p
  margin-bottom: 0

.AvatarUploader > p + p
  margin-top: 0

