.HeaderUploader
  transition: background-color $speed ease, opacity $speed ease
  padding-bottom: 56.25%
  // height: 100%
  background-color: rgba(black, 0.5)
  color: white
  text-align: center

.HeaderUploader > .Button
  +ButtonPrimary
  min-width: rem(280)

.HeaderUploader > p
  margin-bottom: 0

.HeaderUploader > p + p
  margin-top: 0

