@import ../../styles/lib

.UploaderButton
  +sans-typeset
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease, width $speed $ease
  min-width: rem(280)
  height: rem(60)
  padding: 0 rem(30)
  line-height: rem(60)
  text-align: center
  background-color: black
  border: 1px solid black
  color: white

.hasDragOver .UploaderButton,
.no-touch .UploaderButton:hover
  background-color: #666
  border-color: #666
  color: white

.Uploader > p
  margin-bottom: 0

.Uploader > p + p
  margin-top: 0

.UserDetailAvatarUploader
  position: absolute
  top: 0
  left: 0
  width: rem(120)
  height: rem(120)
  border-radius: 50%
  z-index: 5

.UserDetailCoverUploader
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: -1
  padding-bottom: 56.25%
  text-align: center
  background: transparent

.UserDetailAvatarUploader > *,
.UserDetailCoverUploader > *
  display: none

@media(min-width: #{$break-2})
  .UserDetailAvatarUploader
    width: rem(180)
    height: rem(180)

