@import ../../vendor/lib

.Uploader
  position: relative

.isAvatarUploader
  text-align: center

.isCoverUploader
  display: block
  width: 100%
  height: rem(220)

.isSettingsCoverUploader
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

.isXLUploader
  padding-top: rem(240)
  width: rem(220)

.isLGUploader
  padding-top: rem(140)
  width: rem(120)

.Uploader:before
  content: ''
  transition: background-color $speed ease
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 2
  background-color: transparent

.hasDragOver.Uploader:before
  background-color: rgba(black, 0.4)

.isAvatarUploader:before
  border-radius: 50%

.isXLUploader:before
  width: rem(220)
  height: rem(220)

.isLGUploader:before
  width: rem(120)
  height: rem(120)


.UploaderButton
  +sans-typeset
  position: relative
  z-index: 3
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease, width $speed $ease, opacity $speed
  min-width: rem(160)
  height: rem(40)
  padding: 0 rem(20)
  border-radius: rem(5)
  line-height: rem(40)
  text-align: center
  background-color: white
  border: 1px solid #aaa
  color: #aaa
  display: inline-block

.isAvatarBlank .UploaderButton,
.isCoverBlank .UploaderButton
  background-color: #00d100
  border-color: #00d100
  color: white

.hasDragOver .UploaderButton,
.no-touch .Uploader:hover .UploaderButton
  background-color: #00b100
  border-color: #00b100
  color: white

.UploaderMessages
  position: relative
  z-index: 3
  max-width: rem(160)
  margin: 0 auto
  color: #aaa

.UploaderMessages > p
  margin-bottom: 0

.UploaderMessages > p + p
  margin-top: 0

.isSettingsCoverUploader .UploaderButton,
.isSettingsCoverUploader .UploaderMessages
  transform: translateY(#{rem(-160)})

@media(min-width: #{$break-2})
  .isLGUploader
    padding-top: rem(200)
    width: rem(180)
  .isLGUploader:before
    width: rem(180)
    height: rem(180)

@media(min-width: #{em(1160)})
  .OnboardingCoverPicker .UploaderMessages
    position: absolute
    top: rem(-15)
    right: rem(-180)
    text-align: left

