@import "../../lib/styles/properties.css";

.Comments {
  position: relative;
  max-width: 640px;
}

.isLoggedOut .PostDetail .Comments {
  margin-top: 5px;
}

.Comment {
  position: relative;
  padding-top: 20px;
}

.CommentHeader {
  position: relative;
  height: 30px;
  font-size: 14px;
  color: #aaa;
  background-color: #fff;
}

.CommentHeader .Avatar {
  position: absolute;
  top: 3px;
  left: 0;
}

.CommentHeaderAuthor {
  position: relative;
  display: inline-block;
  max-width: calc(100% - 50px);
  padding-left: 40px;
  line-height: 30px;
  vertical-align: middle;
}

.CommentHeaderLink {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.no-touch .CommentHeaderLink:hover {
  color: #535353;
}

.CommentBody {
  padding-bottom: 20px;
  margin-left: 40px;
  border-bottom: 1px solid #e5e5e5;
}

/* // TODO: Need to really separate CommentTools from PostTools. */
.CommentTools.PostTools {
  position: absolute;
  top: 20px;
  right: 0;
  display: flex;
  padding-top: 0;
}

.CommentTools .ShyTool {
  position: absolute;
  right: -40px;
  z-index: 3;
}

.CommentTools .ShyTool + .ShyTool {
  right: -70px;
}

/* // Override the hiding of this thing from bad the PostTools */
.Posts .CommentTools .TimeAgoTool {
  display: inline-block;
  color: #aaa;
  cursor: default;
}

.CommentTools .ReplyTool .SVGIcon {
  margin-top: -2px;
}

.CommentTools .MoreTool > button {
  padding-right: 0;
}

.CommentTools .MoreTool .SVGIcon {
  transform: rotate(180deg);
}

.CommentTools.isMoreToolActive .MoreTool .SVGIcon {
  color: #000;
  transform: none;
}

/* // MAX WIDTH! */
@media (--break-2-max) {
  .CommentTools.PostTools.isMoreToolActive {
    transform: translate3d(-60px, 0, 0);
  }

  .CommentTools.PostTools.isMoreToolActive.isShyToolSolo {
    transform: translate3d(-30px, 0, 0);
  }

  .CommentTools.isMoreToolActive > .ShyTool {
    pointer-events: auto;
    opacity: 1;
  }

  .CommentTools:not(.isMoreToolActive) > .ShyTool {
    display: none;
  }

  .CommentTools .MoreTool .SVGIcon {
    transform: rotate(180deg);
  }

  .CommentTools.isMoreToolActive .MoreTool .SVGIcon {
    color: #000;
    transform: none;
  }
}

/* // MIN WIDTH! */
@media (--break-2) {
  .CommentHeader {
    height: 25px;
  }

  .CommentHeaderAuthor {
    padding-left: 60px;
    line-height: 20px;
  }

  .CommentBody {
    margin-left: 60px;
  }

  .CommentTools .MoreTool {
    display: none;
  }

  .no-touch .CommentTools .ShyTool {
    display: inline-block !important;
    pointer-events: none;
    opacity: 0;
  }

  .no-touch .CommentTools:hover .ShyTool {
    pointer-events: auto;
    opacity: 1;
  }
}

