@import ../../styles/lib

.Comments
  position: relative

.Comments > .SVGIcon
  position: absolute
  top: rem(22)
  left: 0

.CommentsLink
  +sans-typeset
  margin-left: rem(60)
  color: #aaa
  border-bottom: 1px solid #aaa
  line-height: rem(10)

.CommentUsername
  transition: color $speed
  color: #aaa
.no-touch .CommentHeader .PostHeaderLink:hover .CommentUsername
  color: black

.Comments .TimeAgoTool,
.CommentTools .TimeAgoTool
  color: #aaa

.PostHeader.CommentHeader
  height: rem(45)

.CommentBody
  padding-left: rem(60)

.PostTools.CommentTools
  padding-left: rem(60)
  padding-top: inherit

