.Comments
  position: relative

.Comments > .SVGIcon
  position: absolute
  top: rem(22)
  left: 0

.CommentUsername
  transition: color $speed
  color: #aaa
.no-touch .CommentHeader .PostHeaderLink:hover .CommentUsername
  color: black

.Comments .TimeAgoTool
  color: #aaa

.PostHeader.CommentHeader
  height: rem(45)

.CommentBody
  padding-left: rem(60)

.PostTools.CommentTools
  padding-left: rem(60)

