.Comments
  position: relative
  padding-left: rem(20)

.Comments > .SVGIcon
  position: absolute
  top: rem(22)
  left: 0


@media(min-width: #{$break-2})
  .Comments
    padding-left: rem(40)
  .Comments > .SVGIcon
    top: rem(30)

.PostHeader.CommentHeader
  height: rem(45)

.CommentBody
  padding-left: rem(60)

.PostTools.CommentTools
  padding-left: rem(60)

