$speed:  150ms
$speed1: $speed * 1
$speed2: $speed * 2
$speed3: $speed * 3
$speed4: $speed * 4
$ease:   $ease-ios-panel

// $danger: #ff0000
// $success: #00a550

// $z-popover:        1030
// $z-footer:         1035
$z-navbar:         1040
// $z-editor-tools:   1070
// $z-modal-backdrop: 1080
// $z-modal:          1090
// $z-grid:           3000

// $break-b: em(480)
// $break-c: em(720)
// $break-4: em(1020)
// $break-5: em(1470)
// $break-6: em(1920)

// $max-break-b: em(479)
// $max-break-c: em(719)
// $max-break-4: em(1019)


