@mixin max-width
  max-width: rem(780)

// @mixin omni
//   +typeset
//   transition: background-color $speed ease
//   padding: 0 30px
//   background-color: black
//   color: white

// @mixin omni-before
//   +triangle(west, rem(20), black)
//   transition: border-color $speed ease
//   content: ""
//   position: absolute
//   left: rem(-20)

// @mixin loader( $width:30 )
//   background: transparent url(asset-path("assets/loading/scroll-loading.gif")) no-repeat center center
//   background-size: $width * 1px


// -----------------------------------------------------------------------------

audio, canvas, img, svg, video
  vertical-align: middle

img
  +typeset
  max-width: 100%
  border: 0

// if an image has a file extension, give it height: auto for responsiveness.
// until there's a src with a file extension, we show a loading 1x1 gif, which can't have height:auto, to snap to the width/height attributes of the img tag
img[src*='.']
  height: auto

// if an image hasn't loaded yet, we show a base64-encoded 1x1px clear gif, with a loading gif background
img[src*='1x1']
  background: transparent url(asset-path('assets/loading/scroll-loading.gif')) center center no-repeat
  background-size: 30px 30px

audio:not([controls])
  display: none
  height: 0

svg:not(:root)
  overflow: hidden

figure
  margin: 0

table
  +typeset
  width: 100%
  border-collapse: collapse
  border-spacing: 0

tr
  border-bottom: 1px solid #f1f1f1

td, th
  padding: rem(6) 0 rem(5)
  text-align: left

th
  +mono-bold-family
  vertical-align: bottom

