.Avatar
  position: relative
  display: inline-block
  vertical-align: middle
  overflow: hidden
  width: rem(30)
  height: rem(30)
  background: rgba(black, 0.1) no-repeat 50% 50%
  background-image: url("/static/images/support/throbber.gif")
  background-size: cover
  border-radius: 50%

.AvatarImage
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: transparent no-repeat 50% 50%
  background-size: cover

.Avatar:before
  content: ''
  transition: background-color $speed ease
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 2
  background-color: transparent

.no-touch a.Avatar:hover:before,
.no-touch a:hover > .Avatar:before,
.no-touch button.Avatar:hover:before,
.no-touch button:hover > .Avatar:before
  background-color: rgba(white, 0.4)

.hasDragOver + .Avatar.isModifiable:before
  background-color: rgba(black, 0.4)

@media(min-width: #{$break-2})
  .Avatar
    width: rem(40)
    height: rem(40)

