@import ../../vendor/lib

@keyframes animateThrobber
  0%
    background-color: rgba(black, 0.1)
  25%
    background-color: rgba(purple, 0.1)
  50%
    background-color: rgba(green, 0.1)
  75%
    background-color: rgba(purple, 0.1)
  100%
    background-color: rgba(black, 0.1)

.Avatar
  transition: transform $speed $ease
  position: relative
  display: inline-block
  vertical-align: middle
  overflow: hidden
  width: rem(30)
  height: rem(30)
  background: transparent no-repeat 50% 50%
  background-size: cover
  border-radius: 50%
.Avatar.large
  width: rem(120)
  height: rem(120)
.Avatar.tiny
  width: rem(30)
  height: rem(30)

.Avatar.isRequesting
  animation: animateThrobber 2s infinite linear

.Avatar.isPending,
.Avatar.isRequesting
  background-color: rgba(black, 0.1)

.Avatar.isFailing
  background-color: $danger

.AvatarImage
  transition: opacity $speed2
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  border-radius: 50%
  object-fit: cover

.isPending > .AvatarImage,
.isRequesting > .AvatarImage
  opacity: 0

.asUserDetailHeader .isPending > .AvatarImage,
.asUserDetailHeader .isRequesting > .AvatarImage,
.PostHeader .isPending > .AvatarImage,
.PostHeader .isRequesting > .AvatarImage
  opacity: 1

.Avatar:before
  content: ''
  transition: background-color $speed ease
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 2
  background-color: transparent

.no-touch a.Avatar:hover:before,
.no-touch a:hover > .Avatar:before,
.no-touch button.Avatar:hover:before,
.no-touch button:hover > .Avatar:before
  background-color: rgba(white, 0.4)

.no-touch .UserDetailAvatarUploader:hover + .Avatar.isModifiable:before,
.hasDragOver + .Avatar.isModifiable:before
  background-color: rgba(black, 0.4)


@media(min-width: #{$break-2})
  .Avatar
    width: rem(40)
    height: rem(40)
  .Avatar.large
    width: rem(180)
    height: rem(180)

