.Banderole
  display: block
  position: relative
  width: 100%
  height: rem(240)
  background: rgba(black, 0.2) no-repeat 50% 50%
  background-size: cover
  color: white

.BanderoleCaption
  +sanserif
  transform: translateY(-50%)
  position: relative
  top: 50%
  left: rem(10)
  max-width: rem(540)

.BanderoleCaption > h1
  +sans-family
  font-size: rem(18)

.BanderoleCaption > a
  transition: color $speed
  display: inline-block
  margin-top: rem(20)
  border-bottom: 1px solid
.no-touch .BanderoleCaption a:hover
  color: #ccc

.BanderoleCredits
  +monospace
  transition: color $speed
  position: absolute
  bottom: rem(10)
  right: rem(10)
  color: white
.no-touch .BanderoleCredits:hover
  color: #ccc

.BanderoleCreditsAuthor
  display: inline-block
  margin-left: rem(10)
  margin-right: rem(15)
  border-bottom: 1px solid


@media(min-width: #{$break-2})
  .Banderole
    height: rem(380)
  .BanderoleCaption
    left: rem(20)
  .BanderoleCaption > h1
    font-size: rem(36)
  .BanderoleCredits
    bottom: rem(20)
    right: rem(20)

@media(min-width: #{$break-4})
  .BanderoleCaption
    left: rem(40)
  .BanderoleCredits
    right: rem(40)

