@import ../../vendor/lib

.Cover
  transition: background-color $speed ease, opacity $speed2 ease
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: -2
  min-height: rem(220)
  padding-bottom: 56.25%
  text-align: center
  background: rgba(black, 0.2) no-repeat 50% 50%
  background-size: cover

.Cover.isHidden
  opacity: 0

.Cover.isFullScreen
  padding-bottom: 0
  bottom: 0

// The animation lives in global.sass :(
.Cover.isRequesting
  animation: animateLavaLamp 3s infinite linear

.Cover.isFailing
  background-color: $danger

.CoverImage
  transition: opacity $speed2
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: transparent no-repeat 50% 50%
  background-size: cover

.isRequesting > .CoverImage
  opacity: 0

.Cover:before
  content: ''
  transition: background-color $speed ease
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 2
  background-color: transparent

.Cover.hasOverlay:before
  background-color: rgba(black, 0.3)

.Cover.hasOverlay60:before
  background-color: rgba(black, 0.6)

.Cover.isModifiable:before
  background-color: rgba(black, 0.1)

.hasDragOver + .Cover.isModifiable:before
  background-color: rgba(black, 0.4)

