.Cover
  transition: background-color $speed ease, opacity $speed ease
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: -1
  padding-bottom: 56.25%
  text-align: center
  background: rgba(black, 0.2) no-repeat 50% 50%
  background-size: cover

.Cover.asHidden
  display: none

.Cover:before
  content: ''
  transition: background-color $speed ease
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 2
  background-color: transparent

.Cover.isModifiable:before
  background-color: rgba(black, 0.1)

.hasDragOver + .Cover.isModifiable:before
  background-color: rgba(black, 0.4)

