@import "../../lib/styles/properties.css";

.Credits {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
  color: #fff;
  transition: color var(--speed) ease, opacity var(--speed) ease;
}

.no-touch .Credits:hover {
  color: #ccc;
}

.CreditsAuthor {
  display: inline-block;
  margin-right: 15px;
  margin-left: 10px;
  line-height: 1.2;
  border-bottom: 1px solid;
}

.isCreditsHidden .Credits {
  pointer-events: none;
  opacity: 0;
}

.Credits .Avatar.isFailing {
  display: none;
}

@media (--break-2) {
  .Credits {
    right: 20px;
    bottom: 20px;
  }
}

@media (--break-4) {
  .Credits {
    right: 40px;
  }
}

