@import ../../vendor/lib

.Credits
  +sans-typeset
  transition: color $speed ease, opacity $speed ease
  position: absolute
  bottom: rem(10)
  right: rem(10)
  color: white
.no-touch .Credits:hover
  color: #ccc

.CreditsAuthor
  display: inline-block
  line-height: 1.2
  margin-left: rem(10)
  margin-right: rem(15)
  border-bottom: 1px solid

.hideCredits .Credits
  opacity: 0
  pointer-events: none

.Credits .Avatar.isFailing
  display: none

@media(min-width: #{$break-2})
  .Credits
    bottom: rem(20)
    right: rem(20)

@media(min-width: #{$break-4})
  .Credits
    right: rem(40)

