@import "../../lib/styles/properties.css";

/* TODO: Move to immutable? */
.svg-fill {
  fill: currentColor;
  stroke: none;
  transition: fill var(--speed) ease;
}

.svg-fill-transparent {
  fill: transparent;
  stroke: none;
  transition: fill var(--speed) ease;
}

.svg-stroke {
  fill: none;
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-width: 1.25;
  transition: stroke var(--speed) ease, transform var(--speed) ease;
  transform-origin: center center;
}

.svg-stroke-bevel {
  stroke-linejoin: bevel;
}

.svg-stroke-round {
  stroke-linejoin: round;
}

.svg-fill-stroke {
  fill: currentColor;
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-width: 1.25;
  transition: fill var(--speed) ease, stroke var(--speed) ease;
}

/* ------------------------------------- */

.SVGBoxFG,
.SVGBoxBG {
  stroke: none;
  transition: fill var(--speed) ease;
}

.SVGBoxFG {
  fill: #fff;
}

.SVGBoxBG {
  fill: currentColor;
}

/* ------------------------------------- */

.SVGIcon > g {
  fill: transparent;
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-width: 1.25;
  transition: fill var(--speed) ease 0.1s, stroke var(--speed) ease, transform var(--speed) ease;
  transform-origin: center center;
}

.SVGIcon > g:nth-of-type(2) {
  transition-delay: var(--speed), 0.1s, 0.1s;
}

.SVGIcon > g:nth-of-type(3) {
  transition-delay: 0.3s, var(--speed), var(--speed);
}

.SVGIcon > g:nth-of-type(4) {
  transition-delay: var(--speed2), var(--speed), var(--speed);
}

/* ------------------------------------- */

.ElloMark,
.ElloDonutMark,
.ElloRainbowMark,
.ElloOutlineMark {
  display: inline-block;
  overflow: hidden;
  border-radius: 40px;
}

.SmileShape {
  fill: #fff;
}

.ElloOutlineMark {
  border: 1px solid #aaa;
}

.ElloOutlineMark > .SmileShape {
  fill: transparent !important;
  stroke: #aaa !important;
  transform: translateX(-2px);
}

.ElloNinjaSuit {
  position: absolute;
  top: 0;
  left: 0;
  fill: #ed2224;
}

.ElloMark.isSpinner {
  animation: animateIsBusy 1.03333s infinite var(--ease-in-out-cubic);
}

.ElloMark.isSpinner > .SVGBoxBG {
  fill: transparent !important;
}

.ElloMark.isSpinner > .SmileShape {
  fill: #aaa !important;
}

.BlockedUsers .ElloMark.isSpinner,
.TabListStreamContainer .ElloMark.isSpinner,
.MutedUsers .ElloMark.isSpinner {
  animation: animateIsBusyButton 1.03333s infinite var(--ease-in-out-cubic);
}

.BlockedUsers .ElloMark.isSpinner > .SmileShape,
.TabListStreamContainer .ElloMark.isSpinner > .SmileShape,
.MutedUsers .ElloMark.isSpinner > .SmileShape {
  fill: #fff !important;
}

/* ------------------------------------- */

/* stylelint-disable selector-max-compound-selectors, selector-max-specificity, selector-no-qualifying-type */
.WatchTool > button.isActive > .BoltIcon > g,
.Post .isCommentsActive .BubbleIcon > g,
.PostDetails .Post .BubbleIcon > g,
.Post .BubbleIcon > g:nth-child(2) {
  fill: #000;
  stroke: #000;
}

.no-touch .CommentTool > button:hover > .BubbleIcon > g,
.no-touch .FlagTool > button:hover > .FlagIcon > g:nth-of-type(2) {
  fill: #000;
}

.Post .isCommentsRequesting .BubbleIcon > g:nth-child(1),
.Post .BubbleIcon > g:nth-child(2),
.StyleGuide .BubbleIcon > g:nth-child(2) {
  display: none;
}

.Post .isCommentsRequesting .BubbleIcon > g:nth-child(2) {
  display: inline;
}

.Post .isCommentsRequesting .BubbleIcon polygon {
  animation: animateCommentsLoading 0.75s infinite var(--ease-in-out-quart);
}

.PostTool .EyeIcon,
.PostTool .BubbleIcon {
  margin-top: -2px;
}

/* Animations ?? */
.ViewsTool .EyeIcon > circle {
  fill: currentColor;
  stroke: transparent;
  transition: fill var(--speed) ease, stroke var(--speed) ease;
}

.no-touch .ViewsTool > a:hover > .EyeIcon > circle {
  stroke: #000;
  transition-delay: var(--speed), 0s;
}

.no-touch .ViewsTool > a:hover > .EyeIcon > g {
  stroke: #000;
}

/* stylelint-enable selector-max-compound-selectors, selector-max-specificity, selector-no-qualifying-type */

.MarkerIcon {
  color: #ababab;
}

.XClose {
  position: absolute;
  top: 10px;
  right: 15px;
}

.no-touch .XClose:hover {
  color: #000;
}

@media (--break-2) {
  .XClose {
    top: 20px;
    right: 25px;
  }
}

