.FilterBar
  padding: rem(20) rem(10) 0
  color: #aaa

@media(min-width: #{$break-2})
  .FilterBar
    padding: rem(40) rem(20) rem(20)

@media(min-width: #{$break-4})
  .FilterBar
    padding-left: rem(40)
    padding-right: rem(40)

// -------------------------------------

.FilterText
  font-size: rem(18)

.FilterText > .FilterLink
  transition: color $speed ease
  position: relative
  overflow: hidden
  display: inline-block
  height: rem(40)
  line-height: rem(40)
  white-space: nowrap
  &:after
    content: ''
    transition: width $speed $ease, background-color $speed ease
    position: absolute
    bottom: 0
    left: 0
    width: 0
    height: rem(2)
    background-color: transparent

[data-pathname="/"] .FilterLink[href="/discover"],
.FilterText > .FilterLink.active,
.FilterText > .FilterLink:active,
.no-touch .FilterText > .FilterLink:hover
  color: black
  &:after
    width: 100%
    background-color: black

.FilterText > .FilterLink + .FilterLink
  margin-left: rem(20)

@media(min-width: #{$break-2})
  .FilterText
    font-size: rem(24)
  .FilterText > .FilterLink + .FilterLink
    margin-left: rem(30)

// -------------------------------------

.FilterIcon g
  stroke: #aaa

.FilterIcon
  font-size: rem(12)

.FilterIcon > .FilterLink
  display: inline-block
  padding-top: rem(6)
  width: (100% / 6)
  height: rem(30)
  text-align: center
  background-color: #e5e5e5

.FilterIcon > .FilterLink + .FilterLink
  border-left: 1px solid white

.FilterIcon > .FilterLink.active,
.no-touch .FilterIcon > .FilterLink:hover
  background-color: black
  color: white

.FilterIcon > a.active g,
.no-touch .FilterIcon > .FilterLink:hover g
  stroke: white

.FilterIcon > a.active .BubbleIcon g,
.FilterIcon > a.active .HeartIcon g,
.no-touch .FilterIcon > .FilterLink:hover .BubbleIcon g,
.no-touch .FilterIcon > .FilterLink:hover .HeartIcon g
  fill: white

.FilterIcon .BubbleIcon > g:nth-child(2)
  display: none

