@import "../../lib/styles/properties.css";

.OnboardingNavbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-navbar);
  height: 70px;
  padding: 10px;
  font-size: 14px;
  color: #000;
  text-align: right;
  background-color: #f0f0f0;
}

.OnboardingNavbar > .ElloMark {
  position: absolute;
  top: 15px;
  left: 10px;
  transform-origin: 0 0;
}

.OnboardingNextButton:not([disabled]) {
  color: #fff;
  background-color: #00d100;
  border-color: #00d100;
}

.OnboardingNextButton:not([disabled]):active,
.no-touch .OnboardingNextButton:not([disabled]):hover {
  color: #fff;
  background-color: #00b100;
  border-color: #00b100;
}

.OnboardingDoneButton {
  margin-left: 10px;
  color: #aaa;
}

.OnboardingNavbarCounter {
  position: relative;
  top: 15px;
  float: right;
  margin-left: 15px;
  color: #aaa;
}

.OnboardingNavbarCounter .CheckMark {
  position: absolute;
  top: -2px;
  left: -17px;
  transform: scale(0.6);
}

.OnboardingNavbarCounter .CheckMark g {
  stroke: #00d100;
  stroke-width: 2;
}

@media (--break-2-max) {
  .OnboardingNavbarCounter.isCounterSuccess {
    display: none;
  }
}

@media (--break-2) {
  .OnboardingNavbar {
    top: auto;
    bottom: 0;
    height: 100px;
    padding: 25px 20px 20px;
    text-align: center;
  }

  .OnboardingNavbar > .ElloMark {
    top: 20px;
    left: 20px;
    transform: scale(1.5);
  }

  .OnboardingDoneButton {
    margin-left: 30px;
  }

  .OnboardingNavbarCounter {
    position: absolute;
    top: 40px;
    right: 20px;
    float: none;
    margin-left: none;
  }

  .OnboardingNavbarCounter .CheckMark {
    left: -20px;
  }
}

/* ------------------------------------- */
/* Not the best place for this. */
.OnboardingHeading {
  max-width: 480px;
  padding: 10px 10px 23px;
  margin: 0 auto;
  font-size: 16px;
}

.OnboardingHeading > span + span {
  color: #aaa;
}

@media (--break-2) {
  .OnboardingHeading {
    padding: 70px 10px;
    font-size: 24px;
  }

  .OnboardingNavbarCounter {
    right: 20px;
  }
}

