@import ../../vendor/lib

.OnboardingNavbar
  +sans-typeset
  height: rem(150)
  margin-bottom: rem(30)
  padding: rem(10)
  background-color: white

.OnboardingColumn
  width: 100%

.OnboardingColumn:nth-child(1)
  height: rem(70)
.OnboardingColumn:nth-child(2)
  display: flex
  flex-direction: row
  height: rem(40)
  margin-top: rem(15)

.OnboardingColumn > .ElloMark
  display: none

.OnboardingColumn > h1
  +sans-bold-family
  font-size: rem(18)

.OnboardingColumn > p
  max-width: rem(600)
  margin: 0
  color: #aaa

.OnboardingNextButton
  +sans-typeset
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease, width $speed $ease
  order: 2
  width: 100%
  height: rem(40)
  padding: 0 rem(30)
  line-height: rem(40)
  text-align: center
  background-color: #e5e5e5
  border: 1px solid #e5e5e5
  color: #666
.no-touch .OnboardingNextButton:hover
  background-color: #666
  border-color: #666
  color: white
.OnboardingNextButton[disabled]
  pointer-events: none
  background-color: #f1f1f1
  color: #ccc

.OnboardingDoneButton
  order: 1
  width: rem(80)
  height: rem(40)
  line-height: rem(40)
  text-align: left
  border: 0
  color: #aaa
  &:hover
    color: #666


@media(min-width: #{$break-2})
  .OnboardingNavbar
    display: flex
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: $z-navbar
    height: rem(110)
    margin-bottom: 0
    padding: rem(20)
  .OnboardingColumn:nth-child(2)
    flex-direction: column
    align-items: flex-end
    order: 1
    height: rem(70)
    margin-top: 0
  .OnboardingNextButton
    max-width: rem(280)
  .OnboardingDoneButton
    order: 2
    height: rem(30)
    margin: 0
    line-height: rem(30)
    text-align: right

@media(min-width: #{$break-3})
  .OnboardingColumn:nth-child(1)
    padding-left: 15%
  .OnboardingColumn > .ElloMark
    position: absolute
    display: inline-block
  .OnboardingColumn > h1,
  .OnboardingColumn > p
    padding-left: rem(60)

@media(min-width: #{$break-4})
  .OnboardingNavbar
    padding: rem(20) rem(40)

