@import "../../lib/styles/properties.css";

.OnboardingSettings {
  position: relative;
  max-width: 780px;
  margin: 0 auto;
}

.Onboarding .InvitationsForm {
  padding: 0 10px;
}

.OnboardingCoverPicker {
  position: relative;
  margin-bottom: 20px;
}

.OnboardingAvatarPicker {
  position: relative;
  margin: 20px auto;
  text-align: center;
}

.OnboardingAvatarPicker .Avatar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0 auto;
}

.OnboardingAvatarPicker .ElloOutlineMark {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  z-index: 2;
  margin: 0 auto;
  pointer-events: none;
  transform: scale(1.5);
  transform-origin: 50% 0;
}

@media (--break-2) {
  .OnboardingAvatarPicker {
    position: absolute;
    left: 0;
  }
}

