.Avatar
  position: relative
  background: #e5e5e5 no-repeat 50% 50%
  background-size: cover
  overflow: hidden

.Avatar:before
  transition: background-color $speed ease
  content: ''
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: transparent

.hasDragOver > .Avatar:before
  background-color: rgba(black, 0.5)

