@import ../../vendor/lib

.AdultPostsDialog
  max-width: rem(480)
  background-color: white
  color: black

.AdultPostsDialog > p:first-of-type
  margin-top: 0

.AdultPostsDialogButton
  +sans-typeset
  transition: background-color $speed ease, border-color $speed ease
  display: block
  width: 100%
  height: rem(60)
  line-height: rem(60)
  text-align: center
  background-color: black
  border: 1px solid black
  color: white

.no-touch .AdultPostsDialogButton:hover
  background-color: #666
  border-color: #666


@media(min-width: #{$break-2})
  .AdultPostsDialog
    min-width: rem(480)

