@import "../../lib/styles/properties.css";

.BlockMuteDialog {
  max-width: 400px;
}

.BlockMuteDialogColumn + .BlockMuteDialogColumn {
  margin-top: 40px;
}

.BlockMuteDialog h2 {
  height: 30px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  white-space: nowrap;
}

.BlockMuteDialogButton {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 40px;
  color: #000;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: background-color var(--speed) ease, border-color var(--speed) ease, color var(--speed) ease;
}

.BlockMuteDialogButton.isActive,
.no-touch .BlockMuteDialogButton:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.BlockMuteDialogButton.isActive:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

@media (--break-2) {
  .BlockMuteDialog {
    max-width: 800px;
  }

  .BlockMuteDialogColumn {
    display: inline-block;
    max-width: calc(33.33333% - 30px);
    vertical-align: top;
  }

  .BlockMuteDialogColumn + .BlockMuteDialogColumn {
    margin-top: 0;
    margin-left: 30px;
  }

  .BlockMuteDialog h2 {
    font-size: 24px;
  }
}

