@import ../../vendor/lib

.BuyLinkDialog
  width: 100%
  max-width: rem(440)

.BuyLinkDialogTitle
  font-size: rem(24)
  margin-bottom: rem(30)

.BuyLinkDialogControl .FormControlInput.isBoxControl
  height: rem(50)
  padding: 0 rem(35) 0 rem(10)
.BuyLinkDialogControl .FormControlStatus.isBoxControl
  top: rem(11)

.BuyLinkDialogButton
  +sans-typeset
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease, width $speed $ease
  width: rem(100)
  height: rem(50)
  padding: 0 rem(20)
  border-radius: rem(5)
  line-height: rem(50)
  text-align: center
  color: #aaa

.BuyLinkDialogButton.isSubmit
  margin-right: rem(10)
  background-color: #00d100
  color: white

.BuyLinkDialogButton[disabled]
  background-color: #aaa

.BuyLinkDialogButton.isRemove
  margin-right: rem(10)
  background-color: #aaa
  color: white

.BuyLinkDialogButton:focus,
.no-touch .BuyLinkDialogButton:hover
  background-color: #666
  border-color: #666
  color: white

.BuyLinkDialogButton[disabled]
  color: #666


