@import ../../styles/lib

.ConfirmDialog
  text-align: center

.ConfirmDialog h2
  margin-bottom: rem(10)
  font-size: rem(18)
  height: rem(30)
  line-height: rem(30)
  white-space: nowrap

.ConfirmDialogButton
  +sans-typeset
  transition: background-color $speed ease, border-color $speed ease, color $speed ease, opacity $speed ease
  display: inline-block
  vertical-align: middle
  width: rem(60)
  height: rem(40)
  border-radius: rem(20)
  text-align: center
  line-height: rem(40)
  white-space: nowrap
  background-color: white
  border: 1px solid white
  color: black

.ConfirmDialogButton.isActive,
.no-touch .ConfirmDialogButton:hover
  background-color: black
  border-color: black
  color: white

.ConfirmDialogButton + .ConfirmDialogButton
  margin-left: rem(5)

@media(min-width: #{$break-2})
  .ConfirmDialog h2
    display: inline-block
    vertical-align: middle
    margin-right: rem(20)
    margin-bottom: 0
    font-size: rem(24)


