@import ../../styles/lib

.DeleteAccountDialog
  position: relative
  max-width: rem(480)
  text-align: center

.DeleteAccountDialog h2
  margin-bottom: rem(10)
  font-size: rem(18)
  height: rem(30)
  line-height: rem(30)
  white-space: nowrap

.DeleteAccountDialog p
  position: absolute
  margin-top: rem(40)
  text-align: left

@media(min-width: #{$break-2})
  .DeleteAccountDialog
    text-align: left
  .DeleteAccountDialog h2
    display: inline-block
    vertical-align: middle
    margin-right: rem(20)
    margin-bottom: 0
    font-size: rem(24)

