@import ../../vendor/lib

.Dialog
  position: relative

.Modal > .Dialog
  margin: 0 auto
  padding: rem(10)

.DialogClose
  color: white
  position: absolute
  top: rem(-10)
  right: rem(-10)

.no-touch .DialogClose:hover
  color: #aaa

@media(min-width: #{$break-2})
  .Modal > .Dialog
    padding: rem(20)

@media(min-width: #{$break-4})
  .Modal > .Dialog
    padding: rem(40)

