@import "../../lib/styles/properties.css";

.Dialog {
  position: relative;
}

.Modal > .Dialog {
  padding: 10px;
  margin: 0 auto;
}

.DialogClose {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
}

.no-touch .DialogClose:hover {
  color: #aaa;
}

.TextDialog {
  max-width: 480px;
  font-size: 18px;
}

/* Short bios... */
.TextDialog p {
  font-size: 18px;
}

.TextDialog a {
  font-size: 18px;
}

.FeaturedInDialog {
  font-size: 18px;
}

.FeaturedInDialog a {
  line-height: 1;
  border-bottom: 1px solid;
}

.TextDialog .Dismiss {
  position: fixed;
  top: 5px;
  right: 5px;
}

.no-touch .Dismiss:hover {
  color: #aaa;
}

@media (--break-2) {
  .Modal > .Dialog {
    padding: 20px;
  }

  .TextDialog .Dismiss {
    top: 10px;
    right: 10px;
  }
}

@media (--break-4) {
  .Modal > .Dialog {
    padding: 40px;
  }
}

