.Dialog
  position: relative

.Modal > .Dialog
  margin: 0 auto
  padding: rem(10)

@media(min-width: #{$break-2})
  .Modal > .Dialog
    padding: rem(20)

@media(min-width: #{$break-4})
  .Modal > .Dialog
    padding: rem(40)

// -------------------------------------

.HelpDialog
  max-width: rem(400)
  background-color: white
  color: black

.HelpDialog h2
  +heading
  line-height: 1
  padding-left: rem(50)

.HelpDialog > p
  position: relative
  padding-left: rem(50)
  margin-bottom: 0

.HelpDialog .ShortcutLabel
  position: absolute
  left: 0

@media(min-width: #{$break-2})
  .HelpDialog
    min-width: rem(400)

// -------------------------------------

.ShareDialog
  max-width: rem(290)
  background-color: white
  color: black

.ShareControl
  +monospace
  transition: background-color $speed ease, border-color $speed ease
  display: inline-block
  vertical-align: baseline
  width: 100%
  padding: rem(20)
  background-color: black
  border: 1px solid black
  color: white
.ShareControl:focus
  background-color: #666
  border-color: #666
  outline: 0

.ShareLinks
  margin-left: rem(-10)
  display: flex
  flex-wrap: wrap

.ShareLink
  position: relative
  display: inline-block
  margin-top: rem(10)
  margin-left: rem(10)
  // &:before
  //   +hitarea
  // temporary
  width: 60px
  height: 60px
  background-color: black

@media(min-width: #{$break-2})
  .ShareDialog
    max-width: rem(610)

