.HelpDialog
  max-width: rem(400)
  background-color: white
  color: black

.HelpDialog h2
  +heading
  padding-left: rem(50)
  line-height: 1

.HelpDialog > p
  position: relative
  margin-bottom: 0
  padding-left: rem(50)

.HelpDialog .ShortcutLabel
  position: absolute
  left: 0


@media(min-width: #{$break-2})
  .HelpDialog
    min-width: rem(400)

