@import ../../vendor/lib

.HelpDialog
  max-width: rem(440)
  background-color: white
  color: black

.HelpDialog h2
  font-size: rem(18)
  padding-left: rem(60)
  line-height: 1
  margin-bottom: rem(30)

.HelpDialog > p
  position: relative
  margin-bottom: 0
  padding-left: rem(60)

.HelpDialog .ShortcutLabel
  +monospace
  position: absolute
  left: 0
  width: rem(50)
  height: rem(22)
  line-height: rem(22)
  border-radius: rem(11)
  text-align: center
  background-color: #e8e8e8
  color: #535353


@media(min-width: #{$break-2})
  .HelpDialog
    min-width: rem(440)
  .HelpDialog h2
    font-size: rem(24)

