@import ../../vendor/lib

.MessageDialog
  width: 100%
  max-width: rem(440)

.MessageMessageControl .FormControlInput.asBoxControl
  height: rem(180)

.MessageDialogTitle
  position: relative
  margin-bottom: rem(30)
  font-size: rem(18)

.MessageDialogSuccessIcon
  position: absolute
  top: rem(7)
  left: rem(-40)
  transform: scale(0.6)

.MessageDialogSuccessIcon.SVGIcon > g
  stroke-linejoin: bevel
  stroke: #00d100

.MessageDialogButton
  +sans-typeset
  transition: background-color $speed ease, color $speed ease
  padding: 0 rem(20)
  height: rem(50)
  border-radius: rem(5)
  line-height: rem(50)
  text-align: center
  color: #aaa

.MessageDialogButton:focus,
.no-touch .MessageDialogButton:hover
  color: white

.MessageDialogButton.isConfirmButton
  margin-right: rem(10)
  background-color: #00d100
  color: white

.MessageDialogButton.isOkayButton
  width: 100%
  background-color: #aaa
  color: white

.MessageDialogButton[disabled]
  background-color: #aaa
  color: white

.MessageDialogButton.isOkayButton:focus,
.no-touch .MessageDialogButton.isOkayButton:hover
  background-color: #999


@media(min-width: #{$break-2})
  .MessageDialogTitle
    font-size: rem(24)

