@import ../../styles/lib

.ShareDialog
  max-width: rem(290)
  background-color: white
  color: black

.ShareControl
  +sans-typeset
  transition: background-color $speed ease, border-color $speed ease
  display: inline-block
  vertical-align: baseline
  width: 100%
  padding: rem(20)
  background-color: black
  border: 1px solid black
  color: white
.ShareControl:focus
  background-color: #666
  border-color: #666
  outline: 0

.ShareLinks
  display: flex
  flex-wrap: wrap
  margin-left: rem(-10)

.ShareLink
  position: relative
  width: rem(60)
  height: rem(60)
  margin-top: rem(10)
  margin-left: rem(10)
  background-color: black


@media(min-width: #{$break-2})
  .ShareDialog
    max-width: rem(630)

