@mixin shape($width:6rem, $height:4rem, $border-radii:false)
  width: $width
  height: $height
  @if $border-radii != false
    border-radius: $border-radii


@mixin rectangle($width:6rem, $height:4rem, $border-radii:false)
  +shape($width, $height, $border-radii)


@mixin square($size:4rem, $border-radii:false)
  +shape($size, $size, $border-radii)


@mixin circle($size:4rem)
  +shape($size, $size, $size)


@mixin oval($width:6rem, $height:4rem)
  $_radii: #{$height} / #{$height * 0.5}
  +shape($width, $height, $_radii)

