.FormControlGroup
  position: relative
  max-width: rem(400)

.FormControl
  +sans-typeset
  transition: border-color $speed $ease, background-color $speed $ease, color $speed $ease, width $speed $ease, height $speed $ease
  display: inline-block
  vertical-align: baseline
  width: 100%
  min-height: rem(40)
  background-color: transparent
  border: 0
  border-bottom: 1px solid #aaa
  color: black
  &:focus
    border-color: black
    outline: 0
  &::placeholder
    color: #aaa

.hasValue > .FormControl
  border-color: black
.isFailing > .FormControl
  border-color: $danger

textarea.FormControl
  height: rem(30)
  min-height: 0
  margin-top: rem(10)

.hasValue > textarea.FormControl,
.hasFocus > textarea.FormControl
  height: rem(115)

@media(min-width: #{$break-3})
  .hasValue > textarea.FormControl,
  .hasFocus > textarea.FormControl
    height: rem(85)

// -------------------------------------

.FormControlLabel
  +sans-typeset
  transition: transform $speed2 $ease, opacity $speed2 $ease, color $speed2 $ease
  display: inline-block
  vertical-align: baseline
  position: absolute
  bottom: rem(-15)
  right: 0
  opacity: 0
  color: #aaa

.isFailing > .FormControlLabel,
.hasFocus.hasValue > .FormControlLabel
  transform: translate3d(0,rem(10),0)
  opacity: 1

.isFailing > .FormControlLabel
  color: $danger !important

.hasExceeded.hasValue > .FormControlLabel
  color: $danger

// -------------------------------------

.FormFeedback
  transition: height $speed $ease
  overflow: hidden
  height: 0
  margin: 0

.FormFeedback > span:first-of-type
  display: inline-block
  margin-top: rem(10)

.isFailing > .FormFeedbackError,
.hasFocus.hasSuggestions > .FormFeedbackSuggestions
  height: rem(60)


@media(min-width: #{$break-2})
  .FormFeedback
    position: absolute
    top: 0
    left: rem(330)
    width: rem(280)
  .FormFeedback > span:first-of-type
    margin-top: 0
  .isFailing > .FormFeedbackError
    height: rem(60)
  .isFailing.hasFocus.hasSuggestions > .FormFeedbackError
    height: 0

// -------------------------------------

.FormStatus
  transition: opacity $speed2
  position: absolute
  top: rem(15)
  right: rem(10)
.FormStatus:empty
  opacity: 0

.FormStatus > .SVGIcon > g
  stroke-width: 2

.FormStatus > .RequestIcon > g
  fill: #aaa

.FormStatus > .SuccessIcon > g
  stroke-linejoin: bevel
  stroke: $success

.FormStatus > .FailureIcon > g
  stroke: $danger

