.FormControlGroup
  position: relative

.FormControlGroup.asBoxControl
  margin-bottom: rem(10)

// -------------------------------------

.FormControl
  +sans-typeset
  transition: border-color $speed $ease, background-color $speed $ease, color $speed $ease, width $speed $ease, height $speed $ease
  display: inline-block
  vertical-align: baseline
  width: 100%
  min-height: rem(40)
  background-color: transparent
  border: 0
  border-bottom: 1px solid #aaa
  color: black
  &:focus
    border-color: black
    outline: 0
  &::placeholder
    color: #aaa

.FormControl.asBoxControl
  height: rem(60)
  padding: 0 rem(10)
  background-color: #d8d8d8
  border: 1px solid #d8d8d8
  color: black
.FormControl.asBoxControl:focus
  background-color: white
  border-color: white
.FormControl.asBoxControl.onWhite:focus
  background-color: #666
  border-color: #666
  color: white

.hasValue:not(.isOriginalValue) > .FormControl
  border-color: black

.hasValue:not(.isOriginalValue) > .FormControl.asBoxControl
  background-color: white
  border-color: white
.hasValue:not(.isOriginalValue) > .FormControl.asBoxControl.onWhite
  background-color: #666
  border-color: #666
  color: white

.isFailing > .FormControl,
.isFailing > .FormControl.asBoxControl,
.isFailing > .FormControl.asBoxControl.onWhite
  border-color: $danger

textarea.FormControl:not(.asBoxControl)
  height: rem(30)
  min-height: 0
  margin-top: rem(10)

textarea.FormControl.asBoxControl
  height: rem(120)
  padding-top: rem(20)
  padding-bottom: rem(20)
  margin-bottom: rem(-5)

.hasValue > textarea.FormControl:not(.asBoxControl),
.hasFocus > textarea.FormControl:not(.asBoxControl)
  height: rem(115)

@media(min-width: #{$break-3})
  .hasValue > textarea.FormControl:not(.asBoxControl),
  .hasFocus > textarea.FormControl:not(.asBoxControl)
    height: rem(85)

// -------------------------------------

.FormControlLabel
  +sans-typeset
  transition: transform $speed2 $ease, opacity $speed2 $ease, color $speed2 $ease
  display: inline-block
  vertical-align: baseline
  position: absolute
  bottom: rem(-15)
  right: 0
  opacity: 0
  color: #aaa

.FormControlLabel.asBoxControl
  font-size: rem(11)
  top: rem(20)
  bottom: auto
  left: rem(11)
  right: auto

.isFailing > .FormControlLabel,
.hasFocus.hasValue > .FormControlLabel
  transform: translate3d(0,rem(10),0)
  opacity: 1

.isFailing > .FormControlLabel.asBoxControl,
.hasFocus.hasValue > .FormControlLabel.asBoxControl
  transform: translate3d(0,rem(-17),0)

.isFailing > .FormControlLabel
  color: $danger !important

.hasExceeded.hasValue > .FormControlLabel
  color: $danger

// -------------------------------------

.FormControlFeedback
  transition: height $speed $ease
  overflow: hidden
  height: 0
  margin: 0

.FormControlFeedback > span:first-of-type
  display: inline-block
  margin-top: rem(10)

.isFailing > .FormControlFeedbackError,
.hasFocus.hasSuggestions > .FormControlFeedbackSuggestions,
.hasFocus.showAdvice > .FormControlFeedbackSuggestions
  height: rem(80)


@media(min-width: #{$break-3})
  .FormControlFeedback
    position: absolute
    top: 0
    left: rem(330)
    width: rem(280)
  .FormControlFeedback > span:first-of-type
    margin-top: 0
  .isFailing > .FormControlFeedbackError
    height: rem(60)
  .isFailing.hasFocus.hasSuggestions > .FormControlFeedbackError
    height: 0

// -------------------------------------

.FormControlSuggestionList
  transition: height $speed $ease
  overflow: hidden
  height: 0
  margin: 0
.showSuggestionList > .FormControlSuggestionList
  height: rem(75)

.FormControlSuggestionList > p
  margin: rem(5) 0 0

.FormControlSuggestionList > button
  +sans-typeset
  transition: color $speed
  margin-right: rem(10)
  border-bottom: 1px solid

.no-touch .FormControlSuggestionList > button:hover
  color: #aaa

.FormControlSuggestionList > button:after
  content: ','

.FormControlSuggestionList > button:last-of-type
  margin-right: 0

.FormControlSuggestionList > button:last-of-type:after
  content: ''

// -------------------------------------

.FormControlStatus
  transition: opacity $speed2
  position: absolute
  top: rem(15)
  right: rem(10)
.FormControlStatus:empty
  opacity: 0

.FormControlStatus > .SVGIcon > g
  stroke-width: 2

.FormControlStatus > .RequestIcon > g
  fill: #aaa

.FormControlStatus > .SuccessIcon > g
  stroke-linejoin: bevel
  stroke: $success

.FormControlStatus > .FailureIcon > g
  stroke: $danger

