@import ../../styles/lib

.FormDialog
  width: rem(300)
  margin: 0 auto

.FormDialog > h1
  margin-bottom: rem(20)
  font-size: rem(24)
  line-height: 1
  white-space: nowrap

.FormDialog > p
  margin-top: rem(20)
  color: #aaa

.FormDialog a:focus,
.FormDialog a:active,
.no-touch .FormDialog a:hover
  color: white

.ForgotPasswordLink
  +sans-typeset
  margin-top: rem(15)
  color: #aaa


@media(min-width: #{em(350)})
  .FormDialog
    width: rem(320)

@media(min-width: #{$break-2})
  .FormDialog
    margin: auto
  .FormDialog > h1
    margin-bottom: rem(70)
  .FormDialog > p
    margin-top: rem(70)

