.FormButton
  +sans-typeset
  transition: background-color $speed $ease, border-color $speed $ease, color $speed $ease, width $speed $ease
  width: 100%
  height: rem(60)
  padding: 0 rem(30)
  line-height: rem(60)
  text-align: center
  background-color: black
  border: 1px solid black
  color: white

.FormButton:focus,
.no-touch .FormButton:hover
  background-color: #666
  border-color: #666
  color: white

.FormButton[disabled]
  color: #666

.FormButton.asPill
  width: auto
  height: rem(40)
  line-height: rem(40)
  border-radius: rem(20)

