@import ../../vendor/lib

.SettingsInfoForm .isInitialValue .FormControlStatus
  display: none

.OnboardingInfoForm
  padding: rem(20) rem(10) rem(80)

.OnboardingInfoForm .FormControlStatus
  top: rem(10)

.OnboardingInfoForm .SVGIcon
  transform: scale(0.6)

@media(min-width: #{$break-3})
  .OnboardingInfoForm
    min-height: rem(410)
    margin-left: rem(285)
    padding-top: rem(40)

