@import ../../vendor/lib

@keyframes showWaitThenHide
  0%
    opacity: 0
  10%
    opacity: 1
  90%
    opacity: 1
  100%
    opacity: 0

.isOnboardingView ~ .MainView .InfoForm
  position: relative
  max-width: rem(610)

.InfoFormStatus
  +sans-typeset
  transition: opacity $speed2
  position: absolute
  right: 0
  padding: 0 rem(15)
  min-width: rem(240)
  height: rem(30)
  border-radius: rem(15)
  line-height: rem(30)
  text-align: center
  background-color: black
  border: 1px solid black
  color: white
  opacity: 0
  display: none

.InfoFormStatus.showThenHideMessage
  display: inline
  animation: showWaitThenHide 3s 1 linear

.isOnboardingView ~ .MainView .InfoFormStatus
  margin-top: rem(20)

