@import ../../styles/lib

.Preference
  position: relative
  padding-top: rem(30)
  padding-bottom: rem(27)
  border-top: 1px solid #e5e5e5

.Preference dl
  width: calc(100% - #{rem(80)})
  max-width: rem(440)

.Preference dd
  color: #aaa
  margin-top: rem(20)

.no-touch .Preference dd a:hover
  color: #666

.Preference .ToggleControl
  position: absolute
  top: rem(30)
  right: 0

