@import "../../lib/styles/properties.css";

.RegistrationSuccess {
  position: relative;
  padding-top: 40px;
  margin: auto;
  font-size: 24px;
}

.RegistrationRequestForm {
  position: relative;
  z-index: 1;
}

@media (--break-2) {
  .RegistrationSuccess {
    width: max-content; /* stylelint-disable-line */
    padding-top: 0;
  }
}

