@import ../../styles/lib

.RegistrationSuccess
  margin: auto
  font-size: rem(24)
  padding-top: rem(40)

@media(min-width: #{$break-2})
  .RegistrationSuccess
    padding-top: 0
    width: max-content
