@import ../../vendor/lib

.ToggleControl
  +sans-typeset
  transition: background-color $speed ease, border-color $speed ease, color $speed ease, opacity $speed ease
  display: inline-block
  width: rem(60)
  height: rem(30)
  border-radius: rem(15)
  text-align: center
  line-height: rem(30)
  white-space: nowrap
  background-color: #aaa
  border: 1px solid #aaa
  color: white
  cursor: pointer

.ToggleControl.isChecked
  background-color: #00cc00
  border-color: #00cc00

.ToggleControl[disabled]
  opacity: 0.25

.no-touch .ToggleControl:hover
  background-color: white
  border-color: #aaa
  color: #aaa

.ToggleControl input[type="checkbox"]
  +invisible

